{{- define "note" -}}
{{.Body}}{{if not (stringHasPrefix .Issue "_")}} [[GH-{{- .Issue -}}](https://github.com/hashicorp/vault/pull/{{- .Issue -}})]{{else}}{{if .Hash }} ([{{- slice .Hash 0 8 -}}](https://github.com/hashicorp/vault/commits/{{- .Hash -}})){{end}}{{end}}
{{- end -}}
