<PageHeader as |p|>
  <p.top>
    <Page::Breadcrumbs @breadcrumbs={{this.breadcrumbs}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3" data-test-pki-key-page-title>
      Configure PKI
    </h1>
  </p.levelLeft>
</PageHeader>

<PkiConfigureForm @config={{this.model}} />