<div class="box is-fullwidth is-shadowless is-marginless">
  <h4 class="title is-5 is-marginless">
    Create a mount filter config for <code>{{model.config.id}}</code>
  </h4>
</div>
<form {{action "saveConfig" model.config on="submit"}}>
  {{mount-filter-config-list
    mounts=model.mounts
    config=model.config
  }}
  <div class="field is-grouped box is-fullwidth is-shadowless">
    <div class="control">
      <button type="submit" class="button is-primary" >
        Create
      </button>
    </div>
    <div class="control">
      {{#link-to
        "vault.cluster.replication.mode.secondaries.config-show"
        model.config.id
        class="button"
        }}
        Cancel
      {{/link-to}}
    </div>
  </div>
</form>
