{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Multi-Factor Authentication
    </h1>
  </p.levelLeft>
</PageHeader>

<div class="box is-fullwidth is-sideless is-flex-between is-shadowless is-marginless">
  <p>
    Configure and enforce multi-factor authentication (MFA) for users logging into Vault, for any
    <br />
    authentication method.
    <Hds::Link::Inline @href={{doc-link "/vault/tutorials/auth-methods/multi-factor-authentication"}}>Learn more</Hds::Link::Inline>
  </p>
  <Hds::Button @text="Configure MFA" @route="vault.cluster.access.mfa.methods.create" data-test-mfa-configure />
</div>
<div class="box is-fullwidth is-shadowless">
  <p>
    <b>Step 1:</b>
    Set up an MFA configuration using one of the methods; TOTP, Okta, Duo or Pingid.
  </p>
  <p>
    <b>Step 2:</b>
    Set up an enforcement to map the MFA configuration to your chosen auth method(s).
  </p>
</div>

<div class="box is-fullwidth is-shadowless">
  <img src={{img-path "~/mfa-landing.png"}} alt="MFA configure diagram" />
</div>