{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<Page::Header @title=" Multi-factor authentication">
  <:description>
    Enforce a secondary layer of identity verification (such as TOTP, Okta, or Duo) during the login process.
    <Hds::Link::Inline @isHrefExternal={{true}} @href={{doc-link "/vault/gui/login-mfa"}}>
      Learn more
    </Hds::Link::Inline>
  </:description>
  <:actions>
    <Hds::Button @text="Configure MFA" @route="vault.cluster.access.mfa.methods.create" data-test-mfa-configure />
  </:actions>
</Page::Header>

<div class="box is-fullwidth is-shadowless">
  <p>
    <b>Step 1:</b>
    Set up an MFA configuration using one of the methods; TOTP, Okta, Duo or Pingid.
  </p>
  <p>
    <b>Step 2:</b>
    Set up an enforcement to map the MFA configuration to your chosen auth method(s).
  </p>
</div>

<div class="box is-fullwidth is-shadowless">
  <img src={{img-path "~/mfa-landing.png"}} alt="MFA configure diagram" />
</div>