<h4 class="title is-5 is-marginless">
  Demote cluster
</h4>
<div class="content">
  {{#if (and
      (eq replicationMode 'dr')
      (not model.performance.replicationDisabled)
    )
  }}
  
    <div data-test-demote-warning>
      <AlertInline
        @type="danger"
        @message="Demoting this DR primary cluster
          would result in a DR secondary and in that mode Vault is read-only. This
          cluster is also currently operating as a Performance 
          capitalize model.performance.modeForUrl}}, demoting it will leave your
          replication setup without a performance primary cluster until a new 
          cluster is promoted."
      />
    </div>
  {{/if}}
    <p>
      Demote this {{replicationDisplayMode}} primary cluster to a {{replicationDisplayMode}} secondary. The resulting secondary cluster will not
      attempt to connect to a primary, but will maintain knowledge of its cluster
      ID and can be reconnected to the same set of replication clusters without
      wiping local storage.
    </p>
    <p>
      In order to connect the resulting secondary to a new primary, use the <code>Update primary</code> action.
    </p>
</div>
<div class="field">
  <div class="control">
    {{#confirm-action
      buttonClasses="button is-primary"
      onConfirmAction=(action "onSubmit" "demote" model.replicationAttrs.modeForUrl)
      confirmMessage="Are you sure you want to demote this cluster?"
      confirmButtonText="Demote cluster"
      cancelButtonText="Cancel"
      data-test-replication-demote=true
      }}
      Demote cluster
    {{/confirm-action}}
  </div>
</div>
