{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<nav class="tabs has-bottom-margin-s" aria-label="navigation for managing client counts">
  <ul>
    <li>
      <LinkTo @route="vault.cluster.clients.counts.overview" data-test-tab="overview">
        Overview
      </LinkTo>
    </li>
    <li>
      {{! TODO add this route }}
      {{! <LinkTo @route="vault.cluster.clients.counts.client-list" data-test-tab="token">
        Client list
      </LinkTo> }}
    </li>
  </ul>
</nav>