<div class="replication vlt-table" data-test-known-secondaries-table>
  <table class="is-fullwidth">
    <caption class="is-collapsed">Known Secondaries</caption>
    <thead class="has-text-weight-semibold">
      <tr>
        <th scope="col">Secondary ID</th>
        <th scope="col">URL</th>
        <th scope="col">Connected?</th>
      </tr>
    </thead>
    <tbody>
      {{!-- TODO: use real values for URL and connected --}}
      {{#each knownSecondaries as |secondary|}}
          <tr>
            <th scope="row" data-test-secondaries-row={{secondary}}>
              <code>{{or secondary.id secondary}}</code>
            </th>
            <td>
              <code class="is-word-break" data-test-url>{{or secondary.url 'unknown'}}</code>
            </td>
            <td>
              <code>{{or secondary.connected 'unknown'}}</code>
            </td>
          </tr>
      {{/each}}
    </tbody>
  </table>
</div>
