<div class="selectable-card is-rounded secondaries">
  <div class="level">
    <code class="card-title title is-5">Known Secondaries</code>
    <ToolbarLink @params={{array "vault.cluster.settings.auth.configure" model.id}} @data-test-manage-link="true">
      Manage
    </ToolbarLink>
  </div>
  <div>
    <KnownSecondariesTable @data={{replicationAttrs}} />
  </div>
</div>
