<div class="vlt-table">
  <div class="grid-header has-text-weight-semibold">
    <label class="is-label has-text-grey">Secondary ID</label>
    <label class="is-label has-text-grey">URL</label>
    <label class="is-label has-text-grey">Connected?</label>
  </div>
  <div class="grid">
    <code>secondary_id_1</code>
    <code class="is-word-break">http://localhost:4200/ui/vault/replication/dr</code>
    <code>Yes</code>
  </div>
</div>
