{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="tabs-container box is-bottomless is-marginless is-paddingless">
  <nav class="tabs" aria-label="destination tabs">
    <ul>
      <LinkTo @route="secrets.destinations.destination.secrets" data-test-tab="Secrets">Secrets</LinkTo>
      <LinkTo @route="secrets.destinations.destination.details" data-test-tab="Details">Details</LinkTo>
    </ul>
  </nav>
</div>

<Toolbar>
  <ToolbarActions>
    {{! TODO handle delete action in component file }}
    <Hds::Button
      data-test-toolbar="Delete destination"
      @text="Delete destination"
      @color="secondary"
      class="toolbar-button"
    />
    <div class="toolbar-separator"></div>
    <Hds::Button
      data-test-toolbar="Sync new secret"
      @text="Sync new secret"
      @icon="chevron-right"
      @iconPosition="trailing"
      @color="secondary"
      class="toolbar-button"
      @route="secrets.destinations.destination.sync"
    />
    <Hds::Button
      data-test-toolbar="Edit destination"
      @text="Edit destination"
      @icon="chevron-right"
      @iconPosition="trailing"
      @color="secondary"
      class="toolbar-button"
      @route="secrets.destinations.destination.edit"
    />
  </ToolbarActions>
</Toolbar>

{{! TODO delete modal here }}