{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<SyncHeader
  @icon={{@destination.icon}}
  @title={{@destination.name}}
  @breadcrumbs={{array
    (hash label="Secrets sync" route="secrets.overview")
    (hash label="Destinations" route="secrets.destinations")
    (hash label="Destination")
  }}
/>

<div class="tabs-container box is-bottomless is-marginless is-paddingless">
  <nav class="tabs" aria-label="destination tabs">
    <ul>
      <LinkTo @route="secrets.destinations.destination.secrets" data-test-tab="Secrets">Secrets</LinkTo>
      <LinkTo @route="secrets.destinations.destination.details" data-test-tab="Details">Details</LinkTo>
    </ul>
  </nav>
</div>