{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<SyncHeader @title="Secrets Sync">
  <:actions>
    {{! Only allow users who have activated the feature to create a destination. }}
    {{#if @isActivated}}
      <Hds::Button @text="Create first destination" @route="secrets.destinations.create" data-test-cta-button />
    {{/if}}
  </:actions>
</SyncHeader>

<div class="box is-fullwidth is-sideless is-flex-between is-shadowless" data-test-cta-container>
  {{! One cta message regardless of OSS vs Enterprise with/without secrets sync or managed cluster. }}
  <p>
    This feature allows you to sync secrets to platforms and tools across your stack to get secrets when and where you need
    them.
    <Hds::Link::Standalone
      @text="Learn more about Secrets Sync"
      @icon="docs-link"
      @iconPosition="trailing"
      @isHrefExternal={{true}}
      @href={{doc-link "/vault/tutorials/enterprise/secrets-sync"}}
      data-test-cta-doc-link
    />
  </p>
</div>

<div class="is-flex-row gap-24 has-bottom-margin-m">
  <div>
    <img src={{img-path "~/sync-landing-1.png"}} alt="Secrets sync destinations diagram" aria-describedby="sync-step-1" />
    <p id="sync-step-1" class="has-top-margin-m">
      <b>Step 1:</b>
      Create a destination, and set up the connection details to allow Vault access.
    </p>
  </div>
  <div>
    <img src={{img-path "~/sync-landing-2.png"}} alt="Syncing secrets diagram" aria-describedby="sync-step-2" />
    <p id="sync-step-2" class="has-top-margin-m">
      <b>Step 2:</b>
      Select secrets from your KV v2 engine and sync secrets to your destination.
    </p>
  </div>
</div>