<div class="box is-fullwidth is-shadowless" data-test-oidc-landing>
  <p>
    <b>Step 1:</b>
    Create an application, and obtain the client ID, client secret and issuer URL.
  </p>
  <p>
    <b>Step 2:</b>
    Set up a new auth method for Vault with the client application.
  </p>
</div>

<div class="box is-fullwidth is-shadowless">
  <img data-test-oidc-img src={{img-path "~/oidc-landing.png"}} alt="OIDC configure diagram" />
</div>