.root {
  break-inside: avoid-column;
  page-break-inside: avoid;

  &.count-1 ul {
    columns: 1;
  }
  &.count-2 ul {
    columns: 2;
  }
  &.count-3 ul {
    columns: 3;
  }
  &.count-4 ul {
    columns: 4;
  }

  &[class] ul {
    @media (max-width: 500px) {
      columns: 1;
    }
  }

  & > ul li {
    margin-top: 0;
  }
}
