.hero {
  position: relative;
  padding-top: 64px;
  padding-bottom: 64px;
  background: linear-gradient(180deg, #f9f9fa 0%, #fff 28.22%, #fff 100%);

  @media (--medium-up) {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

.pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1600px;
  width: 100%;
  margin: auto;

  @media (--medium-up) {
    background-image: var(--pattern);
    background-repeat: no-repeat;
    background-position: top right;
  }
}

.container {
  --columns: 1;

  composes: g-grid-container from global;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  gap: 48px 32px;

  @media (--medium-up) {
    --columns: 12;
  }
}

.content {
  grid-column: 1 / -1;

  @media (--medium-up) {
    grid-column: 1 / 6;
  }

  & > * {
    max-width: 415px;
  }
}

.heading {
  margin: 0;
  composes: g-type-display-1 from global;
}

.description {
  margin: 8px 0 0;
  composes: g-type-body-small from global;
  color: var(--gray-3);
}

.ctas {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.cards {
  --columns: 1;

  grid-column: 1 / -1;
  align-self: start;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  gap: 32px;

  @media (min-width: 600px) {
    --columns: 2;
  }

  @media (--medium-up) {
    --columns: 1;

    grid-column: 7 / -1;
  }

  @media (--large) {
    --columns: 2;

    grid-column: 6 / -1;
  }
}

.card {
  --token-radius: 6px;
  --token-elevation-mid: 0 2px 3px rgba(101, 106, 118, 0.1),
    0 8px 16px -10px rgba(101, 106, 118, 0.2);

  opacity: 0;
  padding: 40px 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--white);
  border-radius: var(--token-radius);
  box-shadow: 0 0 0 1px rgba(38, 53, 61, 0.1), var(--token-elevation-mid);

  @nest .loaded & {
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-delay: calc(var(--index) * 0.1s);
    animation-fill-mode: forwards;
  }
}

.cardHeading {
  margin: 0;
  composes: g-type-display-4 from global;
}

.cardDescription {
  margin: 8px 0 16px;
  composes: g-type-display-6 from global;
}

.cardSubText {
  margin: 32px 0 0;
  composes: g-type-body-small from global;
  color: var(--gray-3);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
