.root {
  background: #333;
  color: white;
  padding: 5px 9px;
  border-radius: 999px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  margin-left: 5px;

  &.red {
    background: #c82525;
  }

  &.orange {
    background: #ea721b;
  }

  &.yellow {
    background: #fbb228;
  }

  &.green {
    background: #63c863;
  }

  &.blue {
    background: #358ce8;
  }

  &.purple {
    background: #913799;
  }
}
