{{#if (eq model.mode 'unsupported')}}
  <PageHeader as |p|>
    <p.levelLeft>
      <h1 class="title is-3 has-text-grey">
        Replication unsupported
      </h1>
    </p.levelLeft>
  </PageHeader>
  <div class="box is-sideless has-background-white-bis has-text-grey has-text-centered">
    <p>
      The current cluster configuration does not support replication.
    </p>
  </div>
{{else}}
  {{replication-summary
    cluster=model
    showModeSummary=true
  }}
{{/if}}
