{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="console-ui-output">
  <pre>
    Keys
    {{#each this.list as |item|}}
      {{item}}

    {{/each}}
  </pre>
  <Hds::Copy::Button
    @text="Copy"
    @isIconOnly={{true}}
    @textToCopy={{multi-line-join this.list}}
    class="transparent icon-grey-500 top-right-absolute"
  />
</div>