{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
~}}

{{! template-lint-disable no-triple-curlies}}
<div class="console-ui-alert has-text-danger">
  <Icon @name="x-circle-fill" />
  <pre>{{{@content}}}</pre>
</div>