<div class="console-ui-alert has-text-grey">
{{i-con glyph="information-circled" aria-hidden="true" size=12}}
<pre>Usage: vault &lt;command&gt; [args]

Commands:
  read        Read data and retrieves secrets
  write       Write data, configuration, and secrets
  delete      Delete secrets and configuration
  list        List data or secrets

Web CLI Commands:
  fullscreen  Toggle fullscreen display
  clear       Clear output from the log
  clearall    Clear output and command history
  refresh     Refresh the data on the current screen under the CLI window
</pre>
</div>
