{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="console-ui-output">
  <pre>{{@content}}</pre>
  <Hds::Copy::Button
    @text="Copy"
    @isIconOnly={{true}}
    @textToCopy={{@content}}
    class="transparent icon-grey-500 top-right-absolute"
  />
</div>