{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{! template-lint-disable no-whitespace-for-layout }}
{{! prettier-ignore }}
<div class="console-ui-alert">
<Icon @name="info" />
<pre>Usage: vault &lt;command&gt; [args]

Commands:
  read        Read data and retrieves secrets
  kv-get      Read data for kv v2 secret engines. Use -metadata flag to read metadata
  write       Write data, configuration, and secrets
  delete      Delete secrets and configuration
  list        List data or secrets

Web REPL Commands:
  api         Navigate to the Vault API explorer. Use 'api [filter]' to prefilter the list.
  clear       Clear output from the log
  clearall    Clear output and command history
  fullscreen  Toggle fullscreen display
  refresh     Refresh the data on the current screen under the CLI window

</pre>
  <p class="console-ui-panel-intro is-font-mono has-bottom-margin-s">
    For more detailed documentation, see the <Hds::Link::Inline @href={{doc-link "/vault/docs/command/web"}}>HashiCorp Developer site</Hds::Link::Inline>.
  </p>
</div>