<div class="console-ui-alert has-text-grey">
<Icon @glyph="info-circle-fill" aria-hidden="true" />
<pre>Usage: vault &lt;command&gt; [args]

Commands:
  read        Read data and retrieves secrets
  write       Write data, configuration, and secrets
  delete      Delete secrets and configuration
  list        List data or secrets

Web CLI Commands:
  api         Navigate to the Vault API explorer. Use 'api [filter]' to prefilter the list.
  clear       Clear output from the log
  clearall    Clear output and command history
  fullscreen  Toggle fullscreen display
  refresh     Refresh the data on the current screen under the CLI window
</pre>
</div>
