<div class="is-font-mono">
	Usage: vault <command> [args]

	Commands:
	    read        Read data and retrieves secrets
	    write       Write data, configuration, and secrets
	    delete      Delete secrets and configuration
	    list        List data or secrets
</div>