<div class="console-ui-output">
  <pre>{{columns}}</pre>

  <div class="console-ui-output-actions">
    {{#tool-tip renderInPlace=true as |d|}}
      {{#d.trigger data-test-tool-tip-trigger=true}}
        {{#copy-button clipboardText=columns class="button is-compact"}}
          {{i-con glyph="copy" aria-hidden="true" size=16}}
        {{/copy-button}}
      {{/d.trigger}}
      {{#d.content class="tool-tip"}}
        <div class="box">
          Copy
        </div>
      {{/d.content}}
    {{/tool-tip}}
  </div>
</div>
