<div class="console-ui-panel">
  <pre class="has-text-grey">
  The Vault Browser CLI provides an easy way to write the most common CLI commands, such as write, read, delete, and list.
  </pre>
  {{console/output-log log=log}}
  {{console/command-input
    isFullscreen=isFullscreen
    value=inputValue
    onValueUpdate=(action 'setValue')
    onFullscreen=(action 'toggleFullscreen')
    onExecuteCommand=(action 'executeCommand')
    onShiftCommand=(action 'shiftCommandIndex')
  }}
</div>
