{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="box is-fullwidth is-sideless">
  <NamespaceReminder as |R|>
    Requests use the header
    <code>X-Vault-Namespace: {{R.namespace.path}}</code>. You can also use
    <code>{{R.namespace.path}}</code>
    as an API prefix. See
    <DocLink @path="/vault/api-docs#namespaces">docs</DocLink>
    for examples.
  </NamespaceReminder>
  <div id={{this.inputId}} class="swagger-ember" {{did-insert this.swaggerInit}} data-test-swagger-ui></div>
</div>