/* ARG TODO WIP: 
- turn into scss file
- remove duplicate and overriding classes
- address helpers and variables
*/
/* Bulma utilities */

/* ARG TODO: is-light only used with tags? */
.tag:not(body).is-light {
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.7);
}

/* ARG TODO: used in one place */
.tag:not(body).is-medium {
  font-size: 1rem;
}

/* ARG TODO: used in one place */
.field.is-grouped.is-grouped-centered {
  justify-content: center;
}

@media screen and (max-width: 768px) {  
  .is-hidden-mobile {
    display: none !important;
  }
}
/* ARG TODO: I detected that some of these are overriden. Keeping separate so I can address later */
.control.is-expanded {
  flex-grow: 1;
  flex-shrink: 1;
}

.field.is-grouped > .control.is-expanded {
  flex-grow: 1;
  flex-shrink: 1;
}

.field.is-grouped {
  display: flex;
  justify-content: flex-start;
}

.field.is-grouped > .control {
  flex-shrink: 0;
}

.field.is-grouped > .control:not(:last-child) {
  margin-bottom: 0;
  margin-right: 0.75rem;
}

.field.is-grouped > .control.is-expanded {
  flex-grow: 1;
  flex-shrink: 1;
}

.field.is-grouped.is-grouped-centered {
  justify-content: center;
}


/* ARG TODO: used is-normal in one place */
@media screen and (min-width: 769px), print {
  .field-label {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 1.5rem;
    text-align: right;
  }
  .field-label.is-normal {
    padding-top: 0.375em;
  }
  .field-label.is-medium {
    font-size: 1.25rem;
    padding-top: 0.375em;
  }
  .field-label.is-large {
    font-size: 1.5rem;
    padding-top: 0.375em;
  }
}

/* CSS that's also defined elsewhere */
/* BULMA ELEMENTS */

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1215px) {
  .container.is-widescreen:not(.is-max-desktop) {
    max-width: 1152px;
  }
  
}

@media screen and (min-width: 1216px) {
  .container:not(.is-max-desktop) {
    max-width: 1152px;
  }
  
}

@media screen and (min-width: 1408px) {
  .container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1344px;
  }
}

.tag:not(body) {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 2px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

.tag:not(body).is-light {
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.7);
}

.tag:not(body).is-success {
  background-color: #48c78e;
  color: #fff;
}
