@use '../utils/size_variables';

/**
 * Copyright IBM Corp. 2016, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */

// This file defines the styles for the larger container elements like page-container, section and container.

.ember-application > .ember-view {
  display: flex;
  flex-direction: column;
}

.page-container {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 size_variables.$spacing-64;
}

.section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  > .container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;

    > .columns {
      flex-grow: 1;
    }
  }
}

.container {
  flex-grow: 1;
  margin: size_variables.$spacing-24 0;
  max-width: size_variables.$page-max-width;
  position: relative;
  width: auto;
}

.container {
  margin-left: 0;
  transition: margin-left var(--hds-app-side-nav-animation-duration, 200ms)
    var(--hds-app-side-nav-animation-easing, cubic-bezier(0.65, 0, 0.35, 1));
}

.hds-app-frame:has(.hds-app-side-nav--is-minimized) .container {
  margin-left: max(0px, calc((100% - size_variables.$page-max-width) / 2));
}

.centered-container {
  margin: 0 auto;
  max-width: size_variables.$page-max-width;
  padding: size_variables.$spacing-24;
}
