.footer {
  background-color: transparent;
  border-top: $base-border;
  padding: $size-3 1.5rem;
  margin-top: auto;

  span:not(:first-child) {
    display: inline-block;
    padding: 0 0.5rem;

    @include until($mobile) {
      display: none;
    }
  }
}
