// seriously ? yes. seriously.
a {
  text-decoration: underline;
  &:hover,
  &:active,
  &:focus {
    position: relative;
  }
}
.menu a {
  text-decoration: none;
}
code {
  padding: 0;
  font-size: 1em;
}
.icon {
  min-width: 1.5rem;
  vertical-align: middle;
}
code,
pre {
  font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.link {
  background: transparent;
  border: 0;
  color: $blue;
  cursor: pointer;
  display: inline;
  font: inherit;
  line-height: normal;
  margin: 0;
  padding: 0;
  font-weight: $font-weight-semibold;
  -webkit-user-select: text; /* Chrome all / Safari all */
  -moz-user-select: text; /* Firefox all */
  -ms-user-select: text; /* IE 10+ */
  user-select: text;
}

.link-plain {
  text-decoration: none;
}
