.is-invisible {
  visibility: hidden;
}
.is-underline {
  text-decoration: underline;
}
.is-no-underline {
  text-decoration: none;
}
.is-sideless {
  box-shadow: 0 2px 0 -1px $grey-light, 0 -2px 0 -1px $grey-light;
}
.is-bottomless {
  box-shadow: 0 -1px 0 0 $grey-light;
}
.has-bottom-shadow {
  box-shadow: $box-shadow !important;
}
.is-borderless {
  border: none !important;
}
.is-box-shadowless {
  box-shadow: none !important;
}
.is-relative {
  position: relative;
}
.is-fullwidth {
  width: 100%;
}
.is-in-bottom-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}

.has-background-transition {
  transition: background-color $easing $speed;
}
.is-flex-column {
  display: flex;
  flex-direction: column;
}
.is-flex-row {
  display: flex;
  flex-direction: row;
}
.is-flex-v-centered {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}
.is-flex-v-centered-tablet {
  @include tablet {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
  }
}
.is-flex-center {
  display: flex;
  align-items: center;
}
.is-flex-align-baseline {
  display: flex;
  align-items: baseline;
}
.is-flex-1 {
  flex-grow: 1;
}
.is-flex-wrap {
  flex-flow: row wrap;
}
.is-flex-end {
  display: flex !important;
  justify-content: flex-end;
}
.is-flex-start {
  display: flex !important;
  justify-content: flex-start;

  &.has-gap {
    gap: $spacing-m;
  }
}
.is-flex-full {
  flex-basis: 100%;
}
.is-no-flex-grow {
  flex-grow: 0 !important;
}
.is-auto-width {
  width: auto;
}

.is-flex-between,
.is-grouped-split {
  display: flex;
  justify-content: space-between !important;
}
.has-default-border {
  border: 1px solid $grey !important;
}
.has-no-pointer {
  pointer-events: none;
}
.has-pointer {
  cursor: pointer;
}
.has-short-padding {
  padding: 0.25rem 1.25rem;
}
.has-tall-padding {
  padding: 2.25rem;
}
.has-top-bottom-margin {
  margin: 1.25rem 0rem;
}

.is-sideless.has-short-padding {
  padding: 0.25rem 1.25rem;
}
.has-current-color-fill {
  &,
  & svg {
    fill: currentColor;
  }
}
.is-word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}
.is-font-mono {
  font-family: $family-monospace;
}
.is-size-8 {
  font-size: $size-8 !important;
}
.is-size-9 {
  font-size: $size-9 !important;
}
.is-hint {
  color: $grey;
  font-size: $size-8;
  padding: $size-8 0;
}
@each $name, $shade in $shades {
  .has-background-#{$name} {
    background: $shade !important;
  }
}
.has-background-transparent {
  background: transparent !important;
}
@each $name, $pair in $colors {
  $color: nth($pair, 1);
  .has-background-#{$name} {
    background: $color !important;
  }
}
.is-optional {
  color: $grey;
  font-size: $size-8;
  text-transform: lowercase;
}
.has-top-padding-s {
  padding-top: $spacing-s;
}
.has-top-padding-l {
  padding-top: $spacing-l;
}
.has-bottom-margin-xs {
  margin-bottom: $spacing-xs;
}
.has-bottom-margin-s {
  margin-bottom: $spacing-s;
}
.has-bottom-margin-m {
  margin-bottom: $spacing-m;
}
.has-bottom-margin-l {
  margin-bottom: $spacing-l;
}
.has-bottom-margin-xl {
  margin-bottom: $spacing-xl;
}
.has-bottom-margin-xxl {
  margin-bottom: $spacing-xxl;
}
.has-top-margin-s {
  margin-top: $spacing-s;
}
.has-top-margin-xs {
  margin-top: $spacing-xs;
}
.has-top-margin-m {
  margin-top: $spacing-m;
}
.has-top-margin-l {
  margin-top: $spacing-l;
}
.has-top-margin-xl {
  margin-top: $spacing-xl;
}
.has-top-margin-xxl {
  margin-top: $spacing-xxl;
}
.has-left-margin-xxs {
  margin-left: $spacing-xxs;
}
.has-left-margin-xs {
  margin-left: $spacing-xs;
}
.has-left-margin-s {
  margin-left: $spacing-s;
}
.has-left-margin-m {
  margin-left: $spacing-m;
}
.has-left-margin-l {
  margin-left: $spacing-l;
}
.has-left-margin-xl {
  margin-left: $spacing-xl;
}
.has-right-margin-m {
  margin-right: $spacing-m;
}
.has-right-margin-l {
  margin-right: $spacing-l;
}
.has-border-top-light {
  border-radius: 0;
  border-top: 1px solid $grey-light;
}
.has-border-bottom-light {
  border-radius: 0;
  border-bottom: 1px solid $grey-light;
}
.has-border-danger {
  border: 1px solid $danger;
}

ul.bullet {
  list-style: disc;
  padding-left: $spacing-m;
}

.has-text-semibold {
  font-weight: $font-weight-semibold;
}
.is-v-centered {
  vertical-align: middle;
}
.has-text-grey-400 {
  color: $ui-gray-400;
}
.has-text-align-center {
  text-align: center;
}
