.sep {
  display: inline-flex;
  align-items: center;
  &:before {
    font-size: $size-5;
    color: $white-ter;
    content: '|';
    position: relative;
  }
}

.list-header {
  margin: $size-9 $size-9 0;
  color: $grey;
  font-size: $size-8;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
}
