.message {
  margin-bottom: $spacing-s;
  padding: $spacing-m $spacing-m $spacing-m $spacing-s;
  position: relative;

  .close-button {
    position: absolute;
    right: 1rem;
    top: $size-10;
  }

  .message-icon {
    margin-right: $spacing-xs;
  }

  .message-title {
    font-size: 16px;
    font-weight: $font-weight-bold;
  }

  .message-body {
    border: 0;
    margin-top: $spacing-xxs;
  }

  p {
    font-size: $size-8;
    border: 0;
    padding: 0;
  }

  .message-actions {
    margin-top: $spacing-xs;

    a,
    a:not(.button):not(.file-delete-button):not(.tag) {
      color: $blue;
      font-weight: $font-weight-semibold;
      text-decoration: none;
    }

    > * + * {
      margin-left: $spacing-xs;
    }
  }

  &.is-highlight {
    background: $yellow-010;
    border: 1px solid $yellow-100;

    .message-icon {
      color: $yellow-500;
    }

    .message-title {
      color: $orange-700;
    }
  }

  &.is-danger {
    background: $red-010;
    border: 1px solid $red-050;

    .message-icon {
      color: $red-500;
    }

    .message-title {
      color: $red-700;
    }
  }
}
