.table {
  thead,
  .thead {
    box-shadow: 0 1px 0 0 $grey-light, 0 -1px 0 0 $grey-light;

    th,
    .th {
      font-size: $size-8;
      color: $grey;
      font-weight: $font-weight-semibold;
      padding: 1rem 1.5rem 0;
      border-width: 0 0 1px 0;
      border-color: $grey-light;
    }
  }

  .thead {
    box-shadow: 0 -1px 0 0 $grey-light;
  }
  td,
  .td {
    font-size: $size-6;
    color: $black;
    padding: 1rem 1.5rem;
    border-width: 0 0 1px 0;
    border-color: $grey-light;
    border-style: solid;
  }
  tr:hover {
    background: rgba($grey-lighter, 0.4);
  }
}
.table tbody tr:last-child td,
.table tbody tr:last-child th {
  border-bottom-width: inherit;
}
.table.has-expanded-borders {
  border-collapse: inherit;
}
