.tabs.tabs-subnav {
  align-items: center;
  height: 3.5rem;
  margin-bottom: 0;
  padding: $size-10 $size-10;

  @include until($tablet) {
    position: relative;
    background-color: $grey;
    flex: 0 0 100%;
    height: 3rem;
  }

  ul {
    border-bottom: none;
  }

  a,
  .link {
    align-items: center;
    border-bottom: none;
    color: $white-ter;
    cursor: pointer;
    display: inline-flex;
    font-weight: $font-weight-semibold;
    line-height: 1;
    padding: $size-10 $size-6;
    text-decoration: none;
    transition: color $speed, background-color $speed;

    &:hover {
      color: $white;
    }
  }
  .sep:before {
    position: relative;
    left: -0.75em;
  }

  .is-active a,
  .is-active .link {
    color: $white;
    background: rgba($black, 0.25);
    border-radius: 4px;
    @include until($tablet) {
      background: rgba($grey-dark, 0.75);
    }
  }
}
