.tag:not(body) {
  background-color: $ui-gray-100;
  border-radius: 2px;
  color: $grey;
  height: auto;
  padding: 0 $size-10;
  margin-right: 0.5rem;
  font-weight: normal;

  code {
    color: $grey;
  }
}

.tag.is-bold {
  font-weight: bold;
}

.tag.is-small {
  height: auto;
}
