.tag:not(body) {
  background-color: $ui-gray-100;
  border-radius: 2px;
  color: $grey;
  height: auto;
  padding: 0 $size-10;
  margin-right: 0.5rem;
  font-weight: normal;

  code {
    color: $grey;
  }

  .icon {
    height: 12px;
    margin-left: -0.25em;
    margin-right: 0.25em;
    min-width: 0;
    width: 12px;
  }
}

.tag.is-outlined {
  background-color: transparent;
  border: 1px solid $grey-light;
}

.tag.is-bold {
  font-weight: bold;
}

.tag.is-small {
  height: auto;
}
