.title:not(:last-child),
.subtitle:not(:last-child) {
  display: block;
  margin-bottom: 1rem;

  &.has-bottom-margin-xs {
    margin-bottom: $spacing-xs;
  }
}

.title {
  font-weight: $font-weight-bold;

  > a {
    color: $black;
    text-decoration: none;
  }
  .has-font-weight-normal {
    font-weight: $font-weight-normal;
  }
}

.form-section .title {
  margin-bottom: $spacing-s;
}

.is-subtitle-gray {
  text-transform: uppercase;
  font-size: $size-7;
  color: $ui-gray-500;
}
