<div class="level has-padded-items box no-padding-bottom is-shadowless is-size-7 has-background-transparent is-fullwidth">
  {{#if backend.description}}
    <div class="level-item level-left is-fixed-25">
      <div>
        <h4 class="label is-marginless">Description</h4>
        <p class="has-text-grey-dark is-size-8">
        {{capitalize backend.description}}.
        </p>
      </div>
    </div>
  {{/if}}
  <div class="level-item level-left">
    <div>
      <h4 class="label">Default TTL</h4>
      <span data-test-secret-backend-details="default-ttl">
        {{backend.config.default_lease_ttl}}
      </span>
    </div>
  </div>
  <div class="level-item level-left">
    <div>
      <h4 class="label">Maximum TTL</h4>
      <span data-test-secret-backend-details="max-ttl">
        {{backend.config.max_lease_ttl}}
      </span>
    </div>
  </div>
  <div class="level-item level-left">
    <div>
      <h4 class="label">Replicated behavior</h4>
      {{backend.localDisplay}}
    </div>
  </div>
</div>
