<div class="is-flex-v-centered is-flex-1 loader-inner-page" >
  <div class="columns is-centered">
    <div class="column is-narrow has-text-centered has-text-grey-dark has-current-color-fill">
      <div class="level is-mobile">
        {{partial 'svg/vault-loading'}}
      </div>
    </div>
  </div>
</div>
