<div class="is-flex-v-centered is-flex-1 loader-inner-page" >
  <div class="columns is-centered">
    <div class="column is-narrow has-text-centered has-text-grey-dark has-current-color-fill">
      <div class="level is-mobile">
        <div class="level-item">
          <span class="loader is-inline-block"></span>
        </div>
        <div class="level-item">
          &nbsp;&nbsp;Loading&hellip;
        </div>
      </div>
    </div>
  </div>
</div>
