{{#if showAdvancedMode}}
  {{json-editor
    value=key.dataAsJSONString
    options=(hash
      readOnly=true
    )
  }}
{{else}}
  <div class="table info-table-row-header">
    <div class="info-table-row thead">
      <div class="th column is-one-quarter">
        Key
      </div>
      <div class="th column">
        Value
      </div>
    </div>
  </div>
  {{#each-in key.secretData as |key value|}}
    {{#info-table-row label=key value=value alwaysRender=true}}
      {{masked-input value=value displayOnly=true}}
    {{/info-table-row}}
  {{/each-in}}
{{/if}}
