<div class="field">
  <label for="username" class="is-label">Username</label>
  <div class="control">
    {{input
      value=username
      name="username"
      id="username"
      class="input"
      autocomplete="off"
      data-test-username=true
    }}
  </div>
</div>
<div class="field">
  <label for="password" class="is-label">Password</label>
  <div class="control">
    {{input
      value=password
      name="password"
      id="password"
      type="password"
      class="input"
      autocomplete="off"
      data-test-password=true
    }}
  </div>
</div>
