sudo: required
dist: trusty

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

language: go

services:
  - docker

go:
  - "1.11.1"

go_import_path: github.com/hashicorp/vault

matrix:
  allow_failures:
    - go: tip

cache:
  directories:
  - ui/node_modules

before_install:
  - nvm install 8
  - nvm use 8
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.12.1
  - export PATH="$HOME/.yarn/bin:$PATH"

branches:
  only:
    - master
    - travis-testing

env:
  - TEST_COMMAND='make dev test-ember'
  - TEST_COMMAND='travis_wait 75 make testtravis'
  - TEST_COMMAND='travis_wait 75 make testracetravis'


script:
  - make bootstrap
  - eval $TEST_COMMAND
