sudo: required
dist: trusty

language: go

services:
  - docker

go:
  - 1.8.1

matrix:
  allow_failures:
    - go: tip

branches:
  only:
    - master
    - travis-testing

script:
  - make bootstrap
  - make test testrace
