# Each line is a file pattern followed by one or more owners.
# More on CODEOWNERS files: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


/builtin/credential/         @hashicorp/vault-ecosystem

# Secrets engines (pki, ssh, totp and transit omitted)
/builtin/logical/aws/         @hashicorp/vault-ecosystem
/builtin/logical/cassandra/   @hashicorp/vault-ecosystem
/builtin/logical/consul/      @hashicorp/vault-ecosystem
/builtin/logical/database/    @hashicorp/vault-ecosystem
/builtin/logical/mongodb/     @hashicorp/vault-ecosystem
/builtin/logical/mssql/       @hashicorp/vault-ecosystem
/builtin/logical/mysql/       @hashicorp/vault-ecosystem
/builtin/logical/nomad/       @hashicorp/vault-ecosystem
/builtin/logical/postgresql/  @hashicorp/vault-ecosystem
/builtin/logical/rabbitmq/    @hashicorp/vault-ecosystem

/command/agent/              @hashicorp/vault-ecosystem
/plugins/                    @hashicorp/vault-ecosystem
