# Each line is a file pattern followed by one or more owners. Being an owner
# means those groups or individuals will be added as reviewers to PRs affecting
# those areas of the code.
#
# More on CODEOWNERS files: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Select Auth engines are owned by Ecosystem
/builtin/credential/aws/      @hashicorp/vault-ecosystem
/builtin/credential/github/   @hashicorp/vault-ecosystem
/builtin/credential/ldap/     @hashicorp/vault-ecosystem
/builtin/credential/okta/     @hashicorp/vault-ecosystem

# Secrets engines (pki, ssh, totp and transit omitted)
/builtin/logical/aws/         @hashicorp/vault-ecosystem
/builtin/logical/cassandra/   @hashicorp/vault-ecosystem
/builtin/logical/consul/      @hashicorp/vault-ecosystem
/builtin/logical/database/    @hashicorp/vault-ecosystem
/builtin/logical/mongodb/     @hashicorp/vault-ecosystem
/builtin/logical/mssql/       @hashicorp/vault-ecosystem
/builtin/logical/mysql/       @hashicorp/vault-ecosystem
/builtin/logical/nomad/       @hashicorp/vault-ecosystem
/builtin/logical/postgresql/  @hashicorp/vault-ecosystem
/builtin/logical/rabbitmq/    @hashicorp/vault-ecosystem

/plugins/                     @hashicorp/vault-ecosystem
/vault/plugin_catalog.go      @hashicorp/vault-ecosystem

/website/content/                         @taoism4504
/website/content/docs/plugin-portal.mdx   @taoism4504  @acahn

# Plugin docs
/website/content/docs/plugins/              @taoism4504 @fairclothjm
/website/content/docs/upgrading/plugins.mdx @taoism4504 @fairclothjm

# UI code related to Vault's JWT/OIDC auth method and OIDC provider.
# Changes to these files often require coordination with backend code,
# so stewards of the backend code are added below for notification.
/ui/app/components/auth-jwt.js         @austingebauer
/ui/app/routes/vault/cluster/oidc-*.js @austingebauer

# Release config; service account is required for automation tooling.
/.release/                    @hashicorp/release-engineering @hashicorp/github-secure-vault-core @hashicorp/quality-team
/.github/workflows/build.yml  @hashicorp/release-engineering @hashicorp/github-secure-vault-core @hashicorp/quality-team

# Quality engineering
/.github/  @hashicorp/quality-team
/enos/     @hashicorp/quality-team
