{{#if @title}}
  <h3 class="title box-radio-header" data-test-box-radio-set-title>
    {{@title}}
  </h3>
{{/if}}
<fieldset class="box-radio-container" data-test-box-radio-set>
  {{yield}}
</fieldset>