<ToolTip as |d|>
  <d.Trigger
    @htmlTag="button"
    @type="button"
    class="tool-tip-trigger button is-ghost is-compact"
    data-test-tool-tip-trigger={{true}}
    onclick={{action "preventSubmit"}}
  >
    <Icon @name="info" class="auto-width" aria-label="help" />
  </d.Trigger>
  <d.Content @defaultClass="tool-tip">
    <div class="box" data-test-info-tooltip-content>
      {{yield}}
    </div>
  </d.Content>
</ToolTip>