<ToolTip as |d|>
  <d.Trigger @tagName="button" @type="button" @class="tool-tip-trigger button is-ghost is-compact" data-test-tool-tip-trigger={{true}}>
    <Icon @glyph="info-circle-outline"
      class="auto-width"
      aria-label="help"
    />
  </d.Trigger>
  <d.Content @class="tool-tip">
    <div class="box">
      {{yield}}
    </div>
  </d.Content>
</ToolTip>