<div class="documentation-link">
  <p class="has-text-grey">We have additional timeseries telemetry that can be found
    <LearnLink @path="/vault/operations/monitor-replication#key-monitoring-metrics"> in our documentation</LearnLink>
    .
  </p>
</div>
