{{#if this.loading}}
  <LayoutLoading />
{{else}}
  <MessageError @errors={{this.errors}} />
  <div class="replication-actions-grid-layout">
    {{#each
      (replication-action-for-mode this.replicationMode this.model.replicationAttrs.modeForUrl)
      as |replicationAction|
    }}
      <div class="replication-actions-grid-item">
        {{component
          (concat "replication-action-" replicationAction)
          onSubmit=(action "onSubmit")
          replicationMode=this.replicationMode
          model=this.model
        }}
      </div>
    {{/each}}
  </div>
{{/if}}