<div class="action-block is-rounded" data-test-promote-replication>
  <div class="action-block-info">
    <h4 class="title is-5 is-marginless">
      Generate operation token
    </h4>
    <p>
      Generate an operation token in order to do actions such as 'Promote' and 'Update primary.'
    </p>
  </div>

  <div class="action-block-action">
    <button
      class="button is-tertiary"
      onclick={{action (mut isModalActive) true}}
      data-test-replication-action-trigger
    >
      Generate token
    </button>
  </div>
</div>


  <ShamirModalFlow
    @action="generate-dr-operation-token"
    @buttonText="Generate token"
    @fetchOnInit=true
    @generateAction=true
    @onClose={{action (mut isModalActive) false}}
    @isActive={{isModalActive}}
  >
    <p>
      Generate an Operation Token by entering a portion of the {{replicationDisplayMode}} Primary's master key.
      Once all portions are entered, the generated operation token may be used to manage your secondary Disaster Recovery cluster.
    </p>
  </ShamirModalFlow>
