<div class="field">
  <p class="control has-icons-left has-icons-right">
    <span class="input has-text-grey-light">{{or this.placeholder "Search"}}</span>
    <Icon @name="search" class="search-icon has-text-grey-light" />
  </p>
</div>