<div class="field">
  <p class="control has-icons-left has-icons-right">
    <span class="input has-text-grey-light">Search</span>
    <Icon @glyph="search" class="search-icon has-text-grey-light" aria-hidden="true" />
  </p>
</div>
