<div class={{concat "stat-text-container " @size (unless @subText "-no-subText")}}>
  <div class="stat-label">{{@label}}</div>
    {{#if @subText}}
      <div class="stat-text">{{@subText}}</div>
    {{/if}}
  <div class="stat-value">{{@value}}</div>
</div>
