<KvPageHeader @breadcrumbs={{@breadcrumbs}} @model={{@model}} @showVersionTag="true">
  <:tabs>
    <div class="tabs-container box is-bottomless is-marginless is-paddingless">
      <nav class="tabs" aria-label="kv tabs">
        <ul>
          <LinkTo @route="secrets" data-test-secret-list-tab="Secrets">Secrets</LinkTo>
          <LinkTo @route="configuration" data-test-secret-list-tab="Configuration">Configuration</LinkTo>
        </ul>
      </nav>
    </div>
  </:tabs>
</KvPageHeader>