<KvPageHeader @breadcrumbs={{@breadcrumbs}} @model={{@model}} @showToolbar="true" @showVersionTag="true">
  <:tabs>
    <div class="tabs-container box is-bottomless is-marginless is-paddingless">
      <nav class="tabs" aria-label="kv tabs">
        <ul>
          <LinkTo @route="secrets" data-test-secrets-tab="Secrets">Secrets</LinkTo>
          <LinkTo @route="configuration" data-test-secrets-tab="Configuration">Configuration</LinkTo>
        </ul>
      </nav>
    </div>
  </:tabs>

  <:toolbarFilters>
    {{! TODO add JSON toggle }}
  </:toolbarFilters>

  <:toolbarActions>
    <ToolbarLink @route="secrets.create" @type="add">Create secret</ToolbarLink>
  </:toolbarActions>
</KvPageHeader>