{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<Hds::Toast @color={{this.color}} @onDismiss={{@close}} class="has-bottom-margin-m" data-test-flash-toast as |T|>
  <T.Title data-test-flash-toast-title>{{this.title}}</T.Title>
  <T.Description data-test-flash-message-body>
    <p class="is-word-break">{{@flash.message}}</p>
  </T.Description>
</Hds::Toast>