{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="box is-shadowless" data-test-not-found>
  <PageHeader as |p|>
    <p.levelLeft>
      <h1 class="title is-3 has-text-grey">
        404 Not Found
      </h1>
    </p.levelLeft>
  </PageHeader>
  <div class="box is-sideless has-background-white-bis has-text-grey has-text-centered">
    <p>Sorry, we were unable to find any content at <code>{{or @model.path this.path}}</code>.</p>
    <p>
      Double check the url or
      <ExternalLink @href="/" @sameTab={{true}}>go back home</ExternalLink>.
    </p>
  </div>
</div>