{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<div class="box is-shadowless" data-test-not-found>
  <Page::Header @title="404 Not Found" />

  <div class="box is-sideless has-background-white-bis has-text-grey has-text-centered">
    <p>Sorry, we were unable to find any content at <code>{{or @model.path this.path}}</code>.</p>
    <p>
      Double check the url or
      <ExternalLink @href="/" @sameTab={{true}}>go back home</ExternalLink>.
    </p>
  </div>
</div>