{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div class="splash-page-container section is-flex-v-centered-tablet is-flex-grow-1 is-fullwidth" ...attributes>
  <div class="columns is-centered is-gapless is-fullwidth">
    <div class="column is-4-desktop is-6-tablet">
      <div class="splash-page-header" data-test-splash-page-header>
        {{yield to="header"}}
      </div>
      <Hds::Card::Container @level="high" @hasBorder={{true}} class="overflow-auto" data-test-splash-page-content>
        {{yield to="content"}}
      </Hds::Card::Container>
      {{yield to="footer"}}
    </div>
  </div>
</div>