{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Configuration
    </h1>
  </p.levelLeft>
</PageHeader>

<Toolbar>
  <ToolbarActions>
    {{#if @model.canEdit}}
      <LinkTo @route="vault.cluster.clients.edit" class="toolbar-link">
        Edit configuration
      </LinkTo>
    {{/if}}
  </ToolbarActions>
</Toolbar>

<Clients::Config @model={{@model}} />