<PageHeader as |p|>
  <p.top>
    {{#key-value-header path="vault.cluster.access.methods"}}
      <li>
        <span class="sep">
          /
        </span>
        {{#link-to "vault.cluster.access.methods"}}
          methods
        {{/link-to}}
      </li>
    {{/key-value-header}}
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      {{model.id}}
    </h1>
  </p.levelLeft>
</PageHeader>
{{section-tabs model "authShow" paths}}
{{#if (eq section "configuration")}}
  <Toolbar>
    <ToolbarActions>
      <ToolbarLink @params={{array "vault.cluster.settings.auth.configure" model.id}} @data-test-configure-link="true">
        Configure
      </ToolbarLink>
    </ToolbarActions>
  </Toolbar>
{{/if}}
{{component (concat "auth-method/" section) model=model}}