<div class="box is-fullwidth is-sideless is-paddingless is-marginless">
  {{#if (gt model.credentialTypes.length 1)}}
    <AlertBanner
      @type="warning"
      @message="This role has more than one credential_type, currently: {{join ', ' model.credentialTypes}}.
        When you next edit this role, you will have to choose a single credential type."
    />
  {{/if}}
  {{#each model.fields as |attr|}}
    {{#if (eq attr.name "policyDocument")}}
      {{#info-table-row label=(capitalize (or attr.options.label (humanize (dasherize attr.name)))) value=model.policyDocument}}
        <pre><code class="is-paddingless">{{stringify (jsonify model.policyDocument)}}</code></pre>
      {{/info-table-row}}
    {{else}}
      {{info-table-row label=(capitalize (or attr.options.label (humanize (dasherize attr.name)))) value=(get model attr.name)}}
    {{/if}}
  {{/each}}
</div>
