@import '~@hashicorp/react-subnav/dist/style.css';

/* limit the inner width of the navigation to match the site layout */

.g-subnav {
  & .g-subnav-inner {
    @media (width < 1288px) {
      padding: 0 32px;
    }

    @media (width >= 1288px) {
      padding: 0 calc(50% - 1288px / 2 + 32px);
    }
  }
}
