.g-product-subnav {
  position: relative;
  z-index: 75;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: var(--font-body);

  @media (max-width: 1140px) {
    height: 64px;
  }

  @media (max-width: 767px) {
    height: 54px;
  }

  & .wrapper {
    padding: 25px 0;

    @media (max-width: 1140px) {
      background-color: var(--white);
      padding: 0;
    }

    &.fixed {
      @media (max-width: 1140px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  & .g-container {
    display: flex;
    align-items: center;
    height: 100%;

    @media (max-width: 1140px) {
      justify-content: space-between;
      height: 64px;
    }

    @media (max-width: 767px) {
      height: 54px;
    }
  }

  & .dropdown {
    cursor: pointer;

    @media (min-width: 1140px) {
      position: relative;
    }

    &:hover ul {
      @media (min-width: 1140px) {
        visibility: visible;
        opacity: 1;
      }
    }

    & ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      visibility: hidden;
      opacity: 0;
      list-style: none;
      background: var(--white);
      color: var(--DEPRECATED-gray-1);
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
      min-width: 180px;
      margin: 0 0 0 -18px;
      padding: 0;
      border-radius: 2px;
      z-index: 4;
    }
  }

  & .logo {
    padding-bottom: 10px;
    margin-bottom: -13px;
    margin-right: 32px;

    @media (max-width: 1140px) {
      margin-right: 0;
      width: auto;
    }

    & > a {
      align-items: center;
      color: var(--black);
      display: flex;

      & > img {
        width: 45px;
        height: 45px;

        @media (max-width: 1140px) {
          width: 30px;
          height: 30px;
        }
      }

      & > svg {
        margin-left: 10px;

        & path {
          stroke: var(--DEPRECATED-gray-5);
        }

        @media (max-width: 1140px) {
          display: none;
        }
      }
    }

    & h4 {
      display: flex;
      align-items: center;
      font-family: var(--font-klavika);
      font-size: 2.2rem;
      margin: 0;
      padding: 6px 0 6px 10px;
      font-weight: var(--font-weight-bold);

      @media (max-width: 1140px) {
        font-size: 1.8em;
      }
    }
  }

  & .toggle {
    display: none;

    @media (max-width: 1140px) {
      align-items: center;
      display: flex;
      position: absolute;
      right: 20px;
    }

    &.center {
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      @media (max-width: 767px) {
        position: relative;
      }
    }

    &.open svg {
      transform: rotate(-180deg);
    }

    & span {
      cursor: pointer;
      padding: 5px;
      line-height: 0;
    }

    & svg {
      width: 14px;
      height: 9px;
      transition: 0.25s ease;
      transition-property: transform;
    }

    & path {
      stroke: var(--brand);
    }
  }

  & .links-wrapper {
    background-color: var(--white);
    margin-left: auto;
    margin-right: 32px;

    @media (max-width: 1140px) {
      position: absolute;
      top: 100%;
      left: 0;
      height: 0;
      overflow: hidden;
      transition: 0.25s ease;
      transition-property: height;
      z-index: 4;
      width: 100%;
    }

    &.open {
      @media (max-width: 1140px) {
        overflow-y: visible;
        height: 100vh;
      }
    }
  }

  & .links {
    display: flex;
    font-weight: var(--font-weight-bold);
    position: relative;

    @media (max-width: 1140px) {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10px 24px;
      overflow-x: hidden;
    }

    & ul a,
    & ul span {
      color: inherit;
      padding: 0 0 8px;
      transition: 0.25s ease;
      transition-property: border-bottom-color;

      @media (max-width: 1140px) {
        display: block;
        padding: 12px 0;
        border-bottom: 1px solid var(--DEPRECATED-gray-9);
      }
    }

    & span {
      @media (max-width: 1140px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    & > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1140px) {
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: normal;
      }

      & + ul {
        @media (min-width: 1140px) {
          border-left: 1px solid var(--DEPRECATED-gray-8);
          padding-left: 24px;
          margin-left: 24px;
        }

        @media (min-width: 1200px) {
          padding-left: 32px;
          margin-left: 32px;
        }
      }

      & > li {
        margin-right: 35px;

        @media (max-width: 1140px) {
          margin-right: 28px;
        }

        @media (max-width: 1140px) {
          margin-right: 0;
        }

        &:last-child {
          @media (min-width: 1140px) {
            margin-right: 0;
          }
        }

        & > a,
        & > span {
          @media (min-width: 1140px) {
            border-bottom: 2px solid transparent;
          }
        }

        & .selected,
        & > a:hover {
          @media (min-width: 1140px) {
            border-bottom-color: var(--brand);
          }
        }
      }
    }

    & .dropdown {
      & > span > div {
        margin: -2px 0 0 8px;
        float: right;

        @media (max-width: 1140px) {
          display: inline-block;
          float: none;
          margin: 0;
          transform: rotate(-90deg);
          width: 12px;
        }
      }

      & path {
        stroke: var(--DEPRECATED-gray-6);

        @media (max-width: 1140px) {
          stroke: var(--DEPRECATED-gray-1);
        }
      }

      & ul {
        transition: 0.25s ease;
        transition-property: left, opacity, visibility;
        margin: 6px 0 0 -23px;
        padding: 15px 29px 15px 24px;

        @media (max-width: 1140px) {
          visibility: visible;
          opacity: 1;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 100%;
          padding: 10px 24px;
          margin: 0;
          width: 100%;
          box-shadow: none;
        }

        &.open {
          @media (max-width: 1140px) {
            left: 0;
          }
        }
      }

      & li {
        @media (min-width: 1140px) {
          margin: 9px 0;
        }

        &.close,
        &.name {
          @media (min-width: 1140px) {
            display: none;
          }
        }

        &.close {
          & span {
            justify-content: flex-start;
          }

          & div {
            display: inline-block;
          }

          & svg {
            margin: 2px 12px 3px 0;
            transform: rotate(90deg);
          }
        }

        &.name {
          border: none;
          color: var(--DEPRECATED-gray-5);
          font-weight: var(--font-weight-bold);
          font-size: 0.75rem;
          letter-spacing: 0.03125rem;
          text-transform: uppercase;
          padding: 24px 0 12px;
        }

        & a,
        & span {
          white-space: nowrap;

          @media (min-width: 1140px) {
            border: none;
          }

          &:hover {
            @media (min-width: 1140px) {
              color: var(--DEPRECATED-gray-3);
            }
          }
        }
      }
    }
  }

  & .divider {
    border-left: 1px solid #d2d4db;
    width: 1px;
    height: 100%;
  }

  & .ctas-mobile,
  & .ctas {
    & .download,
    & .github {
      font-size: 0.875rem;
      border-radius: 2px;
      display: flex;
      align-items: center;

      & > div {
        line-height: 0;
      }
    }

    & .download {
      color: var(--white);
      border: none;

      & path {
        fill: var(--white);
      }
    }

    & .github {
      border: 1px solid var(--DEPRECATED-gray-8);
      transition: 0.25s ease;
      transition-property: transform;
      color: inherit;

      & path {
        fill: var(--DEPRECATED-gray-1);
      }
    }
  }

  & .ctas {
    display: flex;

    & .github {
      padding: 7px;
      height: 2.25rem;
      width: 2.25rem;

      @media (max-width: 1140px) {
        display: none;
      }

      &:hover {
        transform: translateY(-1px);

        & path {
          fill: var(--DEPRECATED-gray-3);
        }
      }
    }

    & .download {
      margin-left: 16px;
      padding: 10px 15px 10px 12px;
      white-space: nowrap;

      @media (max-width: 1140px) {
        background: none;
        color: inherit;
        padding: 0;
        border-bottom: 2px solid transparent;
        margin-left: 0;
      }

      &:hover {
        @media (max-width: 1140px) {
          color: var(--DEPRECATED-gray-5);
          transform: none;
        }

        &:after {
          @media (max-width: 1140px) {
            display: none;
          }
        }
      }

      & div {
        margin-right: 8px;
        line-height: 0;

        @media (max-width: 767px) {
          display: none;
        }
      }

      & path {
        fill: var(--white);

        @media (max-width: 1140px) {
          fill: var(--brand);
        }
      }

      & span {
        line-height: 1em;
      }
    }
  }

  & .ctas-mobile {
    margin: 56px 0 28px;

    @media (min-width: 1140px) {
      display: none;
    }

    & a {
      display: flex;
      align-items: center;
      justify-content: center;

      & + a {
        margin-top: 16px;
      }

      &.github {
        padding: 13px;
        background: transparent;

        & > div {
          line-height: 0;
        }
      }

      &.download {
        padding: 14px;
      }

      & svg {
        margin-right: 8px;
      }
    }
  }
}
