.content-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 0 auto;
  position: relative;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-top: 72px;
  }
}

#inner {
  flex: 1;
  overflow: auto;
  margin: 100px 0;

  @media (min-width: 768px) {
    margin: 0;
  }

  & h4,
  & h3,
  & h2,
  & h1 {
    font-weight: 600;
    margin: 0 0 8px;

    @media (min-width: 768px) {
      margin: 0 0 16px;
    }
  }

  & h6,
  & h5,
  & h4,
  & h3,
  & h2 {
    position: relative;

    & .anchor {
      display: inline-block;
      vertical-align: middle;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: -25px;
      transform: translateY(-50%);
      text-decoration: none;
      transition: opacity 0.1s ease-in-out;
      width: 20px;
      height: 20px;
      background: url('/img/feather/icon_link.svg') center/contain no-repeat;

      &:hover {
        opacity: 1;
        text-decoration: none;
      }

      &:focus {
        outline: none;
      }
    }

    &:hover {
      & .anchor {
        opacity: 1;
      }
    }
  }

  & h1 {
    font-weight: 600;

    & .anchor {
      display: none;
    }

    &:first-child {
      margin-bottom: 28px;
    }
  }

  & p,
  & pre,
  & figure,
  & img,
  & ul,
  & ol,
  & .alert {
    margin: 0 0 16px;

    @media (min-width: 1120px) {
      margin: 0 0 24px;
    }
  }

  & h1 > code,
  & h2 > code,
  & h3 > code,
  & h4 > code,
  & h5 > code,
  & h6 > code,
  & li code,
  & table code,
  & p code,
  & tt,
  & .alert code {
    font-family: var(--monospace-font);
    font-size: 1em;
    background-color: transparent;
    color: inherit;
    padding: 0;
  }

  & pre code,
  & code,
  & pre,
  & tt {
    font-family: var(--monospace-font);
    font-size: .875em;
    line-height: 1.6;
  }

  & hr {
    margin: 32px 0;

    @media (min-width: 1120px) {
      margin: 48px 0;
    }
  }

  & code {
    font-size: .9em;
    font-weight: normal;
    color: var(--black);
  }

  & pre {
    background-color: var(--input-background-dark);
    color: var(--white);
    margin: 0 0 16px;
    padding: 24px 16px;
    overflow: auto;

    @media (min-width: 1120px) {
      padding: 32px 24px;
    }

    & > code {
      font: inherit;
      color: inherit;
      overflow-wrap: normal;
      white-space: pre;
    }
  }

  & ul {
    list-style-type: disc;
    padding-left: 24px;

    & > li {
      padding-left: 0px;
      line-height: 1.625;

        & ul {
          list-style: none;
          padding-left: 24px;
          margin-bottom: 0px;

          & li:before {
            display: inline-block;
            content: "-";
            width: 16px;
            margin-left: -16px;
          }
        }
    }
  }

  & img {
    display: block;
    margin: 24px auto;
    max-width: 650px;
    height: auto;
    width: 90%;

    @media (min-width: 1120px) {
      margin: 32px auto;
    }
  }

  & a {
    cursor: pointer;
    color: var(--link-color);

    &:hover {
      text-decoration: underline;
    }

    & code {
      background: inherit;
      color: var(--link-color);
    }
  }

  & .alert {
    & p,
    & ul,
    & ol {
      margin-bottom: 0;
    }
  }

  & ul.horizontal-divider,
  & ul.vertical-divider {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & ul.vertical-divider {
    margin: 16px 0;

    & > li {
      display: inline-block;
      line-height: 1;
      padding: 0 14px;
      margin-right: -4px;
      border-right: 1px solid #555;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border: 0;
        margin: 0;
      }
    }

    & a {
      display: block;
    }
  }

  & ul.horizontal-divider {
    margin: 16px 0;

    & > li {
      padding: 16px;
      border-bottom: 1px solid #b2b2b2;
    }
  }
}
