.g-input {
  border: 0;
  border: 1px solid;
  border-radius: 1px;
  color: var(--input-placeholder-color);
  font-size: 16px;
  padding: 13px;
  outline: 0;

  &[type='text']::placeholder {
    color: var(--input-placeholder-color);
  }

  &.light {
    background-color: var(--input-background-light);
    border-color: var(--input-border-light);
  }
  &.dark {
    background-color: var(--input-background-dark);
    border-color: var(--input-border-dark);
  }
}