:root {
  /**
   * Typography
   */
  --klavika-font: 'klavika-web', Helvetica, sans-serif;
  --open-sans-font: 'open-sans', sans-serif;
  --monospace-font: 'Fira Mono', monospace;
  --default-font-size: 16px;
  --font-weight-reg: 400;
  --font-weight-bold: 600;

  --black: #000000;
  --white: #FFFFFF;
  --error-red: #FF0043;
  --warning-yellow: #FF0043;
  --link-color: #1563FF;

  /**
   * Shades of Gray - Dark to Light
   */
  --gray-1: #191A1C;
  --gray-2: #323538;
  --gray-3: #4C4F54;
  --gray-4: #656A70;
  --gray-5: #7F858D;
  --gray-6: #9A9EA5;
  --gray-7: #B4B8BC;
  --gray-8: #D0D2D5;
  --gray-9: #EBECEE;

  /**
   * Input Field Colors
   */
  --input-background-light: #FFFFFF;
  --input-background-dark: #1B212D;
  --input-border-light: var(--gray-7);
  --input-border-dark: #262E42;
  --input-placeholder-color: var(--gray-4);

  /**
   * Grid Defaults.
   * To be used inside grid items inside .grid-container
   */
  --small-grid-gutter: 16px;
  --medium-grid-gutter: 24px;
  --large-grid-gutter: 24px;

  --small-grid-container-padding: 24px;
  --medium-grid-container-padding: 32px;
  --large-grid-container-padding: 32px;

  --medium-grid-max-width: 928px;
  --site-max-width: 1288px;
}

@custom-media --small-medium (min-width: 320px) and (max-width: 767px);
@custom-media --medium (min-width: 768px);
@custom-media --large (min-width: 1120px);
