h3,
h2,
h1 {
  font-family: var(--klavika-font);
  -webkit-font-smoothing: antialiased;
  font-weight: 500;

  &.display-lg {
    font-size: 5em;
    letter-spacing: -1px;
  }

  &.display-med {
    font-size: 4.5em;
    letter-spacing: -.8px;
  }

  &.display-sm {
    font-size: 3.5em;
    letter-spacing: -.8px;
  }
}


h1 {
  font-size: 3em;
  letter-spacing: -.4px;
  line-height: 1.1667;
}

h2 {
  font-size: 2.5em;
  letter-spacing: -.2px;
  line-height: 1.2;
}

h3 {
  font-size: 2em;
  letter-spacing: -.1px;
  line-height: 1.25;
}

h6,
h5,
h4 {
  font-family: var(--open-sans-font);
  font-weight: 600;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.125em;
}