<div class="selectable-card is-rounded card-container">
  <h3 class="title is-4 grid-item-title card-title">{{title}}</h3>
  <div class="grid-item-state">
    <code class="has-text-black">state</code>
    <p class="has-text-grey is-size-8">Description of state, goes across multiple lines, probably.</p>
  </div>
  <div class="grid-item-wal">
    <code class="has-text-black">connection state</code>
    <p class="has-text-grey is-size-8">Description of connection_state and its implications will be here.</p>
  </div>
  <h2 class="title-number grid-item-stream">stream_wals</h2>
  <h2 class="title-number is-5 grid-item-status">ready</h2>
</div>
