{{#if (has-feature "Control Groups")}}
  <PageHeader as |p|>
    <p.levelLeft>
      <h1 class="title is-3">
        Control Groups
      </h1>
    </p.levelLeft>
    <p.levelRight>
      {{#if model.canConfigure}}
        {{#link-to 'vault.cluster.access.control-groups-configure' class="button has-icon-right is-ghost is-compact"}}
          Configure
          <ICon @glyph="chevron-right" @size=11 />
        {{/link-to}}
      {{/if}}
    </p.levelRight>
  </PageHeader>
  <form {{action (nav-to-route 'vault.cluster.access.control-group-accessor' model.id) on="submit"}}>
    <div class="box is-sideless is-fullwidth is-marginless">
      <p class="has-text-grey is-size-8">
       Control Groups add additional authorization factors to be required before satisfying a request. If you have a Control Group accessor, provide it here to view the lookup the authorization progress.
      </p>
      <label for="accessor" class="is-label">
        Accessor
      </label>
      <div class="control">
        {{input class="input" autocomplete="off" name="accessor" value=model.id}}
      </div>
    </div>
    <div class="field is-grouped box is-fullwidth is-bottomless">
      <button type="submit" class="button is-primary" disabled={{not model.id}}>
        Lookup
      </button>
    </div>
  </form>
{{else}}
  <UpgradePage @title="Control Groups" @minimumEdition="Vault Enterprise Premium" />
{{/if}}
