{{#if (has-feature "Control Groups")}}
  <PageHeader as |p|>
    <p.levelLeft>
      <h1 class="title is-3">
        Control Groups
      </h1>
    </p.levelLeft>
  </PageHeader>
  {{#if this.model.canConfigure}}
    <Toolbar>
      <ToolbarActions>
        <ToolbarLink @route="vault.cluster.access.control-groups-configure">
          Configure
        </ToolbarLink>
      </ToolbarActions>
    </Toolbar>
  {{/if}}
  <ControlGroup @model={{this.model}} />
{{else}}
  <UpgradePage @title="Control Groups" @minimumEdition="Vault Enterprise Premium" />
{{/if}}