<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Namespaces
    </h1>
  </p.levelLeft>
  <p.levelRight>
    {{#link-to 'vault.cluster.access.namespaces.create' class="button has-icon-right is-ghost is-compact"}}
      Create a namespace
      <ICon @glyph="chevron-right" @size=11 />
    {{/link-to}}
  </p.levelRight>
</PageHeader>
<ListView @items={{model}} @emptyMessage="There are currently no namespaces" as |item|>
  <ListItem @item={{item}} />
</ListView>

