{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if this.header}}
  <Page::Header @title="OIDC provider">
    <:breadcrumbs>
      <Page::Breadcrumbs @breadcrumbs={{this.breadcrumbs}} />
    </:breadcrumbs>
    <:description>
      Use Vault as an identity provider for external authentication methods that use the OpenID Connect (OIDC) protocol.
      <Hds::Link::Inline @isHrefExternal={{true}} @href={{doc-link "/vault/gui/oidc-provider"}}>
        Learn more
      </Hds::Link::Inline>
    </:description>
    <:actions>
      {{#if this.isCta}}
        <Hds::Button
          @text="Create your first app"
          @route="vault.cluster.access.oidc.clients.create"
          data-test-oidc-configure
        />
      {{/if}}
    </:actions>
  </Page::Header>
  {{#unless this.isCta}}
    {{! show tab links in list routes }}
    <div class="tabs-container box is-sideless is-fullwidth is-paddingless is-marginless" data-test-oidc-tabs>
      <nav class="tabs" aria-label="navigation for managing Open ID Connect">
        <ul>
          <LinkTo @route="vault.cluster.access.oidc.clients" data-test-tab="clients">
            Applications
          </LinkTo>
          <LinkTo @route="vault.cluster.access.oidc.keys" data-test-tab="keys">
            Keys
          </LinkTo>
          <LinkTo @route="vault.cluster.access.oidc.assignments" data-test-tab="assignments">
            Assignments
          </LinkTo>
          <LinkTo @route="vault.cluster.access.oidc.providers" data-test-tab="providers">
            Providers
          </LinkTo>
          <LinkTo @route="vault.cluster.access.oidc.scopes" data-test-tab="scopes">
            Scopes
          </LinkTo>
        </ul>
      </nav>
    </div>
  {{/unless}}
{{/if}}

{{outlet}}