{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.levelLeft>
    <h1 data-test-title class="title is-3">
      Reset password
    </h1>
  </p.levelLeft>
</PageHeader>

<EmptyState @title="No password reset access" @message={{this.model.message}}>
  <Hds::Link::Standalone
    @iconPosition="trailing"
    @icon="docs-link"
    @text="Update password API docs"
    @href={{doc-link "/vault/api-docs/auth/userpass#update-password-on-user"}}
  />
</EmptyState>