<PageHeader as |p|>
  <p.levelLeft>
    <h1 data-test-title class="title is-3">
      Reset password
    </h1>
  </p.levelLeft>
</PageHeader>

<EmptyState @title="No password reset access">
  {{#if (eq this.model.message "NO_UPDATE_ACCESS")}}
    <p>If you think this is a mistake ask your administrator to update your policy.
      <DocLink @path="vault/api-docs/auth/userpass#update-password-on-user">Learn more here.</DocLink></p>
  {{else}}
    {{this.model.message}}
  {{/if}}
</EmptyState>