{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.levelLeft>
    <h1 data-test-title class="title is-3">
      Reset password
    </h1>
  </p.levelLeft>
</PageHeader>

<EmptyState @title="No password reset access" @message={{this.model.message}}>
  <p>
    Learn more
    <DocLink @path="vault/api-docs/auth/userpass#update-password-on-user">about updating passwords</DocLink>
    here.</p>
</EmptyState>