/**
 * Copyright IBM Corp. 2025, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

.ssu-counter {
  padding: 16px;
}

.ssu-counter__title-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.ssu-counter__title-row__tooltip {
  margin-left: 3px;
  top: 3px;
}
