/**
 * Copyright IBM Corp. 2025, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

.ssu-namespace-picker {
  margin-left: 16px;
  white-space: normal;
  word-break: break-all;
  overflow-wrap: break-word;
}

.ssu-namespace-picker__header {
  padding: 10px;
}
