{{#each-in model.metadata as |key value|}}
  <div class="info-table-row is-mobile">
    <div class="is-flex is-fullwidth">
      <div class="column is-one-quarter">
        <span class="is-label has-text-grey-dark">
          {{key}}
        </span>
      </div>
      <div class="column is-flex">
        {{value}}
      </div>
      <div class="column has-text-right">
      </div>
    </div>
  </div>
{{else}}
  <EmptyState
    @title="No metadata associated with {{model.name}} yet"
  />
{{/each-in}}
