/* Global Component Styles */
@import '~@hashicorp/react-global-styles/style.css';
@import '~@hashicorp/react-global-styles/custom-properties/color.css';
@import '~@hashicorp/react-global-styles/custom-properties/font.css';
@import '~@hashicorp/react-global-styles/_temporary-to-remove/layout.css';
@import '~@hashicorp/nextjs-scripts/prism/style.css';

:root {
  --highlight-color: var(--brand);
}

@import '~@hashicorp/react-button/dist/style.css';
@import '~@hashicorp/react-case-study-slider/dist/style.css';
@import '~@hashicorp/react-code-block/dist/style.css';
@import '~@hashicorp/react-consent-manager/dist/style.css';
@import '~@hashicorp/react-content/dist/style.css';
@import '~@hashicorp/react-docs-page/dist/style.css';
@import '~@hashicorp/react-docs-sidenav/dist/style.css';
@import '~@hashicorp/react-enterprise-alert/dist/style.css';
@import '~@hashicorp/react-hero/dist/style.css';
@import '~@hashicorp/react-logo-grid/dist/style.css';
@import '~@hashicorp/react-product-downloader/dist/style.css';
@import '~@hashicorp/react-search/dist/style.css';
@import '~@hashicorp/react-section-header/dist/style.css';
@import '~@hashicorp/react-tabs/dist/style.css';
@import '~@hashicorp/react-text-and-content/dist/style.css';
@import '~@hashicorp/react-toggle/dist/style.css';
@import '~@hashicorp/react-use-cases/dist/style.css';
@import '~@hashicorp/react-vertical-text-block-list/dist/style.css';

/* Global Components - Transpiled */
@import '~@hashicorp/react-mega-nav/style.css';

/* Local Components */
@import '../components/before-after-diagram/style.css';
@import '../components/footer/style.css';
@import '../components/search-bar/style.css';
@import '../components/subnav/style.css';
@import '../components/tabs/style.css';
@import '../components/use-case-cta-section/style.css';

/* Pages */
@import './not-found/style.css';
@import './downloads/style.css';
@import './community/style.css';
@import './use-cases/style.css';

/* Print Styles */
@import './print.css';

/*
 * About this selector:
 * `.g-subnav ~ *` finds all elements after the navigation.
 * `:target` finds the active permalink on the page.
 *
 * About this style:
 * `scroll-margin-top` adjusts the vertical scroll of a permalink.
 * `64px` adjusts the scroll to account for the navigation.
 * `0.5em` further adjusts the scroll to give the permalink breathing room.
 *
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/:target
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top
 */
.g-subnav ~ * :target {
  scroll-margin-top: calc(64px + 0.5em);
}

/* Layout Styles */
.g-section-block section {
  padding-top: 96px;
  padding-bottom: 96px;

  & > .g-section-header + *,
  & > .g-container > .g-section-header + * {
    margin-top: 72px;
  }

  & > * + *,
  & > .g-container > * + * {
    margin-top: 96px;
  }
}

.g-section-block .button-container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  margin: auto -8px -16px;
}

.g-section-block section > * + .button-container,
.g-section-block section > .g-container > * + .button-container {
  margin-top: 40px;
}

.g-section-block .button-container > * {
  margin: auto 8px 16px;
}

.g-section-block.theme-black-background-white-text {
  background: var(--gray-1);
  color: white;
}

/* Web Fonts */
@font-face {
  font-family: 'klavika-web';
  src: url('/fonts/klavika/medium.woff2') format('woff2'),
    url('/fonts/klavika/medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Display Font (Gilmer) */
@font-face {
  font-family: 'gilmer-web';
  src: url('/fonts/gilmer/light.woff2') format('woff2'),
    url('/fonts/gilmer/light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gilmer-web';
  src: url('/fonts/gilmer/regular.woff2') format('woff2'),
    url('/fonts/gilmer/regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gilmer-web';
  src: url('/fonts/gilmer/medium.woff2') format('woff2'),
    url('/fonts/gilmer/medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'gilmer-web';
  src: url('/fonts/gilmer/bold.woff2') format('woff2'),
    url('/fonts/gilmer/bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Body Font (Metro) */
@font-face {
  font-family: 'metro-web';
  src: url('/fonts/metro-sans/book.woff2') format('woff2'),
    url('/fonts/metro-sans/book.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'metro-web';
  src: url('/fonts/metro-sans/regular.woff2') format('woff2'),
    url('/fonts/metro-sans/regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'metro-web';
  src: url('/fonts/metro-sans/semi-bold.woff2') format('woff2'),
    url('/fonts/metro-sans/semi-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'metro-web';
  src: url('/fonts/metro-sans/bold.woff2') format('woff2'),
    url('/fonts/metro-sans/bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Code Font (Deja Vu) */
@font-face {
  font-family: 'dejavu-sans-mono-web';
  src: url('/fonts/dejavu/mono.woff2') format('woff2'),
    url('/fonts/dejavu/mono.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
