// Color overrides
$light: $grey-lightest;
$primary: $grey-dark;
$link: $blue;
$text: $grey-darkest;
$info: $blue;
$success: $green;
$warning: $yellow;
$danger: $red;
$black-bis: $ui-gray-900;
$black-ter: $ui-gray-700;
$grey-darker: $ui-gray-900;
$grey-lighter: $ui-gray-050;
$white-ter: rgba($white, 0.5);
$white-bis: $ui-gray-050;
$code: $grey-dark;
$code-background: transparent;
$border: $grey-light;

$hr-margin: 1rem 0;

$mobile: 769px;
$header-height: 4rem;

//typography
$family-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$family-monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$family-primary: $family-sans;
$body-size: 14px;
$size-3: (24/14) + 0rem;
$size-7: (13/14) + 0rem;
$size-8: (12/14) + 0rem;
$size-9: 0.75rem;
$size-10: 0.5rem;
$size-11: 0.25rem;
$console-spacing: 1.5rem;
$size-small: $size-8;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//input
$input-background-color: $white;
$input-focus-background-color: $white;
$input-border-color: $grey;

$radius: 2px;
$radius-large: 4px;

//box
$box-radius: 0;
$box-shadow: 0 0 0 1px rgba($black, 0.1);
$box-shadow-low: 0 5px 1px -2px rgba($black, 0.12), 0 3px 2px -1px rgba($black, 0);
$box-shadow-middle: 0 8px 4px -4px rgba($black, 0.1), 0 6px 8px -2px rgba($black, 0.05);
$box-shadow-high: 0 12px 5px -7px rgba($black, 0.08), 0 11px 10px -3px rgba($black, 0.1);
$box-shadow-highest: 0 16px 6px -10px rgba($black, 0.06), 0 16px 16px -4px rgba($black, 0.2);

$breadcrumb-item-color: $blue;
$breadcrumb-item-separator-color: rgba($blue, 0.5);
$breadcrumb-item-active-color: $black;

$navbar-background-color: transparent;

$menu-item-hover-background-color: $blue;
$menu-item-hover-color: $white;

$progress-bar-background-color: lighten($grey-light, 15%);

$base-border: 1px solid $ui-gray-300;
$light-border: 1px solid $ui-gray-200;

//menu
$menu-item-hover-color: $text;
$menu-item-hover-background-color: $grey-lightest;
$menu-item-active-color: $link;
$menu-item-active-background-color: transparent;

$box-link-shadow: 0 0 0 1px $ui-gray-200;
$box-link-hover-shadow: 0 0 0 1px $grey-light;

// Nav
$drawer-width: 300px;

// animations
$speed: 150ms;
$speed-slow: $speed * 2;

// Wizard
$wizard-progress-bar-height: 6px;
$wizard-progress-check-size: 16px;
