// Colors that will eventually be in Structure package

// Vault Gray
$vault-gray-010: #fdfdfe;
$vault-gray-050: #f7fafc;
$vault-gray-100: #ebeef5;
$vault-gray-200: #d3dbe6;
$vault-gray-300: #b4bdcc;
$vault-gray-400: #949fb0;
$vault-gray-500: #7c8797;
$vault-gray-600: #5a6370;
$vault-gray-700: #3c434d;
$vault-gray-800: #1d2126;
$vault-gray-900: #060708;
$vault-gray: $vault-gray-500;
$vault-gray-dark: $vault-gray-700;

// UI Gray
$ui-gray-010: #FBFBFC;
$ui-gray-050: #F7F8FA;
$ui-gray-100: #EBEEF2;
$ui-gray-200: #DCE0E6;
$ui-gray-300: #BAC1CC;
$ui-gray-500: #6F7682;
$ui-gray-700: #525761;
$ui-gray-800: #373a42;
$ui-gray-900: #1f2124;
$grey-lightest: $ui-gray-050;
$grey-light: $ui-gray-300;
$grey: $ui-gray-500;
$grey-dark: $ui-gray-700;
$grey-darkest: $ui-gray-900;

// Blue
$blue-010: #fbfcff;
$blue-050: #f0f5ff;
$blue-100: #bfd4ff;
$blue-300: #5b92ff;
$blue-500: #1563ff;
$blue-700: #0e40a3;
$blue-900: #061b46;
$blue-lightest: $blue-050;
$blue-light: $blue-300;
$blue: $blue-500;
$blue-dark: $blue-700;
$blue-darkest: $blue-900;

// Red
$red-010: #fdfafb;
$red-050: #f9ecee;
$red-100: #efc7cc;
$red-300: #db7d88;
$red-500: #c73445;
$red-700: #7f222c;
$red-900: #370f13;
$red-lightest: $red-050;
$red-light: $red-300;
$red: $red-500;
$red-dark: $red-700;
$red-darkest: $red-900;

// Green
$green-010: #fafdfa;
$green-050: #ecf7ed;
$green-100: #c6e9c9;
$green-300: #7acc81;
$green-500: #2eb039;
$green-700: #1e7125;
$green-900: #0d3010;
$green-lightest: $green-050;
$green-light: $green-300;
$green: $green-500;
$green-dark: $green-700;
$green-darkest: $green-900;

// Orange
$orange-010: #fffcfa;
$orange-050: #fef4ec;
$orange-100: #fde0c8;
$orange-300: #fbb77f;
$orange-500: #fa8f37;
$orange-700: #a05c23;
$orange-900: #45270f;
$orange-lightest: $orange-050;
$orange-light: $orange-300;
$orange: $orange-500;
$orange-dark: $orange-700;
$orange-darkest: $orange-900;

// Yellow
$yellow-010: #fffdf6;
$yellow-050: #fffbed;
$yellow-100: #fdeeba;
$yellow-300: #fbd95e;
$yellow-500: #fac402;
$yellow-700: #a07d02;
$yellow-900: #453601;
$yellow-lightest: $yellow-050;
$yellow-light: $yellow-300;
$yellow: $yellow-500;
$yellow-dark: $yellow-700;
$yellow-darkest: $yellow-900;
