@use 'tokens';
// Colors that will eventually be in Structure package

// Design System Colors: https://design-system-components-hashicorp.vercel.app/foundations/tokens
$token-black: var(--token-color-vault-brand-alt); // black #000000
$token-white: var(--token-color-palette-neutral-0); // white #fffff

// Vault Gray
$vault-gray-010: $token-white; // formerly #fdfdfe
$vault-gray-050: #f7fafc; // unused
$vault-gray-100: #ebeef5; // unused
$vault-gray-200: #d3dbe6; // unused
$vault-gray-300: #b4bdcc; // unused
$vault-gray-400: #949fb0; // unused
$vault-gray-500: #7c8797; // unused
$vault-gray-600: #5a6370; // unused
$vault-gray-700: #3c434d; // unused
$vault-gray-800: #1d2126; // unused
$vault-gray-900: #060708; // unused

// UI Gray
$ui-gray-010: var(--token-color-palette-neutral-50);
$ui-gray-050: var(--token-color-palette-neutral-50);
$ui-gray-100: var(--token-color-palette-neutral-100);
$ui-gray-200: var(--token-color-palette-neutral-200);
$ui-gray-300: var(--token-color-palette-neutral-300);
$ui-gray-400: var(--token-color-palette-neutral-400);
$ui-gray-500: var(--token-color-palette-neutral-500);
$ui-gray-600: var(--token-color-palette-neutral-500);
$ui-gray-700: var(--token-color-palette-neutral-500);
$ui-gray-800: var(--token-color-foreground-primary);
$ui-gray-900: var(--token-color-foreground-strong);
$vault-gray: $ui-gray-500;
$vault-gray-dark: $ui-gray-800;
$grey-lightest: $ui-gray-050;
$grey-light: $ui-gray-300;
$grey: $ui-gray-500;
$grey-dark: $ui-gray-700;
$grey-darkest: $ui-gray-900;

// Blue
$blue-010: var(--token-color-palette-blue-50);
$blue-050: var(--token-color-palette-blue-50);
$blue-100: var(--token-color-palette-blue-100);
$blue-300: var(--token-color-palette-blue-200);
$blue-500: var(--token-color-palette-blue-200);
$blue-700: var(--token-color-palette-blue-400); // unused
$blue-900: var(--token-color-palette-blue-500); // unused
$blue-lightest: $blue-050;
$blue-light: $blue-300;
$blue: $blue-500;
$blue-dark: $blue-700;
$blue-darkest: $blue-900;

// Red
$red-010: var(--token-color-palette-red-50);
$red-050: var(--token-color-palette-red-50);
$red-100: var(--token-color-palette-red-100); // unused
$red-300: var(--token-color-palette-red-100); // unused
$red-500: var(--token-color-palette-red-200);
$red-700: var(--token-color-palette-red-400);
$red-900: var(--token-color-palette-red-500); // unused
$red-lightest: $red-050;
$red-light: $red-300; // unused
$red: $red-500;
$red-dark: $red-700;
$red-darkest: $red-900; // unused

// Green
$green-010: var(--token-color-palette-green-50);
$green-050: var(--token-color-palette-green-50);
$green-100: var(--token-color-palette-green-100);
$green-300: var(--token-color-palette-green-100);
$green-500: var(--token-color-palette-green-200);
$green-700: var(--token-color-palette-green-300);
$green-900: var(--token-color-palette-green-500); // unused
$green-lightest: $green-050;
$green-light: $green-300;
$green: $green-500;
$green-dark: $green-700;
$green-darkest: $green-900; // unused

// Orange
$orange-010: #fffcfa; // unused
$orange-050: #fef4ec; // unused
$orange-100: #fde0c8; // unused
$orange-300: #fbb77f; // unused
$orange-500: #fa8f37; // unused
$orange-700: var(--token-color-palette-amber-300);
$orange-900: #45270f; // unused
$orange-lightest: $orange-050; // unused
$orange-light: $orange-300; // unused
$orange: $orange-500; // unused
$orange-dark: $orange-700;
$orange-darkest: $orange-900; // unused

// Yellow
$yellow-010: var(--token-color-vault-gradient-faint-start);
$yellow-050: var(--token-color-palette-amber-50); // unused
$yellow-100: var(--token-color-palette-amber-100);
$yellow-300: var(--token-color-vault-brand); // unused
$yellow-500: #fac402; // var(--token-color-vault-brand);
$yellow-700: var(--token-color-vault-foreground);
$yellow-900: var(--token-color-palette-amber-500);
$yellow-lightest: $yellow-050; // unused
$yellow-light: $yellow-300; // unused
$yellow: $yellow-500;
$yellow-dark: $yellow-700;
$yellow-darkest: $yellow-900;

// Black (for browser CLI console)
$gradient-darker: #191a1c; // var(--token-color-foreground-strong)
$gradient-lighter: #1b212d;
