// Colors that will eventually be in Structure package

// Vault Gray
$vault-gray-050: #E9EEF5;
$vault-gray-100: #DAE2ED;
$vault-gray-200: #BCC8D6;
$vault-gray-300: #9BAABA;
$vault-gray-400: #828F9E;
$vault-gray-500: #6A7786;
$vault-gray-600: #515D6B;
$vault-gray-700: #3D4854;
$vault-gray-800: #242B33;
$vault-gray-900: #11161C;

$vault-grey: $vault-gray-500;
$vault-grey-dark: $vault-gray-700;

// UI Gray
$ui-gray-050: #F7F8FA;
$ui-gray-100: #EBEEF2;
$ui-gray-200: #DCE0E6;
$ui-gray-300: #BAC1CC;
$ui-gray-400: #8E96A3;
$ui-gray-500: #6a7786;
$ui-gray-600: #626873;
$ui-gray-700: #525761;
$ui-gray-800: #373A42;
$ui-gray-900: #1F2124;

$grey-lighter: $ui-gray-050;
$grey-light: $ui-gray-300;
$grey: $ui-gray-500;
$grey-dark: $ui-gray-700;
