{{! this dashboard template displays in three routes so @model varies slightly: index, history and config }}
<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Vault Client Count
    </h1>
  </p.levelLeft>
</PageHeader>

<div class="tabs-container box is-bottomless is-marginless is-fullwidth is-paddingless" data-test-pricing-metrics>
  <nav class="tabs">
    <ul>
      <LinkTo @route="vault.cluster.clients.index" class="nav-tab-link">
        Current month
      </LinkTo>
      <LinkTo @route="vault.cluster.clients.history" class="nav-tab-link">
        History
      </LinkTo>
      {{#if (or @model.config.configPath.canRead @model.configPath.canRead)}}
        <LinkTo @route="vault.cluster.clients.config" class="nav-tab-link">
          Configuration
        </LinkTo>
      {{/if}}
    </ul>
  </nav>
</div>