<div class="horizontal-bar-chart">
  <div class="chart">
    <svg class="chart"
      {{did-insert this.renderChart @dataset}} 
      {{did-update this.renderChart @dataset}} >
    </svg>
  </div>
  <div class="legend">
    <svg class="legend"></svg>
  </div>
</div>

