{{#if (eq @config.enabled "On")}}
  <EmptyState
    @title="No data received {{if @dateRangeMessage @dateRangeMessage}}"
    @message="Tracking is turned on and Vault is gathering data. It should appear here within 30 minutes."
  />
{{else}}
  <EmptyState
    @title="Data tracking is disabled"
    @message="Tracking is disabled, and no data is being collected. To turn it on, edit the configuration."
  >
    {{#if @config.canEdit}}
      <p>
        <LinkTo @route="vault.cluster.clients.config">
          Go to configuration
        </LinkTo>
      </p>
    {{/if}}
  </EmptyState>
{{/if}}