<div class="chart-wrapper">
  <div class="chart-header">
    <h2 class="chart-title">{{@title}}</h2>
    {{#if @description}}
      <p class="chart-description">{{@description}}</p>
    {{/if}}
  </div>
  <div class="chart-container">
    <svg 
      {{did-insert this.registerListner}}
      class="chart"
    ></svg>
  </div>

  <div class="data-description">Description</div>

  <div class="data-one">Data 1</div>
  
  <div class="data-two">Data 2</div>

  <div class="legend-container">
    legend
    {{!-- <svg class="legend"></svg> --}}
  </div>
</div>