{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="tabs-container box is-sideless is-fullwidth is-paddingless is-marginless">
  <nav class="tabs" aria-label="navigation for managing MFA">
    <ul>
      <LinkTo @route="vault.cluster.access.mfa.methods" data-test-tab="methods">
        Methods
      </LinkTo>
      <LinkTo @route="vault.cluster.access.mfa.enforcements" data-test-tab="enforcements">
        Enforcements
      </LinkTo>
    </ul>
  </nav>
</div>