<div class="columns">
  {{#menu-sidebar title="Tools" class="is-3"}}
    {{#each (tools-actions) as |supportedAction|}}
      {{#if (has-permission "tools" routeParams=supportedAction)}}
        <li>
          {{#link-to 'vault.cluster.tools.tool' supportedAction refreshModel=true
            class="(if (eq supportedAction selectedAction) 'is-active')"
            data-test-tools-action-link=supportedAction
            }}
            {{capitalize supportedAction}}
          {{/link-to}}
        </li>
      {{/if}}
    {{/each}}
  {{/menu-sidebar}}
  <div class="column is-9">
    {{tool-actions-form selectedAction=selectedAction}}
  </div>
</div>
