/**
 * Copyright IBM Corp. 2016, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

.about-this-engine__content {
  max-width: 95%;
}

.about-this-engine__row-label {
  min-width: 160px;
}

.about-this-engine__list {
  max-width: 600px;
}
