.auth-form {
  @extend .box;
  @extend .is-bottomless;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.auth-form .vault-loader {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
