.badge {
  border: 1px solid $grey;
  border-radius: 3px;
  color: $grey-dark;
  display: inline-block;
  font-size: $size-9;
  line-height: $size-7;
  text-transform: uppercase;
  margin-left: 0.5rem;
  opacity: 0.6;
  padding: 0.1rem 0.3rem;

  .navbar &,
  .navbar-sections &,
  .upgrade-overlay & {
    border-color: $grey-light;
    color: $white;
  }

  .title & {
    font-weight: $font-weight-normal;
    vertical-align: middle;
  }
}
