.box-radio-container {
  display: flex;
  flex-wrap: wrap;
  border: none;
}
.title.box-radio-header {
  font-size: $size-6;
  color: $grey;
  margin: $size-7 0 0 0;
}

.box-radio {
  margin: $size-6 $size-3 $size-6 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 7rem;
  min-height: 7.5rem;
  padding: $size-10 $size-6 $size-10;
  border-radius: $radius;
  box-shadow: $box-shadow;
  text-align: center;
  color: $grey;
  font-weight: $font-weight-semibold;
  line-height: 1;
  font-size: 12px;
  transition: box-shadow ease-in-out $speed;
  will-change: box-shadow;

  &.is-selected {
    box-shadow: 0 0 0 1px $grey-light, $box-shadow-middle;
  }

  &.is-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 7rem;
    height: 6rem;
    padding: 0 1rem 1rem;
  }
  label span {
    display: block;
  }
}

.box-radio:focus,
.box-radio:focus-within,
.box-radio:focus-visible {
  box-shadow: 0 0 0 1px $blue-light, $box-shadow-middle;
}
