@use '../utils/size_variables';

/**
 * Copyright IBM Corp. 2016, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */

.cluster-banners-wrapper {
  width: 100%;
  max-width: size_variables.$page-max-width;

  > div {
    margin-top: size_variables.$spacing-24;
    &:last-of-type {
      margin-bottom: size_variables.$spacing-24;
    }
  }
}

.cluster-banners-wrapper {
  margin-left: 0;
  transition: margin-left var(--hds-app-side-nav-animation-duration, 200ms)
    var(--hds-app-side-nav-animation-easing, cubic-bezier(0.65, 0, 0.35, 1));
}

.hds-app-frame:has(.hds-app-side-nav--is-minimized) .cluster-banners-wrapper {
  margin-left: max(0px, calc((100% - size_variables.$page-max-width) / 2));
}
