.doc-link {
  color: $link;
  text-decoration: none;
  font-weight: $font-weight-semibold;
  &:hover {
    text-decoration: underline !important;
  }

  &.info-message-link {
    color: $blue !important;
    text-decoration: none !important;
    font-size: $size-7;
  }
}

.doc-link-subtle {
  color: inherit;
  text-decoration: underline;
  font-weight: inherit;
  &:hover {
    color: inherit;
  }
}
