.global-flash {
  bottom: 0;
  left: $spacing-s;
  margin: 10px;
  max-width: $drawer-width;
  position: fixed;
  width: 95%;
  z-index: 300;

  .message {
    box-shadow: $box-shadow-high;
    .message-body {
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      display: inline-flex;
    }
  }
}
