.hs-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 16px;
  min-width: fit-content;
}

.hs-icon svg {
  fill: currentColor;
  flex: 1 1 0;
}
.hs-icon-s {
  width: 12px;
}

.hs-icon-l {
  width: 20px;
}

.hs-icon-xl {
  width: 28px;
}

.hs-icon-xxl {
  width: 32px;
}
