.http-requests-table {
  & tr {
    border-bottom: 1px solid $grey-light;
  }

  & td {
    padding: $spacing-s;
  }

  & .arrow-up {
    transform: rotate(45deg);
  }

  & .arrow-down {
    transform: rotate(-45deg);
  }
}
