.http-requests-bar-chart-container {
  margin-top: $spacing-s;
  margin-bottom: $spacing-m;
  display: flex;
}

.http-requests-bar-chart {
  margin: auto;
  overflow: inherit;

  .tick {
    line {
      stroke: $light-grey;
    }

    text {
      fill: $grey;
      font-size: $size-8;
    }
  }

  .gridlines {
    .domain {
      stroke: unset;
    }

    line {
      stroke-dasharray: 5 5;
    }
  }

  .x-axis,
  .y-axis {
    .domain,
    line {
      stroke: $grey-light;
    }
  }
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: '\25BC';
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
