.http-requests-bar-chart-container {
  margin-top: $spacing-s;
  margin-bottom: $spacing-m;
  display: flex;
}

.http-requests-bar-chart {
  margin: auto;
  overflow: inherit;

  .domain,
  .tick > line {
    stroke: $grey;
  }

  .tick > text {
    fill: $grey;
    font-size: $size-8;
  }
}
