.http-requests-bar-chart-container {
  margin-top: $spacing-s;
  margin-bottom: $spacing-m;
  display: flex;
}

.http-requests-bar-chart {
  margin: auto;
  overflow: inherit;

  .tick > line {
    stroke: $light-grey;
  }

  .tick > text {
    fill: $grey;
    font-size: $size-8;
  }

  .gridlines > .domain {
    stroke: unset;
  }

  .x-axis,
  .y-axis {
    .domain,
    .tick > line {
      stroke: $grey-light;
    }
  }
}
