.init-box {
  position: relative;
  z-index: 10;
}
.init-illustration {
  bottom: 0;
  right: 0;
  overflow: hidden;
  position: absolute;
  height: 200px;
  width: 200px;
}
.init-illustration svg {
  position: absolute;
  right: -50px;
  bottom: -50px;
  opacity: 0.8;
}
