.kmip-allowed-operations-header {
  @extend .title;
  @extend .is-6;
  padding-left: $spacing-s;
}
.kmip-role-allowed-operations {
  @extend .box;
  flex: 1 1 auto;
  box-shadow: none;
  padding: 0;
}
.kmip-role-allowed-operations .field {
  margin-bottom: $spacing-xxs;
}
