.linked-block {
  cursor: pointer;
  transition: box-shadow $speed;
  &:hover,
  &:focus,
  &:active {
    position: relative;
    box-shadow: $box-link-hover-shadow, $box-shadow-middle;
  }
}

.linked-block .columns {
  @extend .is-flex-center;
}
