.linkable-item {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 50px 35px;
  gap: 1em 1em;
}

.linkable-item-menu {
  box-sizing: border-box;
  grid-column: 3;
  grid-row: 1;
  align-self: center;
}
