.modal-background {
  background: rgb(235, 238, 242, 0.9);
}

.modal-card {
  box-shadow: $box-shadow-highest;
  border: 1px solid $grey-light;

  &-head {
    border-radius: 0;
    background-color: $grey-lightest;
    border-bottom: 1px solid $grey-light;
  }

  &-foot {
    border-radius: 0;
    border: 0;
    background-color: $white;
  }

  &-title.title {
    margin: 0;
  }

  .copy-text {
    background-color: $grey-lightest;
    padding: $spacing-s;
    margin-bottom: $spacing-s;

    code {
      overflow: scroll;
      max-width: calc(100% - 36px);
      background-color: inherit;
    }
  }

  .copy-close {
    margin-top: $spacing-s;
  }
}

.modal-card-title.title {
  display: flex;
  align-items: center;
}

pre {
  background-color: inherit;
}

.is-highlight {
  .modal-card-head {
    background: $yellow-010;
    border: 1px solid $yellow-100;
  }
  .modal-card-title {
    color: $yellow-dark;
  }
}

.modal-confirm-section .is-help {
  color: $grey;
  margin: $spacing-xxs 0;
  strong {
    color: inherit;
  }
}

.modal-confirm-section {
  margin: $spacing-xl 0 $spacing-m;
}

.modal-card-foot-outlined {
  background: #f7f8fa;
  border-top: 1px solid #bac1cc;
}
