.modal-background {
  background: rgb(235, 238, 242, 0.9);
}

.modal-card {
  box-shadow: $box-shadow-highest;
  border: 1px solid $grey-light;

  &-head {
    border-radius: 0;
    background-color: $grey-lightest;
    border-bottom: 1px solid $grey-light;
  }

  &-foot {
    border-radius: 0;
    border: 0;
    background-color: $white;
  }

  &-title.title {
    margin: 0;
  }

  .copy-text {
    background-color: $grey-lightest;
    padding: $spacing-s;
    width: max-content;
    margin-bottom: $spacing-s;
  }
}
