.page-header {
  padding-bottom: $size-10;
  padding-top: $size-4;

  .level {
    align-items: flex-end;
  }
  .level-left,
  .level-right {
    flex-grow: 1;
    flex-shrink: 1;

    @include until($tablet) {
      margin-top: 0.5rem;
    }
  }
  .level-right {
    @include from($tablet) {
      justify-content: flex-end;
    }
  }

  .title {
    margin-top: $size-1;
  }

  .breadcrumb + .level .title {
    margin-top: $size-4;
  }
  .title .icon {
    height: auto;
    vertical-align: -0.15em;
    width: auto;
  }
}
