@use '../utils/mixins';
@use '../utils/size_variables';

/**
 * Copyright IBM Corp. 2016, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */

.page-header {
  .level {
    align-items: flex-end;
  }
  .level-left,
  .level-right {
    flex-grow: 1;
    flex-shrink: 1;

    @include mixins.until(size_variables.$mobile) {
      margin-top: 0.5rem;
    }
  }
  .level-right {
    @include mixins.from(size_variables.$mobile) {
      justify-content: flex-end;
    }
  }

  .title {
    margin-top: size_variables.$spacing-16;
  }

  .title-with-icon {
    display: flex;
  }

  .breadcrumb + .level .title {
    margin-top: size_variables.$spacing-20;
  }
  .title .icon {
    height: auto;
    vertical-align: -0.15em;
    width: auto;
  }
}
