.progress-container {
  align-items: center;
  background: $progress-bar-background-color;
  box-shadow: inset 0 0 0 1px $ui-gray-200;
  border-radius: $radius;
  height: 24px;
  display: flex;
  transform: translateY(50%);
  width: 100%;
}

.progress-bar {
  background: $green;
  display: flex;
  height: 24px;
  position: relative;
  border-radius: $radius;
}

// .feature-progress-container {
//   align-items: center;
//   flex: 1 0 auto;
//   padding: 0 ($wizard-progress-check-size / 4);
//   position: relative;
// }

// .feature-progress {
//   background: $green;
//   border-radius: $wizard-progress-bar-height;
//   height: $wizard-progress-bar-height;
// }
