.replication-dashboard {
  .has-margin-bottom {
    padding-bottom: $spacing-xs;
  }

  .has-large-margin-top {
    margin-top: $spacing-xl;
  }

  .selectable-card {
    line-height: normal;

    &:hover {
      box-shadow: 0 0 0 1px rgba($grey-dark, 0.3);
    }

    .title-number {
      font-size: $size-3;
      align-self: end;
    }
  }

  .helper-text {
    font-weight: $font-weight-normal;
  }

  .selectable-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 2rem;

    .card-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 0.8fr;
      padding: $spacing-l 0 18px $spacing-l;
      line-height: 1.5;

      // If descriptions are smaller then height is affected, this keeps the cards consistent
      min-height: 220px;

      @include until(1320px) {
        // prevent an issue with the card descriptions wrapping and expanding height
        min-height: 250px;
      }

      .grid-item-title {
        grid-column: 1 / span 2;

        display: flex;
      }
      .grid-item-left {
        grid-column: 1/1;
        grid-row: 2/2;
      }
      .grid-item-right {
        grid-column: 2/2;
        grid-row: 2/2;
      }
      .grid-item-left-bottom {
        grid-column: 1/1;
        grid-row: 3/3;

        display: flex;
        align-items: center;
      }
      .grid-item-right-bottom {
        grid-column: 2/2;
        grid-row: 3/3;
      }
    }

    .has-border-danger {
      border: 1px solid $danger;
    }
  }

  .has-text-highlight {
    color: $yellow-500;
  }
}
