.replication {
  .selectable-card-container {
    margin: 2rem 0 2rem 0;
    grid-template-columns: 1fr 2fr;

    @include until($mobile) {
      grid-template-columns: 1fr;
    }
  }

  .selectable-card {
    display: initial;
    line-height: normal;

    &:hover {
      box-shadow: 0 0 0 1px rgba($grey-dark, 0.3);
    }

    .card-title {
      margin-bottom: 2rem;
    }

    &.secondaries {
      grid-column: 2/3;
      grid-row: 1/3;

      @include until($mobile) {
        grid-column: 1/1;
        grid-row: 1/1;
      }
    }
  }

  .helper-text {
    font-weight: normal;
  }
}
