.secret-control-bar {
  margin: 0;
  padding: $size-10 $size-9;
  background: $grey-lighter;
  box-shadow: 0 1px 0 $grey-light, 0 -1px 0 $grey-light;
  display: flex;
  justify-content: flex-end;
  .control {
    flex: 0 1 auto;
    padding: 0 $size-10;
    font-size: $size-8;
    height: 1.8rem;
    line-height: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .switch[type='checkbox'].is-small + label::before {
      top: 0.5rem;
    }
    .switch[type='checkbox'].is-small + label::after {
      top: 0.6rem;
    }
  }
}
