.selectable-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 2rem;
}

.selectable-card-container-graph {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem;

  @include until($mobile) {
    grid-template-columns: 2fr;
  }

  > .grid-item-http {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.selectable-card {
  box-shadow: 0 0 0 1px rgba($grey-dark, 0.3);
  display: flex;
  justify-content: space-between;
  padding: $spacing-l 0 $spacing-l $spacing-l;
  line-height: 0;

  &:hover {
    box-shadow: 0 0 0 1px $grey-light, $box-shadow-middle;
  }

  > a {
    text-decoration: none;
  }

  .card-details {
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: end;
    justify-self: right;
    padding-right: $spacing-l;
  }

  .chart {
    grid-column: 1 / span 2;
    grid-row-start: 2;
    align-self: end;
  }

  .change-metric {
    justify-self: right;
    padding-right: $spacing-l;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .hs-icon {
      color: $grey-light;
      align-self: center;
      justify-self: right;
    }

    .amount-change {
      align-self: center;
      justify-self: center;

      font-weight: 500;
    }
    .item-c {
      grid-column: 1 / span 2;
      align-self: start;
      justify-self: end;

      font-weight: $font-weight-semibold;
    }
  }

  .title-number {
    color: $black;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.33;
  }
}

.selectable-card.is-rounded {
  border-radius: $radius;
}

.selectable-card.is-grid-container {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  grid-template-rows: 1fr 2fr 0.5fr;
  grid-gap: 2rem;
}

.change-metric-icon.is-decrease {
  transform: rotate(135deg);
}
.change-metric-icon.is-increase {
  transform: rotate(45deg);
}
