a.splash-page-logo {
  color: $white;
  svg {
    transform: scale(.5);
    transform-origin: left;
    fill: currentColor;
  }
}

.splash-page-container {
  margin: $size-2 0;
}
.splash-page-header {
  padding: .75rem 1.5rem;
}
