.is-status-chevron {
  line-height: 0;
  padding: 0.25em 0 0.25em 0.25em;
}

.status-menu-user-trigger {
  height: 1.5em;
  width: 1.5em;
  background: $white-bis;
  box-shadow: 0 0 0 1px $white;
  margin-right: 0.25rem;

  .icon {
    min-width: 0;
  }
}
