.status-indicator-button {
  &[data-status='good'] {
    .status-indicator-icon-dot {
      fill: $green-light;
    }

    .status-indicator-icon-ring {
      fill: $green-dark;
    }
  }

  &[data-status='mixed'] {
    .status-indicator-icon-dot {
      fill: $yellow;
    }

    .status-indicator-icon-ring {
      fill: $yellow-dark;
    }
  }

  &[data-status='bad'] {
    .status-indicator-icon-dot {
      fill: $red;
    }

    .status-indicator-icon-ring {
      fill: $red-dark;
    }
  }
}
