.status-indicator-button {
  &[data-status='good'] {
    .status-indicator-color {
      color: $green-light;
    }
  }

  &[data-status='mixed'] {
    .status-indicator-color {
      color: $yellow;
    }
  }

  &[data-status='bad'] {
    .status-indicator-color {
      color: $red;
    }
  }
}
