.sub-nav {
  &.tabs {
    background: $grey-lighter;
    padding: 0 1.25rem;
    ul {
      border-color: transparent;
    }
    a {
      color: $grey-dark;
      font-weight: $font-weight-semibold;
      text-decoration: none;
      padding: 1.5rem 1rem;
      border-bottom: 2px solid transparent;
      transition: border-color $speed;
    }
    a:hover,
    a:active {
      border-color: $grey-light;
    }
    li:focus {
      box-shadow: none;
    }
    li.is-active a {
      border-color: $blue;
      color: $blue;
    }
    .ember-basic-dropdown-trigger {
      outline: none;
    }
  }
}
