.text-file {
  .has-icon-right {
    display: flex;
    width: 97%;

    .textarea {
      line-height: inherit;
    }
  }
  .button.masked-input-toggle,
  .button.copy-button {
    display: flex;
  }
}
