.token-expire-warning {
  position: absolute;
  z-index: 200;
  display: flex;
  justify-content: center;
  box-shadow: $box-shadow-highest;
  top: 1rem;
  left: 1rem;
  right: 1rem;
}
.token-expire-warning .content p {
  padding-right: $size-6;
}
.token-expire-warning .message {
  margin: 0;
  width: 100%;
}
