@use '../utils/size_variables';

/**
 * Copyright IBM Corp. 2016, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */

.copy-text {
  background: var(--token-color-surface-faint);

  & > code {
    color: var(--token-color-foreground-primary);
    padding: 14px;
  }
}
.transform-pattern-text div:not(:first-child) {
  font-family: var(--token-typography-font-stack-code);
}
.transform-decode-formats:not(:last-child) {
  margin-bottom: size_variables.$spacing-12;
}
