.linkable-item {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 50px 35px;
  gap: 1em 1em;
}

.linkable-item-content {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 1;
  &.truncated {
    grid-column-end: span 1;
  }
}
.linkable-item-seemore {
  grid-column: 2;
  grid-row: 1;
  align-self: baseline;
}
.linkable-item-menu {
  box-sizing: border-box;
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  // text-align: right;
  // padding-left: 1em;
}

// .truncate-description {
//   display: block;
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
// }

.overflow-ellipsis {
  box-sizing: border-box;
  &.is-closed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
