.ui-wizard-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ui-wizard-container .app-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.ui-wizard-container .app-content.wizard-open {
  padding-right: 324px;
}

.ui-wizard {
  z-index: 300;
  padding: $size-5 $size-5 $size-11;
  width: 300px;
  background: $white;
  box-shadow: $box-shadow, $box-shadow-highest;
  position: fixed;
  right: $size-6;
  bottom: $size-6;
  top: calc(4.5 * #{$size-6});
  overflow: auto;
  .doc-link {
    margin-top: $size-5;
    display: block;
  }
}

.wizard-header {
  margin-bottom: $size-5;
  position: relative;
}
.wizard-dismiss-menu {
  position: absolute;
  right: $size-6;
  top: $size-6;
  z-index: 10;
}

.ui-wizard.collapsed {
  position: fixed;
  top: 4rem;
  right: 2rem;
  bottom: auto;
  height: auto;
  min-height: 0;
  background: $black;
  color: $white;
  box-shadow: $box-shadow-middle;
  .title {
    color: $white;
  }
  .wizard-header {
    margin: 0;
  }
}

.wizard-divider-box {
  background: none;
  box-shadow: none;
  margin: $size-8 0 0;
  padding: 0 $size-8;
  border-top: solid 1px $white;
  border-image: $dark-vault-gradient 1;
  button {
    font-size: $size-7;
    font-weight: $font-weight-semibold;
  }
}

.wizard-section .title .icon {
  height: auto;
  width: auto;
}

.wizard-details {
  padding-top: $size-4;
  margin-top: $size-4;
  border-top: 1px solid $grey-light;
}
