<PkiBreadcrumbHeader @resource="key" @pageTitle="View key" @icon="certificate" />
<Toolbar>
  <ToolbarActions>
    <ConfirmAction
      @buttonClasses="toolbar-link"
      @onConfirmAction={{this.deleteKey}}
      @confirmTitle="Delete key?"
      @confirmButtonText="Delete"
      data-test-pki-key-delete
    >
      Delete
    </ConfirmAction>
    <ToolbarLink @route="keys.key.edit" @model={{@key.model.name}}>
      Edit key
    </ToolbarLink>
  </ToolbarActions>
</Toolbar>

<div class="box is-fullwidth is-sideless is-paddingless is-marginless">
  {{#each @key.formFields as |attr|}}
    <InfoTableRow
      @label={{capitalize (or attr.options.detailsLabel attr.options.label (humanize (dasherize attr.name)))}}
      @value={{get @key attr.name}}
    />
  {{/each}}
</div>