{{#splash-page as |s|}}
  {{#s.header}}
    <div class="has-text-white">
      Sign in to Vault
    </div>
  {{/s.header}}
  {{#s.content}}
    <div class="message is-highlight is-marginless">
      <div class="message-body is-shadowless">
        <div class="columns is-multiline">
          <div class="column is-narrow" data-test-cluster-status="true">
            {{i-con glyph="unlocked" size=20}} {{capitalize model.name}} is {{if model.unsealed 'unsealed' 'sealed'}}
          </div>
        </div>
      </div>
    </div>
    {{auth-form
      cluster=model
      redirectTo=redirectTo
      selectedAuthType=with
    }}
  {{/s.content}}
  {{#s.footer}}
    <div class="has-short-padding">
      <p class="help has-text-grey-dark">
        Contact your administrator for login credentials
      </p>
    </div>
  {{/s.footer}}
{{/splash-page}}
