<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Vault Usage Metrics
    </h1>
  </p.levelLeft>
</PageHeader>

<div class="tabs-container box is-bottomless is-marginless is-fullwidth is-paddingless">
  <nav class="tabs">
    <ul>
      <LinkTo @route="vault.cluster.clients.dashboard" data-test-dashboard>
        Dashboard
      </LinkTo>
      {{#if (or @model.config.configPath.canRead @model.configPath.canRead)}}
        <LinkTo @route="vault.cluster.clients.config">
          Configuration
        </LinkTo>
      {{/if}}
    </ul>
  </nav>
</div>

{{outlet}}