{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Vault Usage Metrics
    </h1>
  </p.levelLeft>
</PageHeader>

<div class="tabs-container box is-bottomless is-marginless is-fullwidth is-paddingless">
  <nav class="tabs" aria-label="navigation for managing client counts">
    <ul>
      <LinkTo @route="vault.cluster.clients.counts.overview" data-test-tab="overview">
        Overview
      </LinkTo>
      <LinkTo @route="vault.cluster.clients.counts.token" data-test-tab="token">
        Entity/Non-entity clients
      </LinkTo>
      {{! * unavailable during SYNC BETA (1.16.0), planned for 1.16.1 release
      <LinkTo @route="vault.cluster.clients.counts.sync" data-test-tab="sync">
        Secrets sync clients
      </LinkTo>
       }}
      {{#if (or @model.config.canRead @model.canRead)}}
        <LinkTo
          @route="vault.cluster.clients.config"
          @current-when="vault.cluster.clients.config vault.cluster.clients.edit"
          data-test-tab="config"
        >
          Configuration
        </LinkTo>
      {{/if}}
    </ul>
  </nav>
</div>

{{outlet}}