<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      {{#link-to "vault.cluster.license" }}
        License
      {{/link-to}}
    </h1>
  </p.levelLeft>
</PageHeader>
{{component 'license-info' startTime=model.startTime expirationTime=model.expirationTime licenseId=model.licenseId features=model.features}}
