<div class="splash-page-container section is-flex-v-centered-tablet is-flex-1 is-fullwidth">
  <div class="columns is-centered is-gapless is-fullwidth">
    <div class="column is-4-desktop is-6-tablet">
      <div class="has-text-grey has-bottom-margin has-current-color-fill">
        <LogoEdition />
      </div>
      <AlertBanner
        @type="success"
        @title="Signing in with your OIDC provider..."
        @message="This window will close automatically"
      />
    </div>
  </div>
</div>
