<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      HTTP Request Volume
    </h1>
  </p.levelLeft>
</PageHeader>

<HttpRequestsBarChart @counters={{model.counters}}/>
<AlertInline @type="info" @message="Metrics are recorded only for interactions that produce or use a Vault token." />
<HttpRequestsTable @counters={{model.counters}} />
