<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      HTTP Request Volume
    </h1>
  </p.levelLeft>
</PageHeader>

{{#if model.counters}}
  {{!--
    <HttpRequestsBarChart @counters=counters />
  --}}
    <HttpRequestsTable @counters={{model.counters}} />
{{else}}
  <EmptyState @title={{'There were no requests recorded'}}/>
{{/if}}
