<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">Generated policy for {{model.secretName}}</h1>
  </p.levelLeft>
</PageHeader>
<NamespaceReminder @mode="edit" @noun="policy" />
<div class="field">
  {{ivy-codemirror
    value=model.policy
    valueUpdated=(action (mut model.policy))
    options=(hash
      lineNumbers=true
      tabSize=2
      mode='ruby'
      theme='hashi'
    )
  }}
</div>
{{outlet}}