{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  {{#if @breadcrumbs}}
    <p.top>
      <Page::Breadcrumbs @breadcrumbs={{@breadcrumbs}} />
    </p.top>
  {{/if}}

  <p.levelLeft>
    <h1 class="title is-3 has-bottom-margin-m" data-test-page-title>
      {{#if @icon}}
        <Icon @name={{@icon}} @size="24" />
      {{/if}}
      {{@title}}
      {{#if this.flags.isHvdManaged}}
        <Hds::Badge @text="Plus feature" @color="highlight" @size="large" />
      {{/if}}
    </h1>
  </p.levelLeft>

  <p.levelRight>
    {{yield to="actions"}}
  </p.levelRight>
</PageHeader>