.container {
  composes: g-grid-container from global;
}

/*
 * Intro
 */

.intro {
  padding-bottom: 128px;
}

/*
 * In practice
 */

.inPractice {
  position: relative;
  margin: 0 auto 128px;
  padding: 64px 0;
  max-width: 1600px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--black);
    background-image: url('/img/practice-pattern.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top 200px left;

    @media (--large) {
      border-radius: 6px;
      left: 24px;
      right: 24px;
      background-size: 35%;
      background-position: top 64px left;
    }
  }
}

.inPracticeHeader {
  padding-bottom: 64px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  @media (--medium-up) {
    max-width: calc(100% * 4 / 12);
  }
}

.inPracticeHeading {
  margin: 0;
  composes: g-type-display-2 from global;
  color: var(--white);
}

.inPracticeDescription {
  margin: 16px 0 0;
  composes: g-type-body from global;
  color: var(--gray-5);
}

.inPracticeCards {
  --columns: 6;
  --minCol: 300px;

  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(var(--minCol), 1fr));
  gap: 32px;
  overflow-x: auto;

  @media (--medium-up) {
    --columns: 3;
    --minCol: 0;
  }

  & > li {
    display: flex;
  }
}

/*
 * Case studies
 */

.caseStudies {
  position: relative;
  margin: 0 auto 128px;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 1600px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--vault-accent);

    @media (--large) {
      border-radius: 6px;
      left: 24px;
      right: 24px;
    }
  }
}

.caseStudiesHeader {
  margin-bottom: 32px;

  @media (--medium-up) {
    max-width: calc(100% * 5 / 12);
  }
}

.caseStudiesHeading {
  margin: 0;
  composes: g-type-display-3 from global;
}

.caseStudiesDescription {
  margin: 8px 0 0;
  composes: g-type-body from global;
  color: var(--gray-3);
}
