.container {
  composes: g-grid-container from global;
}

/*
 * Intro
 */

.intro {
  padding-bottom: 64px;

  @media (--medium-up) {
    padding-bottom: 128px;
  }
}

.introHeader {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--vault);
  text-align: center;
}

.introHeaderInner {
  margin: auto;

  @media (--medium-up) {
    max-width: calc(100% * 7 / 12);
  }
}

.introHeading {
  margin: 0;
  composes: g-type-display-2 from global;
}

.introDescription {
  margin: 24px 0 0;
  composes: g-type-body-large from global;
}

.features {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 32px;
  margin-bottom: 64px;

  @media (--medium-up) {
    margin-bottom: 128px;
  }

  & li:first-of-type {
    background-image: linear-gradient(
      to bottom,
      var(--vault) 50%,
      var(--white) 50%
    );
  }
}

/*
 * In practice
 */

.inPractice {
  position: relative;
  margin: 0 auto 64px;
  padding: 64px 0;
  max-width: 1600px;

  @media (--medium-up) {
    padding: 80px 0;
    margin-bottom: 128px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--black);
    background-image: url('/img/practice-pattern.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top 200px left;

    @media (--large) {
      border-radius: 6px;
      left: 24px;
      right: 24px;
      background-size: 35%;
      background-position: top 64px left;
    }
  }
}

/*
 * Use cases
 */

.useCases {
  margin-bottom: 64px;

  @media (--medium-up) {
    margin-bottom: 128px;
  }
}

/*
 * Case studies
 */

.caseStudies {
  position: relative;
  margin: 0 auto 0;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 1600px;

  @media (--medium-up) {
    margin-bottom: 128px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--vault-accent);

    @media (--large) {
      border-radius: 6px;
      left: 24px;
      right: 24px;
    }
  }
}

.caseStudiesHeader {
  margin-bottom: 32px;

  @media (--medium-up) {
    max-width: calc(100% * 5 / 12);
  }
}

.caseStudiesHeading {
  margin: 0;
  composes: g-type-display-3 from global;
}

.caseStudiesDescription {
  margin: 8px 0 0;
  composes: g-type-body from global;
  color: var(--gray-3);
}
