#page-home {
  & .g-section-block {
    padding: 160px 0;
    &.page-wrap {
      padding-top: 0;
    }
  }

  & .g-logo-grid li img {
    max-height: 50%;
    max-width: 50%;
  }

  & .g-grid-container.remove-bottom-padding {
    padding-bottom: 0;
  }

  & .g-section-header.infrastructure {
    /* Override default max-width */
    max-width: 1050px;

    & h2 {
      max-width: 784px;
      margin: 0 auto;
    }
  }

  & .g-grid-container.before-after {
    padding-top: 50px;
  }
}
