{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<SyncHeader @title="Secrets sync" />

<div class="tabs-container box is-bottomless is-marginless is-paddingless">
  <nav class="tabs" aria-label="destination tabs">
    <ul>
      <LinkTo @route="secrets.overview" data-test-tab="Overview">Overview</LinkTo>
      <LinkTo @route="secrets.destinations" data-test-tab="Destinations">Destinations</LinkTo>
    </ul>
  </nav>
</div>