{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.top>
    <Page::Breadcrumbs @breadcrumbs={{this.breadcrumbs}} />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      <Icon @name="certificate" @size="24" class="has-text-grey-light" />
      View Certificate
    </h1>
  </p.levelLeft>
</PageHeader>
<Page::PkiCertificateDetails @model={{this.model}} />