.homepageHero {
  & .thirdLinkWrapper {
    position: relative;

    & a {
      position: absolute;
      top: -200px;

      @media (max-width: 1177px) {
        top: -150px;
      }

      @media (max-width: 1120px) {
        display: none;
      }
    }
  }
}
