{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<Page::Header @title={{this.secretMountPath.currentPath}} @icon="lock">
  <:breadcrumbs>
    <KmipBreadcrumb @currentRoute={{this.secretMountPath.currentPath}} />
  </:breadcrumbs>
</Page::Header>

<div class="tabs-container box is-sideless is-fullwidth is-paddingless is-marginless">
  <nav class="tabs">
    <ul>
      <li>
        <LinkTo @route="scopes.index" data-test-kmip-tab="scopes">
          Scopes
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="configuration" data-test-kmip-tab="config">
          Configuration
        </LinkTo>
      </li>
    </ul>
  </nav>
</div>