<KvPageHeader @breadcrumbs={{@breadcrumbs}} @model={{@model}} @showToolbar="true">
  <:tabs>
    <div class="tabs-container box is-bottomless is-marginless is-paddingless">
      <nav class="tabs" aria-label="kv secret tabs">
        <ul>
          <LinkTo @route="secrets.secret.details" data-test-secrets-tab="Secret">Secret</LinkTo>
          <LinkTo @route="secrets.secret.metadata.index" data-test-secrets-tab="Metadata">Metadata</LinkTo>
        </ul>
      </nav>
    </div>
  </:tabs>

  {{! TODO add JSON toggle }}
  <:toolbarActions>
    <ToolbarLink @route="secrets.secret.metadata.edit">Edit metadata</ToolbarLink>
  </:toolbarActions>
</KvPageHeader>