{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div data-test-code-snippet class="code-snippet-container" ...attributes>
  <code class="text-grey-lightest">
    {{@codeBlock}}
  </code>
  <Hds::Copy::Button @text="Copy" @textToCopy={{or @clipboardCode @codeBlock}} class="hds-copy-button code-snippet" />
</div>