<button
  ...attributes
  data-test-download-button={{@filename}}
  type="button"
  class={{if @isToolbarAction "toolbar-link" "button is-ghost"}}
  {{on "click" this.handleDownload}}
>
  {{yield}}
</button>