{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="field">
  <p class="control has-icons-left">
    <input
      class="filter input"
      placeholder={{this.placeholder}}
      data-test-filter-input
      value={{this.value}}
      {{on "input" this.onInput}}
      {{did-insert this.focus}}
    />
    <Icon @name="search" class="search-icon has-text-grey-light" />
  </p>
</div>