<div class="has-top-margin-s is-flex is-flex-center" data-test-form-error>
  <div class="is-narrow message-icon">
    <Icon @name="x-square-fill" class="has-text-danger" />
  </div>
  <div class="has-text-danger">
    {{yield}}
  </div>
</div>