{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div>
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <span class="input opacity-050">{{or @placeholder "Search"}}</span>
      <Icon @name="search" class="search-icon has-text-grey-light" />
    </p>
  </div>
</div>