{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div ...attributes>
  <Hds::Button
    @text={{if @isOpen this.openLabel this.closedLabel}}
    @color="tertiary"
    @icon={{if @isOpen "chevron-up" "chevron-down"}}
    {{on "click" (fn @onClick (not @isOpen))}}
  />
</div>