{{!
  Copyright IBM Corp. 2016, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<nav class="toolbar" aria-label="toolbar" ...attributes>
  <div class="toolbar-scroller" tabindex="0">
    {{yield}}
  </div>
</nav>