#page-home {
  & section {
    padding-top: 96px;
    padding-bottom: 96px;

    &.gray {
      background: var(--gray-10);
    }

    &.no-pad {
      padding: 0;
    }
  }

  & .button-container {
    display: flex;
    justify-content: center;
  }
}
