@import '@hashicorp/hashi-global-styles/_typography.css';

.g-split-cta h1 {
  font-size: 2.5em;
}

#page-home {
  & .g-section-block.page-wrap {
    padding-top: 0;
  }

  & .g-logo-grid li img {
    max-height: 50%;
    max-width: 50%;
  }

  & .g-container.remove-bottom-padding {
    padding-bottom: 0;
  }

  & .g-section-header.infrastructure {
    /* Override default max-width */
    max-width: 1050px;

    & h2 {
      max-width: 784px;
      margin: 0 auto;
    }
  }

  & .g-container.before-after {
    padding-top: 50px;
  }
}
