.g-section-block {
  & section {
    padding-top: 96px;
    padding-bottom: 96px;

    @media (max-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &.gray {
      background: #f6f7fa;
    }

    &.no-pad {
      padding: 0;
    }
  }

  & .button-container {
    display: flex;
    justify-content: center;

    & > a + a {
      margin-left: 16px;
    }
  }
}
