@import '@hashicorp/hashi-global-styles/_variables.css';

#use-cases {
  & .g-section-block section.pad-bottom {
    padding-bottom: 144px;
  }

  & .g-logo-grid li img {
    max-height: 50%;
    max-width: 50%;
  }

  & .g-section-block.page-wrap {
    padding-top: 0;
    padding-bottom: 0;
  }

  & .g-section-block.g-cta-section {
    align-items: center;
    background: var(--vault-gray-dark);
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: center;
    color: var(--white);

    & h2 {
      margin-top: 0;
    }

    & .g-btn.white {
      background: var(--white);
      border: 2px solid var(--white);
      color: var(--vault-gray-dark);

      &:hover {
        background-color: var(--vault-gray);
        border-color: var(--vault-gray);
        color: var(--white);

        & path {
          fill: var(--white);
        }
      }
    }

    & .g-btn.download svg {
      margin: 0 4px -4px 0;
    }

    & .g-btn.download svg path {
      transition: fill 0.25s ease;
    }

    & .g-btn + .g-btn {
      margin-left: 18px;
    }

    & .g-btn.white-outline {
      background: none;
      border: 2px solid var(--white);
      color: var(--white);

      &:hover {
        background-color: var(--white);
        color: var(--vault-gray-dark);
      }
    }
  }
}
