<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Metrics
    </h1>
  </p.levelLeft>
</PageHeader>

<div class="tabs-container box is-bottomless is-marginless is-fullwidth is-paddingless">
  <nav class="tabs">
    <ul>
      <LinkTo @route="vault.cluster.metrics.index" @tagName="li" @activeClass="is-active">
        <LinkTo @route="vault.cluster.metrics.index" data-test-configuration-tab={{false}}>
          Vault usage
        </LinkTo>
      </LinkTo>
      <LinkTo @route="vault.cluster.metrics.config" @tagName="li" @activeClass="is-active">
        <LinkTo @route="vault.cluster.metrics.config" data-test-configuration-tab={{true}}>
          Configuration
        </LinkTo>
      </LinkTo>
    </ul>
  </nav>
</div>

<Toolbar>
  <ToolbarActions>
    {{#if model.configPath.canUpdate}}
      <LinkTo @route="vault.cluster.metrics.edit" class="toolbar-link">
        Edit configuration
      </LinkTo>
    {{/if}}
  </ToolbarActions>
</Toolbar>

<PricingMetricsConfig @model={{model}} />
