<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Configure usage tracking
    </h1>
  </p.levelLeft>
</PageHeader>
{{!-- CBS TODO: Move to component --}}
<PricingMetricsConfig @model={{model}} @mode="edit" />