<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Metrics
    </h1>
  </p.levelLeft>
</PageHeader>

{{!-- ARG TODO: Add permission conditionals for menu dropdowns --}}
<div class="box is-sideless is-fullwidth is-marginless is-bottomless">
  {{#if (gt model.httpsRequests.length 1) }}
    <SelectableCardContainerGraph @counters={{model}} @class="selectable-card-container-graph"/>
  {{else}}
    <SelectableCardContainer @counters={{model}} @class="selectable-card-container"/>
  {{/if}}
</div>
