<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Metrics
    </h1>
  </p.levelLeft>
</PageHeader>

{{!-- TODO: PLACEHOLDER, replace with new component --}}
<div class="box is-sideless is-fullwidth is-marginless is-bottomless">
  <div class="title is-3">{{format-number 123456}}</div>
  <div class="title is-5">HTTP Request</div>
</div>
