<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Create {{lowercase (humanize model.identityType)}} for {{model.canonicalId}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{identity/edit-form model=model onSave=(perform navAfterSave)}}
