{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Create
      {{titleize (humanize this.model.identityType)}}
      for
      {{this.model.canonicalId}}
    </h1>
  </p.levelLeft>
</PageHeader>

<Identity::EditForm @model={{this.model}} @onSave={{action "navAfterSave"}} />