<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Edit {{model.name}}
    </h1>
  </p.levelLeft>
</PageHeader>

{{identity/edit-form mode="edit" model=model onSave=(perform navAfterSave)}}
