<header>
  <nav class="navbar is-grouped-split">
    <div class="navbar-brand">
      <HomeLink @class="navbar-item has-text-white has-current-color-fill">
        <Icon @name="vault-logo" />
      </HomeLink>
    </div>
  </nav>
</header>
<section class="section">
  <div class="container is-widescreen">
    <NotFound @model={{this.model}} />
  </div>
</section>