<header>
  <nav class="navbar is-grouped-split">
    <div class="navbar-brand">
      <HomeLink @class="navbar-item has-text-white has-current-color-fill">
        <Icon @glyph="vault-logo" @size="l" />
      </HomeLink>
    </div>
  </nav>
</header>
<section class="section">
  <div class="container is-widescreen">
    {{not-found model=model}}
  </div>
</section>
