<header>
  <nav class="navbar is-grouped-split">
    <div class="navbar-brand">
      {{#home-link class="navbar-item has-text-white has-current-color-fill"}}
        {{partial 'svg/vault-logo'}}
      {{/home-link}}
    </div>
  </nav>
</header>
<section class="section">
  <div class="container is-widescreen">
    {{not-found model=model}}
  </div>
</section>
