.root {
  composes: .g-grid-container from global;
  margin-top: 72px;
  margin-bottom: 72px;
}

.logo {
  width: 105px;
}

.releaseNote {
  composes: .g-type-body from global;
  text-align: center;
}

.merchandisingSlot {
  width: 100%;
  border: 1px solid var(--gray-5);
  padding: 16px;
  display: flex;
  justify-content: center;

  & .centerWrapper {
    display: flex;
    align-items: center;

    & p {
      margin: 0;
      max-width: 400px;
      margin-right: 26px;
    }

    @media (max-width: 800px) {
      flex-direction: column;
      & p {
        text-align: center;
        margin-bottom: 12px;
      }
    }
  }
}
