<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      {{this.versionHeader}}
      <Hds::Badge @text={{this.namespaceDisplay}} @icon="org" data-test-badge-namespace />
    </h1>
  </p.levelLeft>
</PageHeader>
<hr class="has-top-margin-xxs has-bottom-margin-l has-background-gray-200" />