{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Multi-Factor Authentication
    </h1>
  </p.levelLeft>
</PageHeader>

<Mfa::Nav />

<Toolbar>
  <ToolbarActions>
    <ToolbarLink @route="vault.cluster.access.mfa.methods.create" @type="add" data-test-mfa-method-create>
      New MFA method
    </ToolbarLink>
  </ToolbarActions>
</Toolbar>

{{#if (gt this.model.length 0)}}
  {{#each this.model as |item|}}
    <Mfa::MethodListItem @model={{item}} />
  {{/each}}
{{else}}
  <EmptyState @title="No methods found." @message="Add a new one to get started." />
{{/if}}