// Start with Structure & Bulma variables as a foundation
@import './utils/colors';
@import './utils/spacing';
@import 'bulma/sass/utilities/initial-variables';

// Override variables where appropriate
@import './utils/bulma_variables';

// Utils
@import './utils/mixins';
@import './utils/animations';

// Bring in the rest of Bulma
@import 'bulma/bulma';
@import 'bulma/switch';

// Override Bulma details where appropriate
@import './core/generic';
@import './core/box';
@import './core/breadcrumb';
@import './core/bulma-radio-checkboxes';
@import './core/buttons';
@import './core/footer';
@import './core/forms';
@import './core/helpers';
@import './core/hero';
@import './core/level';
@import './core/menu';
@import './core/message';
@import './core/navbar';
@import './core/notification';
@import './core/progress';
@import './core/switch';
@import './core/tables';
@import './core/tags';
@import './core/title';

// bulma additions
@import './core/layout';
@import './core/lists';

@import './components/auth-buttons';
@import './components/auth-form';
@import './components/b64-toggle';
@import './components/box-label';
@import './components/box-radio';
@import './components/codemirror';
@import './components/confirm';
@import './components/console-ui-panel';
@import './components/control-group';
@import './components/doc-link';
@import './components/empty-state';
@import './components/env-banner';
@import './components/features-selection';
@import './components/form-section';
@import './components/global-flash';
@import './components/hover-copy-button';
@import './components/init-illustration';
@import './components/info-table-row';
@import './components/input-hint';
@import './components/linked-block';
@import './components/list-item-row';
@import './components/list-pagination';
@import './components/loader';
@import './components/login-form';
@import './components/masked-input';
@import './components/namespace-picker';
@import './components/namespace-reminder';
@import './components/page-header';
@import './components/popup-menu';
@import './components/radial-progress';
@import './components/role-item';
@import './components/search-select';
@import './components/secret-control-bar';
@import './components/shamir-progress';
@import './components/sidebar';
@import './components/splash-page';
@import './components/status-menu';
@import './components/tabs';
@import './components/token-expire-warning';
@import './components/tool-tip';
@import './components/unseal-warning';
@import './components/upgrade-overlay';
@import './components/ui-wizard';
@import './components/vault-loading';
