// Start with Bulma variables as a foundation
@import "bulma/sass/utilities/initial-variables";

// Override variables where appropriate
@import "./utils/bulma_variables";

// Utils
@import "./utils/mixins";
@import "./utils/animations";

// Bring in the rest of Bulma
@import "bulma/bulma";
@import "bulma/switch";
@import "bulma/bulma-radio-checkbox";

// Override Bulma details where appropriate
@import "./core/generic";
@import "./core/box";
@import "./core/breadcrumb";
@import "./core/bulma-radio-checkboxes";
@import "./core/buttons";
@import "./core/footer";
@import "./core/forms";
@import "./core/helpers";
@import "./core/hero";
@import "./core/level";
@import "./core/menu";
@import "./core/message";
@import "./core/navbar";
@import "./core/notification";
@import "./core/progress";
@import "./core/switch";
@import "./core/tables";
@import "./core/tabs";
@import "./core/tags";
@import "./core/title";

// bulma additions
@import "./core/gradients";
@import "./core/layout";
@import "./core/lists";

@import "./components/auth-form";
@import "./components/badge";
@import "./components/b64-toggle";
@import "./components/box-label";
@import "./components/codemirror";
@import "./components/confirm";
@import "./components/console-ui-panel";
@import "./components/env-banner";
@import "./components/form-section";
@import "./components/global-flash";
@import "./components/init-illustration";
@import "./components/info-table-row";
@import "./components/input-hint";
@import "./components/linked-block";
@import "./components/list-pagination";
@import "./components/loader";
@import "./components/login-form";
@import "./components/masked-input";
@import "./components/message-in-page";
@import "./components/page-header";
@import "./components/popup-menu";
@import "./components/radial-progress";
@import "./components/role-item";
@import "./components/shamir-progress";
@import "./components/sidebar";
@import "./components/splash-page";
@import "./components/status-menu";
@import "./components/sub-nav";
@import "./components/token-expire-warning";
@import "./components/tool-tip";
@import "./components/unseal-warning";
@import "./components/upgrade-overlay";
@import "./components/vault-loading";
