{{#linked-block
  (concat
    "vault.cluster.secrets.backend."
    "credentials"
    (unless item.id "-root")
  )
  item.id
  class="list-item-row"
  data-test-secret-link=item.id
  encode=true
}}
  <div class="columns is-mobile">
    <div class="column is-10">
      <LinkTo @route={{concat "vault.cluster.secrets.backend." "credentials" (unless item.id "-root") }} @model={{item.id}} class="has-text-black has-text-weight-semibold">
        <Icon
          @glyph="user-square-outline"
          class="has-text-grey-light is-pulled-left"
        />
        <div class="role-item-details">
          <span class="is-underline">{{if (eq item.id ' ') '(self)' (or item.keyWithoutParent item.id)}}</span>
        </div>
      </LinkTo>
    </div>
    <div class="column has-text-right">
      {{partial 'partials/role-aws/popup-menu'}}
    </div>
  </div>
{{/linked-block}}
