//
// Button Styles
// --------------------------------------------------

.v-btn {
	box-shadow: 2px 3px 2px rgba(0,0,0,0.08);
	display: inline-block;
	background-color: $white;
	color: $black;
	border: 1px solid $black;
	text-decoration: none;
	@include transition(color .3s ease-in-out);

	&.lrg {
		font-size: 18px;
		padding: 10px 50px;
	}

	&.sml {
		font-size: 15px;
		padding: 8px 40px;
	}

	&.blue {
		color: $blue;
		border: 1px solid $blue;
	}

	&.gray {
		font-weight: 300;
		color: $gray;
		border: 1px solid $light-gray;
	}

	&.terminal {
		padding-left: 52px;
		padding-right: 30px;
		margin-left: 12px;
	    background: image-url('icon-terminal.png') 16px center no-repeat;
	   	@include img-retina("icon-terminal.png", "icon-terminal@2x.png", 26px, 25px);
	}

	&.started {
		margin-bottom: 12px;
	}

	&:hover, &:active, &:focus {
		text-decoration: none;
		@include transition(color .3s ease-in-out);

		&.blue {
			color: darken($blue, 8%);
		}

		&.black {
			color: lighten($black, 50%);
		}

		&.gray {
			color: $black;
		}
	}
}
