.config-reveal-label {
  .config-reveal-trigger:not(:checked) + & {
    color: #aaa;
  }

  .docs-info-icon {
    &::before {
      content: '\0024D8';
      color: #AAA;
      display: inline-block;
      height: 1em;
      margin-left: 0.25em;
      width: 1em;
    }

    &:hover::before {
      color: inherit;
    }
  }
}

.reveal-container,
.config-reveal-container {
  display: none;
  margin-left: 20px;

  &.active {
    display: block;
  }
}

.reveal-trigger {
  align-items: center;
  color: $sidebar-link-color-active;
  cursor: pointer;
  display: flex;
  font-size: $sidebar-font-size;
  margin: -5px 0 10px;

  &::before {
    content: '\203A';
    display: inline-block;
    height: 1em;
    line-height: 1;
    text-align: center;
    transform: rotate(90deg);
    width: 1em;
  }

  &::after {
    content: attr(data-show-text);
    margin-left: 0.5em;
  }

  &.active {
    &::before {
      transform: rotate(-90deg);
    }

    &::after {
      content: attr(data-hide-text);
    }
  }
}
