.demo-overlay {
    z-index: 1000;
    background: black;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    line-height: 1.3;
    position: fixed;
    color: #DDDDDD;
    overflow: scroll;
    display: block;
    font-size: 15px;
    font-family: 'Ubuntu Mono', 'Monaco', monospace;
    @include box-shadow(0px -2px 30px 0px rgba(0, 0, 0, 0.40));
}

.instruction-wrapper {
    width: 100%;
    padding: 20px;
}

.instruction {
    overflow: scroll;
    padding: 10px;
    width: 800px;
    margin: 0 auto;
    background-color: darken($blue, 28%);

    code {
        background: none;
        color: inherit;
        font-weight: 700;
        padding-left: 10px;
    }

    a {
        color: white;
        text-decoration: underline;
    }

    p:last-child {
        margin-bottom: 0px;
    }

    ul {
        padding-left: 15px;
    }

    li {
        list-style-type: none;
    }

}

.close-terminal{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    color: #8B8A8F;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    @include lato-light();
    transition: all 250ms ease-in;
    cursor: pointer;

    &:hover{
        text-decoration: none;
        color: $white;
        transition: all 250ms ease-in;
    }
}


.demo-terminal {
    background-color: black;
    padding: 25px 65px 0 25px;
    padding-bottom: 50px;
    width: 100%;
    top: 225px;
    bottom: 0;

    display: block;
    overflow: scroll;
    position: absolute;

    .log {
        white-space: pre;
    }

    input.shell {
        padding: 0;
        margin: 0;
        display: inline-block;
        bottom: 0;
        width: 90%;
        background-color: black;
        border: 0;
        outline: 0;

        &.hidden {
            opacity: 0;
        }
    }
}
