//
// Docs
// --------------------------------------------------

$docs-font-size: 15px;

body.layout-docs,
body.layout-inner,
body.layout-downloads,
body.layout-http,
body.layout-intro {
  >.container {
    .col-md-8[role=main] {
      min-height: 800px;
      background-color: white;

      >div {
        position: relative;
        z-index: 10;
      }
    }
  }

  *:focus {
    outline: none;
  }

  h1 > code,
  h2 > code,
  h3 > code,
  h4 > code,
  h5 > code
  h6 > code,
  li code,
  table code,
  p code,
  tt,
  .alert code {
    font-family: $font-family-monospace;
    font-size: 90%;
    background-color: transparent;
    color: inherit;
    padding: 0;
  }
}

.docs-sidebar {
  margin-bottom: 30px;
  margin-top: 50px;

  ul.nav.docs-sidenav {
    display: block;
    padding-bottom: 15px;

    li {
      a {
        color: $sidebar-link-color;
        font-size: $sidebar-font-size;
        padding: 10px 0 10px 15px;

        &:before {
          color: $sidebar-link-color-active;
          content: '\203A';
          font-size: $font-size;
          left: 0;
          line-height: 100%;
          opacity: 0.4;
          position: absolute;

          height: 100%;
          width: 8px
        }

        &:focus,
        &:hover {
          background-color: transparent;
          color: $sidebar-link-color-hover;

          &:before {
            opacity: 1;
          }
        }
      }

      // For forcing sub-navs to appear - in the long term, this should not
      // be a thing anymore...
      > ul.nav-visible {
        display: block;
      }
    }

    li.active {
      > a {
        color: $sidebar-link-color-active;

        &:before {
          opacity: 1;
        }
      }

      // Open nested navigations
      > ul.nav {
        display: block;
      }
    }

    // subnav
    ul.nav {
      display: none;
      margin: 10px;

      li {
        margin-left: 10px;

        a {
          padding: 6px 15px;
        }
      }
    }
  }
}

.bs-docs-section {
  padding-top: 10px;
  padding-left: 3%;
  padding-bottom: 80px;

  p, li, .alert {
    font-size: $docs-font-size;
    font-family: $font-family-open-sans;
    font-weight: $font-weight-reg;
    line-height: 1.84em;
    margin: 0 0 $docs-font-size;
    -webkit-font-smoothing: antialiased;
  }

  pre {
    font-family: $font-family-monospace;
    font-size: ($docs-font-size - 3);
    font-weight: normal;
    padding: 20px;
    margin: 0 0 $docs-font-size;

    // This will force the code to scroll horizontally on small screens
    // instead of wrapping.
    code {
      overflow-wrap: normal;
      white-space: pre;
    }
  }

  a {
    color: $dark-blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    code {
      background: inherit;
      color: $dark-blue;
    }
  }

  img {
    max-width: 650px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $body-font-color;
    margin-top: 54px;
    margin-bottom: $docs-font-size;
    line-height: 1.3;
  }

  h2 {
    padding-bottom: 3px;
    border-bottom: 1px solid $gray-light;
  }
}

@media (max-width: 992px) {
  .bs-docs-section {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .bs-docs-section {
    padding-top: 0;
  }
}

@media (max-width: 480px) {
  .bs-docs-section {
    img {
      max-width: 450px;
    }
  }
}
