//
// Global Site
// --------------------------------------------------

html {
  height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  -webkit-font-smoothing: antialiased;
  color: $body-font-color;
  background-color: $white;
  font-size: $font-size;
  font-family: $font-family-open-sans;
  font-weight: $font-weight-reg;
  height: 100%;
  min-height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-klavika;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-bottom: 24px;
}

.center {
  text-align: center;
}

.alert p:last-child {
  margin-bottom: 0;
}

//Typekit utilites for hiding FOUC
.wf-loading {
  visibility: hidden;
}

.wf-active, .wf-inactive {
  visibility: visible;
}

//fixed grid below 992 to prevent smaller responsive sizes
@media (min-width: 768px) and (max-width: 992px) {
  .container{
    width: 100%;
  }
}

//guarantees nav list fits at tablet viewport size
@media (min-width: 768px) and (max-width: 800px) {
  #header .navbar-nav a {
    font-size: 12px !important;
  }
}
