#header {
  // Hamburger menu
  .navbar-toggle {
    height: $header-height;
    margin: 0;
    padding-right: 15px;
    border-radius: 0;

    .icon-bar {
      border: 1px solid $black;
      border-radius: 0;
    }
  }

  // Logo
  .navbar-brand {
    display: block;
    margin: 0;
    padding: 0;

    .logo {
      color: $header-link-color;
      display: inline-block;
      font-family: $font-family-klavika;
      font-weight: $font-weight-bold;
      font-size: 0;
      height: $header-height;
      line-height: $header-height;
      width: 200px;
      padding-left: 64px;
      background: image-url('logo-text.svg') 0 0 no-repeat;
      background-position: left center;

      &:hover, &:focus, &:active {
        outline: 0;
        text-decoration: none;
      }
    }
  }

  // Nav
  ul.nav {
    li {
      a {
        color: $header-link-color;
        font-size: $header-font-size;
        font-family: $font-family-open-sans;
        height: $header-height;
        line-height: $header-height;
        padding: 0 10px;
        margin: 0;
        text-decoration: none;

        &:hover, &:focus, &:active {
          background-color: transparent;
          color: $header-link-color-hover;
          outline: 0;

          svg {
            fill: $header-link-color-hover;
          }
        }

        svg {
          fill: $header-link-color;
          position: relative;
          top: 2px;
          width: 14px;
          height: 14px;
          margin-right: 3px;
        }
      }
    }
  }

  .buttons {
    margin-top: 2px;
  }
}
