#page-home {
  #latest-announcement {
    margin-top: 80px;

    h2 {
      margin-bottom: 40px;
    }

    .latest-item {
      border-bottom: 1px solid #CCCCCC;
      margin: 20px 0;
      padding: 20px 0;

      &:last-child {
        border-bottom: none;
      }

      img {
        margin-bottom: 20px;
        max-width: 100%;
      }

      h3 {
        padding: 0 0 0 15px;
        margin: 0;
        text-align: left;
      }

      p {
        font-size: $font-size;
        line-height: 1.8;
        margin: 0;
      }

      .latest-footer {
        padding: 15px 0;
        text-align: center;
      }
    }
  }
}
