svg.logo {
  &.color {
    opacity: 1.0;

    path.text {
      fill: $black;
      opacity: 1.0;
    }

    path.v {
      fill: $black;
      opacity: 1.0;
    }

    path.squares {
      fill: $white;
      opacity: 1.0;
    }
  }

  // The default logo class is the colored version
  @extend .color;

  &.white {
    opacity: 1.0;

    path.text {
      fill: $white;
    }

    path.v {
      fill: $white;
    }

    path.squares {
      fill: $vault-gray;
    }

    path.front {
      opacity: 0.7;
    }
  }
}
