#inner .tabs {
  user-select: none;
  align-items: stretch;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin-bottom: 1em;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;

  p {
    display: none;
  }

  ul {
    align-items: center;
    border-bottom-color: #BAC1CC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    list-style: none;
    justify-content: flex-start;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0 1rem;
  }

  a {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    vertical-align: top;
    color: #525761;
    font-weight: 600;
    text-decoration: none;
    padding: 1rem 0.5rem 0.5rem;
    border-bottom: 2px solid transparent;
    transition: border-color 150ms;

    &.is-active {
      border-color: #00ABE0;
      color: #00ABE0;
    }
  }
}

.tabs-content {
  display: none;

  &.is-active {
    display: block;
  }
}
