// Global values
$header-height:     90px;
$btn-border-radius: 4px;
$el-border-radius:  6px;

// Colors
$white:        #FFFFFF;
$black:        #000000;
$gray:         #929199;
$light-gray:   #C2C1C7;
$faint-gray:   #E3E3EA;
$dark-blue:    #00ABE0;
$blue:         #00BFE0;
$light-black:  #242424;
$orange:       #E78C5B;
$green:        #5BE764;
$gray-darker:  #555555;
$gray:         #777777;
$gray-light:   #939393;
$gray-lighter: #979797;
$red:          #DD4E58;
$red-dark:     #C5454E;
$purple:       #822FF7;

// Typography
$font-family-klavika:   'klavika-web', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-open-sans: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace: 'Menlo', 'Monaco', 'Consolas', "Courier New", monospace;
$font-size:             15px;
$font-weight-reg:       400;
$font-weight-bold:      600;

// Body
$body-font-color: $gray-darker;

// Sidebar
$sidebar-link-color: $body-font-color;
$sidebar-link-color-hover: $black;
$sidebar-link-color-active: $dark-blue;
