@import 'bootstrap-sprockets';
@import 'bootstrap';

@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Open+Sans:400,600');

// Mega Nav
@import 'hashicorp/mega-nav';

// Anchor links
@import 'hashicorp/anchor-links';

// Core variables and mixins
@import '_variables';

// Sidebar
@import 'hashicorp/sidebar';

//Global Site
@import '_global';

// Components
@import '_header';
@import '_footer';
@import '_inner';
@import '_buttons';
@import '_syntax';
@import '_logos';

// Pages
@import '_community';
@import '_docs';
@import '_downloads';
@import '_home';
@import '_latest';

// Demo
@import '_demo';


// Docs - visual separation for parameter names and flags
span.param {
    font-weight: 800;
}
span.param:after {
    content: ":";
}
span.param-flags {
    font-style: italic;
}
span.param-flags:before {
    content: "(";
}
span.param-flags:after {
    content: ")";
}
