<div class="popup-menu-content is-wide is-top-nav-popup">
  <div class="box">
    <nav class="menu">
      <p class="menu-label">Disaster Recovery</p>
      <ul>
        <li>
          {{#link-to
            "vault.cluster.replication.mode.index"
            "dr"
          }}
            {{replication-mode-summary
              mode="dr"
              display='menu'
              cluster=cluster
              class=''
            }}
          {{/link-to}}
        </li>
      </ul>
      <hr />
      <p class="menu-label">Performance</p>
      <ul>
        <li>
          {{#if (has-feature "Performance Replication")}}
            {{#link-to
              "vault.cluster.replication.mode.index"
              "performance"
            }}
              {{replication-mode-summary
                mode="performance"
                display='menu'
                cluster=cluster
                tagName='span'
              }}
            {{/link-to}}
          {{else}}
            {{replication-mode-summary
              mode="performance"
              display='menu'
              cluster=cluster
              tagName='a'
            }}
          {{/if}}
        </li>
      </ul>
    </nav>
  </div>
</div>
