{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{! TODO kv engine cleanup }}
<PageHeader as |p|>
  <p.top>
    <KeyValueHeader
      @baseKey={{hash id=@model.id}}
      @path="vault.cluster.secrets.backend.show"
      @mode="show"
      @showCurrent={{true}}
      @root={{@backendCrumb}}
    />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      View Diff
    </h1>
  </p.levelLeft>
</PageHeader>

<DiffVersionSelector @model={{@model}} />