<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Edit {{this.model.id}} metadata
    </h1>
  </p.levelLeft>
</PageHeader>

<div class="form-section">
  <label class="title has-padding-top is-5">
    Metadata
  </label>
  {{!-- metadata inputs --}}
<SecretEditMetadata
  @model={{model}}
  @onKeyUp={{perform waitForKeyUp}}
  @validationMessages={{validationMessages}}
/>
</div>