{{#if model.canUpdateMetadata}}
  <PageHeader as |p|>
    <p.levelLeft>
      <h1 class="title is-3">
        Edit secret metadata
      </h1>
    </p.levelLeft>
  </PageHeader>
  <SecretEditMetadata
    @model={{model}}
  />
{{else}}
  <EmptyState
    @title="You do not have permissions to edit metadata"
    @message="Ask your administrator if you think you should have access.">
    <LinkTo @route="vault.cluster.secrets.backend.metadata" @model={{model.id}} @tagName="button" @class="link">
      View Metadata
    </LinkTo>
    <DocLink @path="/api/secret/kv/kv-v2#create-update-metadata">More here</DocLink>
  </EmptyState>
{{/if}}