<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Edit secret metadata
    </h1>
  </p.levelLeft>
</PageHeader>

<div class="form-section">
  <label class="title has-padding-top is-5">
    Metadata
  </label>
  {{!-- metadata inputs --}}
  <SecretEditMetadata
    @model={{model}}
  />
</div>