<div class="box is-sideless is-fullwidth is-marginless">
  {{#each model.fieldGroups as |fieldGroup|}}
    {{#each-in fieldGroup as |group fields|}}
      {{#if (or (eq group "default") (eq group "Options"))}}
        {{#each fields as |attr|}}
          {{info-table-row alwaysRender=true label=(capitalize (or attr.options.label (humanize (dasherize attr.name)))) value=(get model attr.name)}}
        {{/each}}
      {{else}}
        <div class="box is-sideless is-fullwidth is-marginless">
          <h2 class="title is-5">
            {{group}}
          </h2>
          {{#each fields as |attr|}}
            {{info-table-row alwaysRender=true label=(capitalize (or attr.options.label (humanize (dasherize attr.name)))) value=(get model attr.name)}}
          {{/each}}
        </div>
      {{/if}}
    {{/each-in}}
  {{/each}}
</div>
