.root {
  position: relative;
  margin-bottom: 60px;

  @media (--medium-up) {
    margin-bottom: 120px;
  }

  &.withOfferings:not(.withFeatures)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(
      93.55% 93.55% at 50% 0%,
      var(--gray-6) 0%,
      rgba(242, 242, 243, 0) 100%
    );

    @media (--large) {
      border-radius: 6px;
      left: 24px;
      right: 24px;
    }
  }
}

.container {
  composes: g-grid-container from global;
}

.header {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;

  @nest .withFeatures & {
    background-color: var(--brand);
  }

  @nest .withFeatures.consul & {
    color: var(--white);
  }
}

.headerInner {
  margin: auto;

  @media (--medium-up) {
    max-width: calc(100% * 7 / 12);
  }
}

.heading {
  margin: 0;
  composes: g-type-display-2 from global;
}

.description {
  margin: 24px 0 0;
  composes: g-type-body-large from global;

  @nest .withOfferings:not(.withFeatures) & {
    color: var(--gray-3);
  }
}

/*
 * Features
 */

.features {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 32px;

  & li:first-of-type {
    background-image: linear-gradient(
      to bottom,
      var(--brand) 50%,
      var(--white) 50%
    );
  }
}

/*
 * Offerings
 */

.offerings {
  --columns: 1;

  composes: g-grid-container from global;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  gap: 64px 32px;

  @media (--medium-up) {
    --columns: 12;
  }

  @nest .features + & {
    margin-top: 60px;

    @media (--medium-up) {
      margin-top: 120px;
    }
  }
}

.offeringsMedia {
  grid-column: 1 / -1;

  @media (--medium-up) {
    grid-column: 1 / 6;
  }
}

.offeringsContent {
  grid-column: 1 / -1;

  @media (--medium-up) {
    grid-column: 7 / -1;
  }
}

.offeringsList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  @media (--small) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.offeringsListHeading {
  margin: 0;
  composes: g-type-display-4 from global;
}

.offeringsListDescription {
  margin: 16px 0 0;
  composes: g-type-body-small from global;
}

.offeringsCta {
  margin-top: 48px;
}

/*
 * Video
 */

.video {
  margin-top: 60px;
  composes: g-grid-container from global;

  @media (--medium-up) {
    margin-top: 120px;
  }
}
