{{#if model.replicationAttrs.isPrimary}}
  {{#if model.replicationAttrs.knownSecondaries.length}}
    {{#each model.replicationAttrs.knownSecondaries as |secondary|}}
      <div class="box is-shadowless is-marginless" data-test-secondary-name={{secondary}}>
        <div class="columns is-mobile">
          <div class="column is-10">
            {{secondary}}
          </div>
          <div class="column has-text-right">
            {{#if (or (eq replicationMode 'performance') model.canRevokeSecondary)}}
              {{#popup-menu name="secondary-details"}}
                <nav class="menu">
                  <ul class="menu-list">
                    {{#if model.canRevokeSecondary}}
                      <li class="action">
                        {{#confirm-action
                          onConfirmAction=(action "onSubmit" "revoke-secondary" "primary" (hash id=secondary))
                          confirmMessage=(concat "Are you sure you want to revoke " secondary "?")
                          confirmButtonText="Revoke"
                          cancelButtonText="Cancel"
                          buttonClasses="button link is-destroy"
                          confirmButtonClasses="is-danger is-outlined button"
                          showConfirm=(get this (concat secondary '-isRevoking'))
                          containerClasses="is-block"
                          messageClasses="box is-shadowless is-marginless"
                          class=(if (get this (concat secondary '-isRevoking')) "is-block ")
                        }}
                          Revoke
                        {{/confirm-action}}
                      </li>
                    {{/if}}
                    {{#if (eq replicationMode 'performance')}}
                      <li class="action">
                        {{#link-to "vault.cluster.replication.mode.secondaries.config-show" model.name replicationMode secondary data-test-replication-mount-filter-link=true}}
                          Mount filter config
                        {{/link-to}}
                      </li>
                    {{/if}}
                  </ul>
                </nav>
              {{/popup-menu}}
            {{/if}}
          </div>
        </div>
      </div>
      <hr class="is-marginless" />
    {{/each}}
  {{else}}
    <EmptyState
      @title="No known {{performanceMode}} secondary clusters associated with this cluster"
      @message="Associated secondary clusters will be listed here. Add your first secondary cluster to get started."
    >
      {{#if model.canAddSecondary}}
        {{#link-to 'vault.cluster.replication.mode.secondaries.add' model.name replicationMode class="link" }}
          Add secondary
        {{/link-to}}
      {{/if}}
      <DocLink @path="/docs/internals/replication.html">
        Learn more
      </DocLink>
    </EmptyState>
  {{/if}}
  <div class="field is-grouped box is-shadowless is-fullwidth">
    {{#if model.canAddSecondary}}
      <div class="control">
        {{#link-to 'vault.cluster.replication.mode.secondaries.add' model.name replicationMode class="button" data-test-secondary-add=true }}
          Add
        {{/link-to}}
      </div>
    {{/if}}
    {{#if model.canRevokeSecondary}}
      <div class="control">
        {{#link-to 'vault.cluster.replication.mode.secondaries.revoke' model.name replicationMode class="button"}}
          Revoke
        {{/link-to}}
      </div>
    {{/if}}
  </div>
{{/if}}
