<div class="box is-fullwidth is-shadowless is-marginless">
  <h4 class="title is-5">
    Revoke a secondary token
  </h4>
</div>
{{message-error errors=errors}}
<div class="field">
  <label for="activation-token-id" class="is-label">
    Secondary ID
  </label>
  <div class="control">
    {{input class="input" name="activation-token-id" id="activation-token-id" value=id }}
  </div>
  <p class="help has-text-grey">
    The secondary id to revoke; given initially to generate a secondary token.
  </p>
</div>
<div class="field is-grouped box is-fullwidth is-bottomless">
  <div class="control">
    <ConfirmAction
      @buttonClasses="button is-primary"
      @confirmTitle="Revoke token?"
      @confirmMessage="This will revoke this secondary token."
      @confirmButtonText="Revoke"
      @disabled={{not id}}
      @disabledMessage="A secondary ID is required perform revocation."
      @horizontalPosition="auto-left"
      @onConfirmAction={{action "onSubmit" "revoke-secondary" "primary" (hash id=id)}}
    >
      Revoke
    </ConfirmAction>
  </div>
  <div class="control">
    {{#unless isRevoking}}
      {{#link-to "mode.secondaries" replicationMode class="button"}}
        Cancel
      {{/link-to}}
    {{/unless}}
  </div>
</div>
