<section class="section">
  <div class="container is-widescreen">
    {{!-- ARG TODO setup error state and return --}}
    <ReplicationPage @model={{model}} as |Page|>
      <Page.header 
        @showTabs={{false}} 
        @model={{data}}
      />
      <Page.toggle />
      <Page.dashboard as |Dashboard|>
        <Dashboard.card @title="State"/>
      </Page.dashboard>
    </ReplicationPage>
</div>
</section>
