<Page.header>
  <h1 class="title is-4">
  Details Page
  </h1>
</Page.header>
<Page.content>
    <LinkTo
    @params={{array "vault.cluster.replication-dr-promote"}}
    class="is-block"
  >MEEP</LinkTo>
</Page.content>

