<section class="section">
  <div class="container is-widescreen">
    {{!-- ARG TODO setup error state and return --}}
    <ReplicationPage as |Page|>
      <Page.header 
        @showTabs={{false}} 
        @model={{model}}
      />
      <Page.toggle />
      <Page.content />
    </ReplicationPage>
</div>
</section>
