<section class="section">
  <div class="container is-widescreen">
    {{!-- ARG TODO setup error state and return --}}
    <ReplicationPage @model={{model}} as |Page|>
      <Page.header 
        @showTabs={{false}}
      />
      <Page.toggle />
      <Page.dashboard 
      {{!-- passing in component to render so that the yielded components are flexible based on the dashboard --}}
        @componentToRender='replication-secondary-card' as |Dashboard|>
        <Dashboard.card
          @title="States"
        />
        <Dashboard.card
          @title="Write-Ahead Logs (WALs)"
        />
        <Dashboard.rows/>
      </Page.dashboard>
    </ReplicationPage>
  </div>
</section>
