<section class="section">
  <div class="container is-widescreen">
    {{!-- ARG TODO setup error state and return --}}
    <Replication as |Dashboard|>
      <Dashboard.header />
      <Dashboard.tabs />
      <Dashboard.toggle />
    </Replication>
</div>
</section>