<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      OIDC Provider
    </h1>
  </p.levelLeft>
</PageHeader>

<div class="box is-fullwidth is-sideless is-flex-between is-box-shadowless is-marginless">
  <p>
    Configure Vault to act as an OIDC identity provider, and offer
    {{"Vault’s"}}
    various authentication
    <br />
    methods and source of identity to any client applications.
    <LearnLink @path="/tutorials/vault/oidc-auth">
      Learn more
    </LearnLink>
  </p>
  <button
    type="submit"
    class="button is-primary"
    {{on "click" (transition-to "vault.cluster.access.oidc.clients.create")}}
    data-test-oidc-configure
  >
    Create your first app
  </button>
</div>
<div class="box is-fullwidth is-shadowless">
  <p>
    <b>Step 1:</b>
    Create an application, and obtain the client ID, client secret and issuer URL.
  </p>
  <p>
    <b>Step 2:</b>
    Set up a new auth method for Vault with the client application.
  </p>
</div>

<div class="box is-fullwidth is-shadowless">
  <img src={{img-path "~/oidc-landing.png"}} alt="OIDC configure diagram" />
</div>