<script type="text/x-handlebars" data-template-name="welcome">
    <p>
    <strong>Welcome to the Vault interactive demo!</strong>
    </p>
    <p>
    This will cover:
    </p>
    <ul>
        <li>- Unsealing your Vault</li>
        <li>- Authorizing your requests</li>
        <li>- Mounting a backend</li>
        <li>- Reading, writing and deleting secrets</li>
        <li>- Sealing your vault</li>
    </ul>
    <p>
    Upon opening this terminal, a real in-memory Vault server was
    initialized remotely. Any commands you send across will work, but closing this page
    will end the session.
    </p>
    <p>
    Please note that this is running in a shared
    environment, so avoid setting any real secrets.
    </p>
    <p>
    <strong>Use the command "next" to move foward</strong>. This will work throughout
    the tutorial.
    </p>
</script>

<script type="text/x-handlebars" data-template-name="unseal">
    <p>
    <strong>{{model.humanName}}</strong>
    </p>
    <p>
        First, we need to unseal the Vault that has been initialized
        for you below.
    </p>
    <p>
        Send the unseal key to Vault with "vault unseal &lt;key&gt;".
    </p>
</script>
