<!-- TODO Precompile ember templates -->

<script type="text/x-handlebars" data-template-name="demo">
{{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="demo/step">

<div class="instruction-wrapper">
    <div class="instruction">
        <p>
        <strong>{{model.humanName}}</strong>
        </p>

        {{partial model.instructionTemplate}}
    </div>
</div>

<span class="close-terminal" {{action "close"}}>&times;</span>

<div {{bind-attr class=":demo-terminal fullscreen:fullscreen" }}>
    <div class="log">{{renderedLogs}}</div>

    <form {{action "submitText" on="submit"}}>
        {{#unless isLoading}}${{/unless}} {{input value=currentText class="shell" autocomplete="off" spellcheck="false"}}
    </form>

    {{#if isLoading}}
    <div class="loading-bar"></div>
    {{/if}}
</div>
</script>
