---
layout: "inner"
page_title: "Download Vault"
description: |-
  Download Vault
---

<div class="alert alert-info" id="beta1-1-0" role="alert"><p><strong>1.0.0 Beta 1 Available:</strong> Binaries can be accessed on <a href="https://releases.hashicorp.com/vault/">releases.hashicorp.com</a>.</p></div>

<hashi-product-downloader
  product="<%= config[:product_name] %>"
  version="<%= config[:latest_version] %>"
  downloads="<%= encode(config[:product_versions]) %>"
></hashi-product-downloader>
