<%= partial "layouts/sidebar" %>

<div id="hero">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<div id="logo-lockup"></div>
				<h2 id="tag-line">A tool for storing and retrieving secrets.</h2>
				<div>
					<a class="v-btn blue lrg" href="/intro">Get Started</a>
				</div>
				<div id="diagram"></div>
				<p><span class="strong">Vault</span> secures, stores and tightly controls access to tokens, passwords, certificates and other secrets in modern computing. Vault presents a unified access in front of multiple backends, with logical support for HSMs, IAM, Postgres and more.</p>
			</div>
		</div>
	</div>
</div>

<div id="demo-app"></div>

<div id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<h2 class="featuer-header">Features</h2>

				<div id="crud" class="feature">
					<div class="graphic"></div>
					<h3 class="">CRUD</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et purus at orci cursus mattis. Maecenas ullamcorper dictum elit. Vivamus sit amet nisi eu lacus lacinia iaculis. Nulla non massa ultricies, placerat lectus vel, mattis mauris. Nullam urna risus, volutpat quis viverra in, convallis at magna.
					</p>
					<div class="feature-footer">
						<a class="v-btn black sml" href="/intro">Learn more</a>
					</div>
				</div> <!-- .feature -->

				<div id="key" class="feature">
					<div class="graphic"></div>
					<h3 class="">Key Rolling</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et purus at orci cursus mattis. Maecenas ullamcorper dictum elit. Vivamus sit amet nisi eu lacus lacinia iaculis. Nulla non massa ultricies, placerat lectus vel, mattis mauris. Nullam urna risus, volutpat quis viverra in, convallis at magna.
						<div class="feature-footer">
							<a class="v-btn black sml" href="/intro">Learn more</a>
							<a class="v-btn black sml terminal" href="/#/demo/crud">Launch Interactive Terminal</a>
						</div>
					</p>
				</div> <!-- .feature -->

				<div id="audit" class="feature">
					<div class="graphic"></div>
					<h3 class="">Audit Logs</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et purus at orci cursus mattis. Maecenas ullamcorper dictum elit. Vivamus sit amet nisi eu lacus lacinia iaculis. Nulla non massa ultricies, placerat lectus vel, mattis mauris. Nullam urna risus, volutpat quis viverra in, convallis at magna.
						<div class="feature-footer">
							<a class="v-btn black sml" href="/intro">Learn more</a>
						</div>
					</p>
				</div> <!-- .feature -->

			</div> <!-- .col -->
		</div> <!-- .row -->

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10 col-xs-12">
				<div id="cta">
					<a class="v-btn black sml" href="/intro/index.html">Try Vault Free</a>
					<p class="cta-black">Maecenas ullamcorper dictum elit.</p>
					<p class="cta-gray">Vivamus venenatis augue.</p>
				</div><!-- #cta -->
			</div> <!-- .col -->
		</div> <!-- .row -->
	</div> <!-- /container -->
</div> <!-- #features -->
