@import '@hashicorp/hashi-global-styles/_variables';

.g-docs-sidebar {
  width: 275px;

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & a {
      color: var(--gray-4);
      padding: 7px 0 7px 12px;
      display: block;
      transition: color 0.2s ease;

      &:hover {
        color: var(--gray-2);
      }
    }

    & hr {
      background: none;
      padding: 8px 0;
      margin: 0;

      &:after {
        content: "";
        border-bottom: 1px solid var(--gray-9);
        display: block;
        width: 90%;
      }
    }

    & > li {
      position: relative;

      &.active > a:first-child {
        color: var(--default-blue);
        position: relative;
      }

      &.dir::after {
        content: "";
        width: 5px;
        height: 8px;
        display: block;
        position: absolute;
        background: url('/img/docs-sidebar-chevron.svg');
        top: 17px;
        left: -3px;
      }

      &.active.dir::after {
        width: 8px;
        height: 5px;
        background: url('/img/docs-sidebar-chevron-active.svg');
        top: 19px;
        left: -5px;
      }

      & > ul > li, & > ul > hr {
        display: none;
      }

      &.active > ul > li, &.active > ul > hr {
        display: block;
      }

      & > ul {
        & > li {
          margin-left: 21.5px;
          border-left: 1px solid var(--gray-9);

          &:last-child a {
            padding-bottom: 0;
            margin-bottom: 7px;
          }

          &.active:not(.dir) > a:first-child {
            &:after {
              content: "";
              width: 4px;
              height: 4px;
              display: block;
              background: var(--default-blue);
              position: absolute;
              left: -2px;
              top: 18px;
              border-radius: 50%;
            }

            &:before {
              content: "";
              width: 14px;
              height: 14px;
              display: block;
              background: white;
              position: absolute;
              left: -7px;
              top: 13px;
              border-radius: 50%;
            }
          }

          &.dir::before {
            content: "";
            width: 17px;
            height: 23px;
            display: block;
            background: white;
            position: absolute;
            left: -9px;
            top: 10px;
            border-radius: 50%;
          }
        }

        & > hr {
          border-left: 1px solid var(--gray-9);
          margin-left: 21.5px;
        }
      }
    }
  }
}
