<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Custom Secret Engine <code>{{model.backend}}</code>
    </h1>
  </p.levelLeft>
</PageHeader>

<hr />

<div class="container is-widescreen">
  <div class="columns">
    <div class="is-3 column is-sidebar">
      <CustomBackendSidebar
        @backend={{model.backend}}
        @paths={{model.pathInfo}}
      />
    </div>
    <div class="is-9 column">
      {{outlet}}
    </div>
  </div>
</div>

<h6><em>** = create an item at path</em></h6>