<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Custom Secrets Engines
    </h1>
  </p.levelLeft>
</PageHeader>
{{log model "HBS MODEL"}}
{{outlet}}

<ul>
{{#each model.tabs as |tab|}}
  <li>{{tab}}</li>
{{/each}}
</ul>