<WizardSection
  @headerText="Active Directory"
  @headerIcon="enable/azure"
  @docText="Docs: Active Directory Secrets"
  @docPath="/docs/secrets/ad/index.html"
>
  <p>
    The AD Secrets Engine rotates AD passwords dynamically, and is designed for
    a high-load environment where many instances may be accessing a shared password simultaneously.
  </p>
</WizardSection>
