<WizardSection
  @headerText="AliCloud"
  @headerIcon="enable/alicloud"
  @docText="Docs: AliCloud Authentication"
  @docPath="/docs/auth/alicloud.html"
>
  <p>
    The AliCloud Auth Method provides an automated mechanism to retrieve a Vault token for AliCloud entities.
  </p>
</WizardSection>
