<WizardSection
  @headerText="AppRole"
  @headerIcon="enable/approle"
  @docText="Docs: AppRole Authentication"
  @docPath="/docs/auth/approle.html"
>
  <p>
    The Approle Auth Method allows machines or apps to authenticate with Vault-defined roles. The open design of AppRole enables a varied set of workflows and configurations to handle large numbers of apps. This Auth Method is oriented to automated workflows (machines and services), and is less useful for human operators.
  </p>
</WizardSection>
