<WizardSection 
  @headerText="Auth Method Details" 
  @docText="Docs: Authentication Methods"
  @docPath="/docs/auth/index.html"
>
  <p>
    Fantastic! Now you're ready to use your new {{mountName}} auth method!
  </p>
</WizardSection>
<WizardSection 
  @headerText="Want to start again or move on?" 
>
  <button type="button" {{action onReset}}>
    Try Another
  </button>
  <button type="button" {{action onDone}}>
    {{nextFeature}}
  </button>
</WizardSection>