<WizardSection
  @headerText="Editing Your Auth Method"
  @docText="Docs: Authentication Methods"
  @docPath="/docs/auth/index.html"
  @instructions='Click the "View method" link to see its details.'
>
  <p>
    You can update your new auth method configuration here.
  </p>
</WizardSection>
