<WizardSection
  @headerText="Enabling an Auth Method"
  @docText="Docs: Authentication Methods"
  @docPath="/docs/auth/index.html"
  @instructions='Choose an Authentication Method and click "Next" to get started.'
>
  <p>
    Controlling who can see your secrets is important. Let's set up a an Authentication Method for you and your team to use. Don't worry, you can add more methods later.
  </p>
</WizardSection>
