{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<WizardSection @headerText="Auth Method Details" @docText="Docs: Authentication Methods" @docPath="/docs/auth/index.html">
  <p>
    Fantastic! Now you're ready to use your new
    {{@mountName}}
    Auth Method!
  </p>
</WizardSection>
<WizardSection @headerText="Want to start again or move on?" @class="wizard-details">
  <Hds::Button
    @text="Enable another Auth Method"
    @icon="sync"
    @color="secondary"
    class="next-feature-step"
    {{on "click" (action @onReset)}}
  />
  <Hds::Button @text={{@nextFeature}} @icon="chevron-right" class="next-feature-step" {{on "click" (action @onAdvance)}} />
</WizardSection>