<WizardSection
  @headerText="Entering Auth Method details"
  @docText="Docs: Authentication Methods"
  @docPath="/docs/auth/index.html"
  @instructions='Customize your new method and click "Enable Method".'
>
  <p>
    Great! Now you can customize this method with a name and description that makes sense for your team, and fill out any options that are specific to this method.
  </p>
</WizardSection>
