<WizardSection
  @headerText="Entering Auth Method details"
  @docText="Docs: Authentication Methods"
  @docPath="/docs/auth/index.html"
  @instructions="Name your method and click 'Enable Method'."
>
  <p>
    Great! Now you can customize this method with a name and fill out general configuration under "Method Options".
  </p>
</WizardSection>