<WizardSection
  @headerText="Configuring your Auth Method"
  @docText="Docs: Authentication Methods"
  @docPath="/docs/auth/index.html"
  @instructions="Click the 'Save' link to save any extra configuration. Saving without filling anything in will use the defaults."
>
  <p>
    You can update your new Auth Method configuration here.
  </p>
</WizardSection>
