<WizardSection
  @headerText="Enabling an Auth Method"
  @docText="Docs: Authentication Methods"
  @docPath="/docs/auth/index.html"
>
  <p>
    Controlling who can see your secrets is important. Let's set up a an authentication method for you and your team to use. Don't worry, you can add more methods later. Choose an authentication method to get started.
  </p>
</WizardSection>
