<WizardSection
  @headerText="Auth Method list"
  @docText="Docs: Authentication Methods"
  @docPath="/docs/auth/index.html"
  @instructions='Click the ellipsis menu for your method and then click "View configuration" to see its details.'
>
  <p>
    Awesome! Now you can see your new Auth Method in the list.
  </p>
</WizardSection>
