<WizardSection
  @headerText="Auth Method Details"
  @docText="Docs: Authentication Methods"
  @docPath="/docs/auth/index.html"
>
  <p>
    Fantastic! Now you're ready to use your new {{mountName}} Auth Method!
  </p>
</WizardSection>
<WizardSection
  @headerText="Want to start again or move on?"
  @class="wizard-details"
>
  <button type="button"  class="button next-feature-step" {{action onReset}}>
    Enable another Auth Method <ICon @glyph="loop"  @size=13 />
  </button>
  <button type="button"  class="button next-feature-step" {{action onAdvance}}>
    {{nextFeature}} <ICon @glyph="chevron-right"  @size=10 />
  </button>
</WizardSection>
