<WizardSection
  @headerText="Auth Method List"
  @docText="Docs: Authentication Methods"
  @docPath="/docs/auth/index.html"
  @instructions='Click the ellipsis menu for your method and then click "View Configuration" to see its details.'
>
  <p>
    Awesome! Now you can see your new auth method in the list.
  </p>
</WizardSection>
