<WizardSection 
  @headerText="Editing Your Auth Method" 
  @docText="Docs: Authentication Methods"
  @docPath="/docs/auth/index.html"
>
  <p>
    You can update your new auth method configuration here.
  </p>
</WizardSection>