<WizardSection
  @headerText="AWS"
  @headerIcon="enable/aws"
  @docText="Docs: AWS Authentication"
  @docPath="/docs/auth/aws.html"
>
  <p>
    The AWS Auth Method provides an automated mechanism to retrieve a Vault token for AWS EC2 instances and IAM principals. Unlike most Vault Auth Methods, this method does not require manual first-deploying, or provisioning security-sensitive credentials (tokens, username/password, client certificates, etc), by operators under many circumstances.
  </p>
</WizardSection>
