<WizardSection
  @headerText="AWS"
  @headerIcon="enable/aws"
  @docText="Docs: AWS Secrets"
  @docPath="/docs/secrets/aws/index.html"
>
  <p>
    The AWS Secrets Engine generates AWS access credentials dynamically based on IAM policies. This generally makes working with AWS IAM easier, since it does not involve clicking in the web UI. Additionally, the process is codified and mapped to internal Auth Methods (such as LDAP). The AWS IAM credentials are time-based and are automatically revoked when the Vault lease expires.
  </p>
</WizardSection>
