{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<WizardSection
  @headerText="Azure"
  @headerIcon="azure-color"
  @docText="Docs: Azure Authentication"
  @docPath="/docs/auth/azure.html"
>
  <p>
    The Azure Auth Method allows authentication against Vault using Azure Active Directory credentials.
  </p>
</WizardSection>