<WizardSection
  @headerText="Azure"
  @headerIcon="enable/azure"
  @docText="Docs: Azure Authentication"
  @docPath="/docs/auth/azure.html"
>
  <p>
    The Azure Auth Method allows authentication against Vault using Azure Active Directory credentials.
  </p>
</WizardSection>
