<WizardSection
  @headerText="Azure"
  @headerIcon="enable/azure"
  @docText="Docs: Azure Secrets"
  @docPath="/docs/secrets/azure/index.html"
>
  <p>
  The Azure Secrets Engine dynamically generates Azure service principals and role assignments. Vault roles can be mapped to one or more Azure roles, providing a simple, flexible way to manage the permissions granted to generated service principals.
  </p>
</WizardSection>
