<WizardSection
  @headerText="TLS Certificates"
  @headerIcon="enable/cert"
  @docText="Docs: TLS Certificates Authentication"
  @docPath="/docs/auth/cert.html"
>
  <p>
    The TLS Certificates Auth Method allows authentication using SSL/TLS client certificates which are either signed by a CA or self-signed. CA certificates are associated with a role.
  </p>
</WizardSection>
