<WizardSection 
  @headerText="Cubbyhole" 
  @docText="Docs: Cubbyhole Secrets"
  @docPath="/docs/secrets/cubbyhole/index.html"
>
  <p>
    The cubbyhole Secrets Engine is used to store arbitrary secrets within the configured physical storage for Vault namespaced to a token. In cubbyhole, paths are scoped per token. No token can access another token's cubbyhole. When the token expires, its cubbyhole is destroyed.
  </p>
</WizardSection>