<WizardSection
  @headerText="Consul"
  @headerIcon="enable/consul"
  @docText="Docs: Consul Secrets"
  @docPath="/docs/secrets/consul/index.html"
>
  <p>
    The Consul Secrets Engine generates Consul API tokens dynamically based on Consul ACL policies.
  </p>
</WizardSection>
