<WizardSection
  @headerText="Databases"
  @headerIcon="enable/database"
  @docText="Docs: Database Secrets"
  @docPath="/docs/secrets/databases/index.html"
>
  <p>
    The database Secrets Engine generates database credentials dynamically based on configured roles.
  </p>
</WizardSection>
