<WizardSection
  @headerText="Google Cloud"
  @headerIcon="enable/gcp"
  @docText="Docs: Google Cloud Secrets"
  @docPath="/docs/secrets/gcp/index.html"
>
  <p>
    The Google Cloud Vault Secrets Engine dynamically generates Google Cloud service account keys and OAuth tokens based on IAM policies. This enables users to gain access to Google Cloud resources without needing to create or manage a dedicated service account.
  </p>
</WizardSection>
