<WizardSection
  @headerText="Google Cloud"
  @headerIcon="enable/gcp"
  @docText="Docs: Google Cloud Authentication"
  @docPath="/docs/auth/gcp.html"
>
  <p>
    The GCP auth method allows authentication against Vault using Google credentials.
  </p>
</WizardSection>
