<WizardSection
  @headerText="Google Cloud KMS"
  @headerIcon="enable/gcpkms"
  @docText="Docs: Google Cloud Secrets"
  @docPath="/docs/secrets/gcpkms/index.html"
>
  <p>
    The Google Cloud KMS Vault secrets engine provides encryption and key management via Google Cloud KMS. It supports management of keys, including creation, rotation, and revocation, as well as encrypting and decrypting data with managed keys. This enables management of KMS keys through Vault's policies and IAM system.
  </p>
</WizardSection>
