<WizardSection
  @headerText="GitHub"
  @headerIcon="enable/github"
  @docText="Docs: GitHub Authentication"
  @docPath="/docs/auth/github.html"
>
  <p>
    The Github Auth Method can be used to authenticate with Vault using a GitHub personal access token.
  </p>
</WizardSection>
