<WizardContent @headerText="Authentication" @glyph="tour">
  <WizardSection
    @headerText="Authenticate to Vault"
    @docText="Learn: Initialization"
    @docPath="/docs/concepts/tokens.html"
  >
    <p>
      Vault is unsealed, but we still need to authenticate using the Initial
      Root Token that was generated. We recommend setting up an Authentication
      Method such as Username & Password for regular use, and only using a root
      token for initial setup or for emergencies.
    </p>
  </WizardSection>
</WizardContent>

