<div class="wizard-header">
  <h1>Log in to Vault</h1>
  <p>
  </p>
  <DocLink @class="step-docs-link" @path="/intro/getting-started/deploy.html#initializing-the-vault">
    Docs: Initialization
  </DocLink>
</div>
