<WizardContent @headerText="Initialization" @glyph="tour">
  <h2 class="title is-6">Authenticate to Vault</h2>
  <p>
  </p>
  <DocLink @path="/intro/getting-started/deploy.html#initializing-the-vault">
    <ICon @glyph="learn" @size=16 /> Learn: Initialization
  </DocLink>
</WizardContent>

