<WizardContent @headerText="Initialization" @glyph="tour">
  <WizardSection
    @headerText="Saving your keys"
    @docText="Learn: Initialization"
    @docPath="/intro/getting-started/deploy.html#initializing-the-vault">
    <p>Now that Vault is initialized, you'll want to save your root token and
    master key portions in a safe place. Distribute your keys to responsible
    people on your team. If these keys are lost, you may not be able to access
    your data again. Keep them safe!</p>
  </WizardSection>
</WizardContent>
