{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<WizardContent @headerText="Initialization" @glyph="tour">
  <WizardSection
    @headerText="Unsealing your vault"
    @docText="Learn: Initialization"
    @docPath="/intro/getting-started/deploy.html#initializing-the-vault"
  >
    <p>
      Now we will provide the
      {{pluralize this.componentState.threshold "key"}}
      that you copied or downloaded to unseal the vault so that we can get started using it. You'll need
      {{pluralize this.componentState.threshold "key"}}
      total, and
      {{#let (pluralize this.componentState.progress "key" without-count=true) as |word|}}
        {{if
          (eq word "key")
          (concat this.componentState.progress " " word " has ")
          (concat this.componentState.progress " " word " have ")
        }}
      {{/let}}
      already been provided. Please provide
      {{pluralize (dec this.componentState.progress this.componentState.threshold) "more key"}}
      to unseal.
    </p>
  </WizardSection>
</WizardContent>