{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<WizardSection
  @headerText="Key Management"
  @headerIcon="key"
  @docText="Docs: Key Management Secrets Engine"
  @docPath="/docs/secrets/key-management"
>
  <p>
    Key Management is a secrets engine that allows key generation, lifecycle management, and secure distribution of
    cryptographic keys into cloud key management services.
  </p>
</WizardSection>