{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<WizardSection
  @headerText="KMIP"
  @headerIcon="unlock"
  @docText="Docs: KMIP Secrets Engine"
  @docPath="/docs/secrets/kmip/index.html"
>
  <p>
    The KMIP secrets engine allows Vault to act as a KMIP server provider and handle the lifecycle of KMIP managed objects.
    KMIP, which stands for Key Management Interoperability Protocol, is a standardized protocol that allows services and
    applications to perform cryptographic operations without having to manage cryptographic material, otherwise known as
    manage objects, by delegating its storage and lifecycle to a key management server.
  </p>
</WizardSection>