<WizardSection
  @headerText="Kubernetes"
  @headerIcon="enable/kubernetes"
  @docText="Docs: Kubernetes Authentication"
  @docPath="/docs/auth/kubernetes.html"
>
  <p>
    The Kubernetes Auth Method can be used to authenticate with Vault using a Kubernetes Service Account Token. This method of authentication makes it easy to introduce a Vault token into a Kubernetes Pod.
  </p>
</WizardSection>
