<WizardSection
  @headerText="LDAP"
  @headerIcon="enable/ldap"
  @docText="Docs: LDAP Authentication"
  @docPath="/docs/auth/ldap.html"
>
  <p>
    The LDAP Auth Method allows authentication using an existing LDAP server and user/password credentials. This allows Vault to be integrated into environments using LDAP without duplicating the user/pass configuration in multiple places.
  </p>
</WizardSection>
