<WizardSection
  @headerText="Nomad"
  @headerIcon="enable/nomad"
  @docText="Docs: Nomad Secrets"
  @docPath="/docs/secrets/nomad/index.html"
>
  <p>
    The Nomad secret backend for Vault generates Nomad API tokens dynamically based on pre-existing Nomad ACL policies.
  </p>
</WizardSection>
