<WizardSection
  @headerText="Okta"
  @headerIcon="enable/okta"
  @docText="Docs: Okta Authentication"
  @docPath="/docs/auth/okta.html"
>
  <p>
    The Okta Auth Method allows authentication using Okta and user/password credentials. This allows Vault to be integrated into environments using Okta.
  </p>
</WizardSection>
