<WizardContent @headerText="Policies" @glyph="tour">
  <h2 class="title is-6">Creating a policy</h2>
  <p>
    Let's use "my-new-policy" for your policy name copy the policy below to try it out:
  </p>
  <code>
    path "secret/foo" {
      capabilities = ["read"]  
    }
  </code>
  <DocLink @path="/docs/concepts/policies.html">
    <ICon @glyph="document" @size=16 /> Docs: Policies
  </DocLink>
</WizardContent>