<WizardContent @headerText="Policies" @glyph="tour">
  <WizardSection
    @headerText="Your new policy"
    @docText="Docs: Policies"
    @docPath="/docs/concepts/policies.html"
    @instructions='Click on "ACL Policies" in the sidebar to go back to the list of policies.'
  >
    <p>
      Good job! Here you can see your new policy. If you'd like to edit it, you'd just click the "Edit" toggle.
    </p>
  </WizardSection>
</WizardContent>
