<WizardContent @headerText="Policies" @glyph="tour">
  <WizardSection
    @headerText="Creating a policy"
    @docText="Docs: Policies"
    @docPath="/docs/concepts/policies.html"
    @instructions='Fill in your policy details and click "Create Policy".'
  >
    <p>
      Let's use "<code>my-new-policy</code>" for your policy name. Copy the policy below to try it out:
    </p>
<pre><code>path "secret/foo" {
  capabilities = ["read"]
}</code></pre>
  </WizardSection>
</WizardContent>
