<div class="wizard-header">
  <h1>Policies</h1>
  <h2>Deleting your policy</h2>
  <p>
    You can delete your test policy by clicking the "..." icon to the right of the policy name. Click on "Delete" to remove it.
  </p>
  <DocLink @class="step-docs-link" @path="/docs/concepts/policies.html">
    Docs: Policies
  </DocLink>
</div>