<WizardContent @headerText="Policies" @glyph="tour">
  <WizardSection 
    @headerText="Deleting your policy" 
    @docText="Docs: Policies"
    @docPath="/docs/concepts/policies.html"
  >
    <p>
      You can delete your test policy by clicking the "..." icon to the right of the policy name. Click on "Delete" to remove it.
    </p>
  </WizardSection>
</WizardContent>