<div class="wizard-header">
  <h1>Policies</h1>
  <h2>Your new policy</h2>
  <p>
    Good job! Here you can see your new policy, but because of the rules that we wrote in the policy, we won't be able to edit it (try clicking the "Edit" toggle to check). Let's go back to the list of policies by clicking on "ACL Policies" in the sidebar.
  </p>
  <DocLink @class="step-docs-link" @path="/docs/concepts/policies.html">
    Docs: Policies
  </DocLink>
</div>
