<div class="wizard-header">
  <h1>Policies</h1>
  <h2>Creating a policy</h2>
  <p>
    Let's use "my-new-policy" for your policy name copy the policy below to try it out:
  </p>
  <code>
    path "secret/foo" {
      capabilities = ["read"]  
    }
  </code>
  <DocLink @class="step-docs-link" @path="/docs/concepts/policies.html">
    Docs: Policies
  </DocLink>
</div>
