<WizardContent @headerText="Policies" @glyph="tour">
  <WizardSection 
    @headerText="Creating a policy" 
    @docText="Docs: Policies"
    @docPath="/docs/concepts/policies.html"
  >
    <p>
      Let's use "my-new-policy" for your policy name copy the policy below to try it out:
    </p>
    <code>
      path "secret/foo" {
        capabilities = ["read"]  
      }
    </code>
  </WizardSection>
</WizardContent>