<div class="wizard-header">
  <h1>Policies</h1>
  <h2>Choosing a policy type</h2>
  <p>
    Policies in Vault are a way for you to control what data can be accessed, including things like creating new secrets, listing users, or even entire Vault features. To get started with something simple, click on "Create ACL policy"
  </p>
  <DocLink @class="step-docs-link" @path="/docs/concepts/policies.html">
    Docs: Policies
  </DocLink>
</div>
