<WizardContent @headerText="Policies" @glyph="tour">
  <WizardSection
    @headerText="Choosing a policy type"
    @docText="Docs: Policies"
    @docPath="/docs/concepts/policies.html"
    @instructions='To get started with something simple, click on "Create ACL policy".'
  >
    <p>
      Policies in Vault are a way for you to control what data can be accessed, including things like creating new secrets, listing users, or even entire Vault features.
    </p>
  </WizardSection>
</WizardContent>
