<WizardContent @headerText="Policies" @glyph="tour">
  <WizardSection
    @headerText="Deleting your policy"
    @docText="Docs: Policies"
    @docPath="/docs/concepts/policies.html"
    @instructions='Click on "Delete" to remove the policy that you created.'
  >
    <p>
      You can delete your test policy by clicking the "..." icon to the right of the policy name.
    </p>
  </WizardSection>
</WizardContent>
