<WizardSection
  @headerText="RabbitMQ"
  @headerIcon="enable/rabbitmq"
  @docText="Docs: RabbitMQ Secrets"
  @docPath="/docs/secrets/rabbitmq/index.html"
>
  <p>
    The RabbitMQ Secrets Engine generates user credentials dynamically based on configured permissions and virtual hosts. This means that services that need to access a virtual host no longer need to hardcode credentials.
  </p>
</WizardSection>
