<WizardSection
  @headerText="RADIUS"
  @headerIcon="enable/radius"
  @docText="Docs: RADIUS Authentication"
  @docPath="/docs/auth/radius.html"
>
  <p>
    The RADIUS Auth Method allows users to authenticate with Vault using an existing RADIUS server that accepts the PAP authentication scheme.
  </p>
</WizardSection>
