<WizardContent @headerText="Replication" @glyph="tour">
  <WizardSection
    @headerText="Setting up Replication"
    @docText="Docs: Replication"
    @docPath="/docs/internals/replication.html"
    @instructions='Choose the one that is right for your needs and click "Enable Replication"'
  >
    <p>
      Vault has two kinds of replication, each for a different purpose. Do you want to keep a backup of your data, or are you more interested in speed of access?
    </p>
  </WizardSection>
  <WizardSection @headerText="Cluster mode" @class="wizard-details">
    <p>
      A cluster is set as either a primary or secondary. The primary cluster is authoritative, and is the only cluster allowed to perform actions that write to the underlying data storage, such as modifying policies or secrets. Secondary clusters can service all other operations and forward any writes to the primary cluster.
    </p>
  </WizardSection>
</WizardContent>
