{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
~}}

<WizardSection @headerText="Generate Credential">
  <p>
    Enter details and generate your credential.
  </p>
</WizardSection>