{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<WizardSection @headerText="Adding an encryption key">
  <p>
    Enter the details about your encryption key and save it.
  </p>
</WizardSection>