{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<WizardSection @headerText="Create a Role" @instructions="Edit the details of your role and click “Create role.”">
  <p>
    Roles are what generate database credentials. They can be static or dynamic.
  </p>
</WizardSection>