<WizardSection
  @headerText="Enabling a Secrets Engine"
  @docText="Docs: Secrets Engines"
  @docPath="/docs/secrets/index.html"
  @instructions='Select an engine and click "Next"'
>
  <p>
    Vault is all about managing secrets, so let's set up your first Secrets Engine. You can use a static engine to store your secrets locally in Vault, or connect to a cloud backend with one of the dynamic engines.
  </p>
</WizardSection>
