<WizardSection
  @headerText="Your New Role"
>
  <p>
    With our new role, we can generate a credential that has the same permissions as that role. Click on "Generate Credentials" links at the top of the page.
  </p>
</WizardSection>
