<WizardSection 
  @headerText="Your Secrets Engine" 
>
  <p>
    Now that we've mounted the {{secretType}} Secrets Engine, let's add a {{nextStep}}. Click on the link in the page header.
  </p>
</WizardSection>