{{! template-lint-disable quotes }}
<WizardSection @headerText="Adding a role" @instructions='Enter your role details and click "Create role"'>
  <p>
    A role grants permissions that specify what an identity can and cannot do. A role is typically shared among many users
    who are then granted credentials with that are granted the policy permissions.
  </p>
</WizardSection>