{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{! template-lint-disable quotes }}
<WizardSection
  @headerText="Viewing engine configuration"
  @instructions='Find the engine in the list and click on "View configuration" in the menu on the right.'
>
  <p>
    This engine isn't fully supported in the Vault UI yet, but you can view and edit the configuration and use the Vault Web
    REPL to interact with the engine just like you would on the command-line.
  </p>
</WizardSection>