{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<WizardSection @headerText="Create a Role" @instructions="Click “Add role.”">
  <p>
    Now that we've setup a database let's connect a role.
  </p>
</WizardSection>