<WizardSection
  @headerText="Adding a secret"
  @instructions='Enter the details of your secret and click "Save"'
>
  <p>
    Here you can specify the path of your secret and include the key/value pairs to include.
  </p>
</WizardSection>
