<WizardSection
  @headerText="Your Secrets Engine"
  @instructions='Click on the link to add a {{nextStep}} in the page header'
>
  <p>
    {{#if needsEncryption}}
      The Transit Secrets Engine uses encryption keys to provide "encryption as a service". Click on "Create Encryption Key" at the top to create one.
    {{else}}
      Now that we've mounted the {{secretType}} Secrets Engine, let's add a {{nextStep}}.
    {{/if}}
  </p>
</WizardSection>
