<WizardSection 
  @headerText="Your New Role" 
>
  <p>
    With our new role, we can generate a credential that has the same permissions as that role. Click on one of the "Generate Credentials" links in the menu to the right of the role.
  </p>
</WizardSection>