{{#unless isDismissed}}
  <div class="wizard-header">
    <h1>Secrets</h1>
    <h2>{{currentStepName}}</h2>
  </div>
  <div class="wizard-section">
    {{currentStepText}}
  </div>
  {{#if selectedEngine}}
    <div class="wizard-section">
      <h2>{{engineName}}</h2>
      {{engineDescription}}
    </div>
  {{/if}}
{{/unless}}