<WizardSection
  @headerText="Your new role"
>
  <p>
    With our new role, we can generate a credential that has the same permissions as that role. Click on "Generate credentials" links at the top of the page.
  </p>
</WizardSection>
