{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<WizardSection
  @headerText="Connect a database"
  @instructions="Enter the details of your database and click “Create database.”"
>
  <p>
    Here you can specify the details of your database plugin and include any root rotation statements.
  </p>
</WizardSection>