<WizardSection @headerText="Your Secrets Engine" @instructions="Click on the link to add a {{@nextStep}} in the page header">
  <p>
    {{#if (eq @mountSubtype "keymgmt")}}
      This secrets engine manages keys and distributes them to external destinations. We recommend that you create a provider
      to which you can distribute keys.
    {{else}}
      {{#if @needsEncryption}}
        The Transit Secrets Engine uses encryption keys to provide "encryption as a service". Click on "Create Encryption
        Key" at the top to create one.
      {{/if}}
      {{#if @needsConnection}}
        Now that the engine has been mounted, let’s connect a
        {{@mountSubtype}}.
      {{/if}}
    {{/if}}
  </p>
</WizardSection>