<WizardSection
  @headerText="SSH"
  @headerIcon="enable/ssh"
  @docText="Docs: SSH Secrets"
  @docPath="/docs/secrets/ssh/index.html"
>
  <p>
    The Vault SSH Secrets Engine provides secure authentication and authorization for access to machines via the SSH protocol. The Vault SSH Secrets Engine helps manage access to machine infrastructure, providing several ways to issue SSH credentials.
  </p>
</WizardSection>
