<WizardContent @headerText="Tools" @glyph="tour">
  <WizardSection
    @headerText="Your rewrapped data"
    @docText="API: Rewrap Data"
    @docPath="/api/system/wrapping-rewrap.html"
    @instructions='Copy this token and then click on "Unwrap" in the sidebar to verify the data is still in there.'
  >
    <p>
      It's a subtle transformation, but your old token has been revoked and this new one has taken its place.
    </p>
  </WizardSection>
</WizardContent>
