<WizardContent @headerText="Tools" @glyph="tour">
  <WizardSection 
    @headerText="Unwrapping your data" 
    @docText="API: Unwrap Data"
    @docPath="/api/system/wrapping-unwrap.html"
  >
    <p>
      We saved this step for the end because unwrapping the token will revoke it, so we can only do this once. Paste your token into the input and click "Unwrap Data"
    </p>
  </WizardSection>
</WizardContent>