<WizardContent @headerText="Tools" @glyph="tour">
  <WizardSection
    @headerText="Wrapping data"
    @docText="API: Wrap Data"
    @docPath="/api/system/wrapping-wrap.html"
    @instructions='Enter some data in JSON format and click "Wrap Data".'
  >
    <p>
      Vault provides several ways to create or wrap data, and manage it from there. Here you can wrap a token (or anything you like) in JSON format. Give it a try.
    </p>
  </WizardSection>
</WizardContent>
