<WizardContent @headerText="Tools" @glyph="tour">
  <WizardSection
    @headerText="Copying your wrapped token"
    @docText="API: Wrap Data"
    @docPath="/api/system/wrapping-wrap.html"
    @instructions='Copy the token and then click on "Lookup" in the sidebar.'
  >
    <p>
      Your data is now encrypted. You can recover the data using the token on this page, but be careful because if you lose the token you won't be able to retrieve your data! We will use this token for the next few steps.
    </p>
  </WizardSection>
</WizardContent>
