<div class="wizard-header">
  <h1>Tools</h1>
  <h2>Copying your wrapped token</h2>
  <p>
    Your data is now encrypted. You can recover the data using the token on this page, but be careful because if you lose the token you won't be able to retrieve your data! We will use this token for the next few steps, so copy the token and then click on "Lookup" in the sidebar.
  </p>
  <DocLink @class="step-docs-link" @path="/api/system/wrapping-wrap.html">
    API: Wrap Data
  </DocLink>
</div>