<WizardContent @headerText="Tools" @glyph="tour">
  <WizardSection 
    @headerText="Rewrapping your data" 
    @docText="API: Rewrap Data"
    @docPath="/api/system/wrapping-rewrap.html"
  >
    <p>
      Paste your token into the input and click "Rewrap Token" to transform your token into a new one. Don't worry though, it will still have the same data.
    </p>
  </WizardSection>
</WizardContent>