<WizardContent @headerText="Tools" @glyph="tour">
  <WizardSection
    @headerText="Rewrapping your data"
    @docText="API: Rewrap Data"
    @docPath="/api/system/wrapping-rewrap.html"
    @instructions='Paste your token into the input and click "Rewrap Token" to transform your token into a new one.'
  >
    <p>
      You can rewrap your data to rotate the token, but it will still have the same creation time and TTL. Don't worry, the new token will still have the same data.
    </p>
  </WizardSection>
</WizardContent>
