<WizardContent @headerText="Tools" @glyph="tour">
  <WizardSection
    @headerText="Lookup wrapped data"
    @docText="API: Lookup Data"
    @docPath="/api/system/wrapping-lookup.html"
    @instructions='Paste the token that you copied and click "Lookup Token".'
  >
    <p>
      Lookup lets you see information about your token without unwrapping it or changing it. Paste your token here and click "Lookup". If you find that your data didn't copy for some reason, you can always go back and do it again.
    </p>
  </WizardSection>
</WizardContent>
