<WizardContent @headerText="Tools" @glyph="tour">
  <WizardSection
    @headerText="Information about your data"
    @docText="API: Lookup Data"
    @docPath="/api/system/wrapping-lookup.html"
    @instructions='Click on "Rewrap" in the sidebar.'
  >
    <p>
      Good job! You can see some basic information about your wrapped data, including the expiration time. Next up, we'll take the token you still have in your clipboard and rewrap it to keep it active and extend that expiration time.
    </p>
  </WizardSection>
</WizardContent>
