<div class="wizard-header">
  <h1>Tools</h1>
  <h2>Your rewrapped data</h2>
  <p>
    It's a subtle transformation, but your old token has been revoked and this new one has taken its place. Copy this one and then click on "Unwrap" in the sidebar to make sure the data is still in there.
  </p>
  <DocLink @class="step-docs-link" @path="/api/system/wrapping-rewrap.html">
    API: Rewrap Data
  </DocLink>
</div>