<WizardContent @headerText="Tools" @glyph="tour">
  <h2 class="title is-6">Wrapping data</h2>
  <p>
    Vault provides several ways to create or wrap data, and manage it from there. Here you can wrap a token (or anything you like) in JSON format. Give it a try.
  </p>
  <DocLink @path="/api/system/wrapping-wrap.html">
    <ICon @glyph="learn" @size=16 /> API: Wrap Data
  </DocLink>
</WizardContent>