<WizardSection
  @headerText="TOTP"
  @headerIcon="history"
  @docText="Docs: TOTP Secrets"
  @docPath="/docs/secrets/totp/index.html"
>
  <p>
    The TOTP Secrets Engine generates time-based credentials according to the TOTP standard.
  </p>
</WizardSection>