<WizardSection
  @headerText="Transit"
  @headerIcon="enable/transit"
  @docText="Docs: Transit Secrets"
  @docPath="/docs/secrets/transit/index.html"
>
  <p>
    The Transit Secrets Engine handles cryptographic functions on data in-transit. Vault doesn't store the data sent to the Secrets Engine. It can also be viewed as "cryptography as a service" or "encryption as a service".
  </p>
</WizardSection>
