{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<WizardSection
  @headerText="Transit"
  @headerIcon="swap-horizontal"
  @docText="Docs: Transit Secrets"
  @docPath="/docs/secrets/transit/index.html"
>
  <p>
    The Transit Secrets Engine handles cryptographic functions on data in-transit. Vault doesn't store the data sent to the
    Secrets Engine. It can also be viewed as "cryptography as a service" or "encryption as a service".
  </p>
</WizardSection>