<WizardContent @headerText="Thanks for taking the tour!" @glyph="tour" @class="collapsed">
  <p>
    We hope you enjoyed using Vault. You can get back to the guide in the user menu in the upper right.
  </p>
  <div class="box wizard-divider-box">
    <button type="button" class="button is-transparent has-icon-left has-text-white" {{action onDismiss}}>
      <ICon @glyph="close" />
      Close
    </button>
  </div>
</WizardContent>
