{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<WizardContent @headerText="Thanks for taking the tour!" @glyph="tour" @class="collapsed">
  <p>
    We hope you enjoyed using Vault. You can get back to the guide in the user menu in the upper right.
  </p>
  <div class="box wizard-divider-box">
    <Hds::Button @icon="x" @text="Close" {{on "click" (action this.onDismiss)}} />
  </div>
</WizardContent>