{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<WizardContent @headerText="Welcome to Vault" @glyph="tour" @class="collapsed" @hidePopup={{true}}>
  <Hds::Button @text="Close" @icon="x" @isIconOnly={{true}} @color="secondary" {{on "click" (action @onDismiss)}} />
  <p>Want a tour? Our helpful guide will introduce you to the Vault Web UI.</p>
  <div class="box wizard-divider-box">
    <Hds::Button @text="Let's get started" @icon="chevron-up" {{on "click" (action @onAdvance)}} />
  </div>
</WizardContent>