<WizardSection
  @headerText="Oops!"
>
  <p>
    Something went wrong and you can't complete this step.
  </p>
</WizardSection>
<WizardSection>
  <button type="button" class="button next-feature-step" {{action onReset}}>
    Go Back <Icon @glyph="reply" />
  </button>
  <button type="button" class="button next-feature-step" {{action onAdvance}}>
    {{nextFeature}} <Chevron @isButton={{true}} />
  </button>
</WizardSection>
