{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<WizardSection @headerText="Oops!">
  <p>
    Something went wrong and you can't complete this step.
  </p>
</WizardSection>
<WizardSection>
  <Hds::ButtonSet>
    <Hds::Button @text="Go back" @icon="corner-up-left" @color="secondary" {{on "click" (action @onReset)}} />
    <Hds::Button @text={{@nextFeature}} @icon="chevron-right" @iconPosition="trailing" {{on "click" (action @onAdvance)}} />
  </Hds::ButtonSet>
</WizardSection>