{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<WizardContent @headerText="Vault Web UI Guide" @glyph="tour" @class="collapsed" @hidePopup={{true}}>
  <Hds::Button @text="Close" @icon="x" @isIconOnly={{true}} @color="secondary" {{on "click" (action @onDismiss)}} />
  <p>Feel free to explore Vault. Click below to get back to the guide or close this window.</p>
  <div class="box wizard-divider-box">
    <Hds::Button @text="Back to guide" @icon="chevron-up" {{on "click" (action @onAdvance)}} />
  </div>
</WizardContent>