<WizardSection
  @headerText="Username & Password"
  @headerIcon="enable/userpass"
  @docText="Docs: Userpass Authentication"
  @docPath="/docs/auth/userpass.html"
>
  <p>
    The Username & Password Auth Method allows users to authenticate with Vault using a username and password combination.
  </p>
</WizardSection>
