<header class="page-header">
  <div class="level">
    <div class="level-left">
      <h1 class="title is-3">
        Add {{model.identityType}}
      </h1>
    </div>
  </div>
</header>

{{identity/edit-form model=model onSave=(perform navToShow)}}
