{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Edit
      {{this.model.name}}
    </h1>
  </p.levelLeft>
</PageHeader>

<Identity::EditForm @mode="edit" @model={{this.model}} @onSave={{action "navAfterSave"}} />