<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Merge entities
    </h1>
  </p.levelLeft>
</PageHeader>

{{identity/edit-form mode="merge" model=model onSave=(perform navAfterSave)}}
