{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<PageHeader as |p|>
  <p.top>
    <KmipBreadcrumb @scope={{this.scope}} @role={{this.role}} @currentRoute="Generate Credentials" />
  </p.top>
  <p.levelLeft>
    <h1 class="title is-3">
      Generate Credentials
    </h1>
  </p.levelLeft>
</PageHeader>

{{! this.model is the ember data model kmip/credential }}
<Page::CredentialsGenerate @credentials={{this.model}} />