<div class="is-flex-v-centered auth-button-type-auth0" >
  <div class="auth-button-tile is-flex-column is-flex-v-centered">
    <svg height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 193.71 216.56"><defs><style>.cls-1{fill:#eb5424;}</style></defs><path class="cls-1" d="M189,66.92,167.22,0H96.85L118.6,66.92ZM96.85,0H26.49L4.75,66.92H75.11ZM4.75,66.92Zm0,0h0A96.85,96.85,0,0,0,39.93,175.2l21.74-66.92Zm184.21,0h0L132,108.28l21.74,66.92h0A96.85,96.85,0,0,0,189,66.92ZM39.93,175.2h0l56.93,41.36,56.92-41.36L96.85,133.84Z"/></svg>
  </div>
  <div class="text">
    Sign in with Auth0
  </div>
</div>
