<div class="box is-bottomless has-background-white-bis">
    <div class="columns is-centered">
        <div class="column is-half has-text-centered">
            <div class="box is-shadowless has-background-white-bis">
                <p class="has-text-grey">
                    {{yield}}
                </p>
            </div>
        </div>
    </div>
</div>