  <div class="confirm" ...attributes>
    {{yield (hash
      Trigger=(component "confirm/trigger")
      Message=(component "confirm/message"
        renderedTrigger=(readonly this.openTrigger)
        wormholeReference=this.wormholeReference
      )
      onTrigger=(action (mut this.openTrigger))
      onCancel=(action (mut this.openTrigger) '')
      )
    }}
  </div>
  <div id={{this.wormholeId}} class="confirm-overlay">
  </div>
