<div class="test-container"> 
  <div>First Div</div>
  <div>Second Div</div>
  <BarChart 
    @title="Top 10 namespaces" 
    @description="Each namespace's client count includes clients in child namespaces."
    {{!-- @dataset={{this.formattedData}} --}}
    @mapLegend={{ array
      (hash key="non_entity_tokens" label="Active direct tokens") 
      (hash key="distinct_entities" label="Unique Entities") 
    }} 
  >    
    <button type="button" class="link">
      Export all namespace data
    </button>
  </BarChart>
  <div>Fourth Div</div>
</div>
