<div class="thead">
  <div class="th">
    {{header}}
  </div>
</div>
<div class="columns is-mobile">
  <div class="column">
    <div class="td">
      <code>
        {{content}}
      </code>
    </div>
  </div>
</div>
