<table>
  <thead class="has-text-grey-dark">
    <td>Month</td>
    <td>Requests</td>
    {{#if showChangeColumn}}
      <td>Change</td>
    {{/if}}
  </thead>
  <tbody>
    {{#each countersWithChange as |c|}}
      <tr>
        <td>{{ date-format c.start_time 'MMMM YYYY' }}</td>
        <td>{{c.total}}</td>
        {{#if showChangeColumn}}
          <td data-test-change="{{c.change}}">{{c.change}}</td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
