<label for="date-range" class="is-label">
  Date Range
</label>
<select id="date-range" name="selectedTimeWindow" data-test-timeWindow-select>
  <option>All</option>
  <option>Last 12 Months</option>
</select>
