<label for="date-range" class="is-label">
  Date Range
</label>
<select id="date-range" name="selectedTimeWindow" data-test-timeWindow-select>
  {{#each options as |op|}}
    <option>{{op}}</option>
  {{/each}}
</select>
