<div class="field box is-fullwidth is-sideless is-paddingless is-marginless">
  {{info-table-row label="License ID" value=licenseId}}
  {{#if startTime}}
    {{#info-table-row label="Start time" value=startTime}}
      {{moment-format model.startTime 'MMM DD, YYYY hh:mm:ss A'}}
    {{/info-table-row}}
  {{/if}}
  {{#if expirationTime}}
    {{#info-table-row label="Expiration time" value=expirationTime}}
      {{moment-format expirationTime 'MMM DD, YYYY hh:mm:ss A'}}
    {{/info-table-row}}
    {{info-table-row label="Expires in" value=(moment-from-now expirationTime interval=1000 hideSuffix=true)}}
  {{/if}}
</div>
