{{#if this.showStatus}}
  <div class="navbar-status {{if (eq this.state 'connected') 'connected' 'warning'}}">
    <Icon @name="info" />
    <p data-test-link-status>
      {{#if (eq this.state "connected")}}
        This self-managed Vault is linked to the
        <a href="https://portal.cloud.hashicorp.com/sign-in" target="_blank" rel="noopener noreferrer">
          HashiCorp Cloud Platform.
        </a>
      {{else}}
        {{this.message}}
      {{/if}}
    </p>
  </div>
{{/if}}