<div class="is-flex-v-centered is-flex-1">
  <div class="columns is-centered">
    <div class="column is-narrow has-text-centered has-text-grey-dark has-current-color-fill">
      <LogoEdition />
    </div>
  </div>
</div>
