{{#link-to "vault.cluster.secrets" (query-params namespace=normalizedNamespace)
  class=(concat "is-block " class)
}}
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <div class="level is-mobile">
      <span class="level-left">{{namespaceDisplay}}</span>
      <span class="level-right">
        <button type="button" class="button is-ghost icon">
          <Chevron @isButton={{true}} class="has-text-grey" />
        </button>
      </span>
    </div>
  {{/if}}
{{/link-to}}
