{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="splash-page-container section is-flex-v-centered-tablet is-flex-grow-1 is-fullwidth">
  <div class="columns is-centered is-gapless is-fullwidth">
    <div class="column is-4-desktop is-6-tablet">
      <div class="has-text-grey has-bottom-margin-m has-current-color-fill">
        <LogoEdition />
      </div>
      <Hds::Alert @type="inline" @color="success" as |A|>
        <A.Title>Signing in with your OIDC provider...</A.Title>
        <A.Description>This window will close automatically</A.Description>
      </Hds::Alert>
    </div>
  </div>
</div>