{{#each this.listData as |key index|}}
  <PgpFile @key={{key}} @index={{index}} @onChange={{action "setKey"}} />
{{else}}
  <p class="has-text-grey" data-test-empty-text>
    Enter a number of Key Shares to enter PGP keys.
  </p>
{{/each}}