{{#each listData as |key index|}}
  {{pgp-file key=key index=index onChange=(action 'setKey')}}
{{else}}
  <p class="has-text-grey">
    Enter a number of Key Shares to enter PGP keys.
  </p>
{{/each}}
