<PopupMenu @name="role-aws-nav" @contentClass="is-wide">
  <nav class="menu">
    <ul class="menu-list">
      <li class="action">
        <LinkTo @route="vault.cluster.secrets.backend.show" @model={{this.item.idForNav}} data-test-pki-cert-link="show">
          Details
        </LinkTo>
      </li>
      {{#if this.item.canRevoke}}
        <li class="action">
          <ConfirmAction
            @buttonClasses="link is-destroy"
            @onConfirmAction={{action "delete" this.item}}
            @confirmTitle="Revoke this cert?"
            @confirmMessage="Any services using this cert may be affected."
            @confirmButtonText="Revoke"
            data-test-cert-revoke-delete={{this.item.id}}
          >
            Revoke
          </ConfirmAction>
        </li>
      {{/if}}
    </ul>
  </nav>
</PopupMenu>