<div class="field">
  <p class="control has-icons-left has-icons-right">
    <span class="input has-text-grey-light">Search</span>
    {{i-con glyph="ios-search-strong" class="is-left has-text-grey-light" size=16}}
  </p>
</div>
