{{#power-select
  options=options
  selected=selectedOption
  onchange=(action "selectOption")
  as |name|
}}
  {{name}}
{{/power-select}}
{{#if isList}}
  {{#each selectedOptions as |selected|}}
    {{selected}}
    <div class="control">
      <button type="button" class="button is-expanded is-icon" {{action "discardSelection" selected}} data-test-string-list-button="delete" >
        {{i-con size=22 glyph='trash-a' excludeIconClass=true class="is-large has-text-grey-light"}}
      </button>
    </div>
  {{/each}}
{{/if}}
