{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<ConfirmAction
  @buttonClasses="toolbar-link"
  @confirmTitle="Delete secret?"
  @confirmMessage="You will not be able to recover this secret data later."
  @onConfirmAction={{this.handleDelete}}
  data-test-secret-v1-delete="true"
>
  Delete
</ConfirmAction>
<div class="toolbar-separator"></div>