{{#with (tabs-for-auth-section model tabType paths) as |tabs|}}
  {{#if tabs.length}}
    <div class="box is-sideless is-fullwidth is-paddingless is-marginless">
      <nav class="tabs">
        <ul>
          {{#each tabs as |tab|}}
            {{#if tab.tab}}
              {{#link-to
                "vault.cluster.access.method.list"
                (query-params tab=tab.tab)
                tagName="li"
                activeClass="is-active"
                data-test-tab=tab.label
              }}
                {{#link-to
                  "vault.cluster.access.method.list"
                  (query-params tab=tab.tab)
                }}
                  {{tab.label}}
                {{/link-to}}
              {{/link-to}}
            {{else}}
              {{#link-to
                "vault.cluster.access.method.list"
                (query-params tab="")
                tagName="li"
                activeClass="is-active"
                data-test-tab=tab.label
              }}
                {{#link-to
                  "vault.cluster.access.method.list"
                  (query-params tab="")
                }}
                  {{tab.label}}
                {{/link-to}}
              {{/link-to}}
            {{/if}}
          {{/each}}
        </ul>
      </nav>
    </div>
  {{/if}}
{{/with}}