{{#linked-block
  "vault.cluster.metrics.http-requests"
  class="selectable-card width-medium is-rounded"
}}
  <div>
    <p class="title-number">{{format-number totalHttpRequests}}</p>
    <p class="title is-5">HTTP Requests</p>
    <p class="has-text-grey is-size-8">This month</p>
  </div>
  <div class="is-paddingless is-marginless">
    <div class="level-item">
      <PopupMenu name="engine-menu">
          <nav class="menu">
            <ul class="menu-list">
              <li class="action">
                {{#link-to "vault.cluster.metrics.http-requests"}}
                  View Details
                {{/link-to}}
              </li>
            </ul>
          </nav>
      </PopupMenu>
    </div>
  </div>
{{/linked-block}}

<SelectableCard 
  @class="selectable-card width-medium is-rounded"
  @cardTitle="Entities" 
  @total={{counters.totalEntities}}
  @subText="Total"
>
  <div class="is-paddingless is-marginless">
    <div class="level-item">
      <PopupMenu name="engine-menu">
        <nav class="menu">
          <ul class="menu-list">
            <li class="action">
              {{#link-to "vault.cluster.access.identity" "entities" data-test-link=true }}
                Manage entities
              {{/link-to}}
            </li>
            <li class="action">
              {{#link-to "vault.cluster.access.identity.create" "entities" }}
                Create entity
              {{/link-to}}
            </li>
          </ul>
        </nav>
      </PopupMenu>
    </div>
  </div>
</SelectableCard>

<SelectableCard 
  @class="selectable-card width-medium is-rounded"
  @cardTitle="Tokens"
  @total={{counters.totalTokens}}
  @subText="Total"
/>
