<div class="level">
  <div class="level-left">
    <span class="has-text-grey is-size-8 shamir-progress-progress">
      {{progress}}/{{threshold}} keys provided
    </span>
  </div>
  <div class="level-right is-marginless">
    <RadialProgress @progressDecimal={{progressDecimal}} />
  </div>
</div>
