{{input
  id=this.inputId
  type="checkbox"
  checked=isChecked
  change=(action "handleChange" value='target.checked')
  class=inputClasses
  disabled=this.disabled
}}
<label for={{this.inputId}} class="has-text-grey">{{yield}}</label>