{{input
  id=safeId
  name=name
  type="checkbox"
  checked=checked
  change=(action "handleChange" value='target.checked')
  class=inputClasses
  disabled=disabled
  data-test-toggle-input=name
}}
<label data-test-toggle-label={{name}} for={{safeId}}>{{yield}}</label>