<MessageInPage @type="danger">
  <div class="content">
    <p>
      Your auth token expired on {{moment-format auth.tokenExpirationDate 'MMMM Do YYYY, h:mm:ss a'}}. You will need to re-authenticate.
    </p>
  </div>
  <button type="button" class="button" {{action "reauthenticate"}}>
    Reauthenticate
  </button>
</MessageInPage>