{{#if (eq selectedAction 'rotate')}}
  {{#if key.canRotate}}
    {{#confirm-action
        buttonClasses="toolbar-button"
        onConfirmAction=(action "doSubmit")
        confirmMessage=(concat 'Are you sure you want to rotate "' key.id '"?')
        confirmButtonText="Confirm rotation"
        cancelButtonText="Cancel"
        messageClasses="is-block-mobile has-text-grey"
        data-test-transit-key-rotate=true
      }}
      Rotate encryption key
      <ICon @glyph="chevron-right" @size=12 />
    {{/confirm-action}}
  {{/if}}
{{else}}
  {{message-error errors=errors}}
  {{#if selectedAction}}
    <div data-test-transit-action={{selectedAction}}>
    {{partial (concat 'components/transit-key-action/' selectedAction)}}
    </div>
   {{/if}}
{{/if}}
