<div class="app-content {{if (and this.shouldRender this.featureComponent) 'wizard-open'}}">
  {{yield}}
</div>
{{#if this.featureComponent}}
  {{#component
    (if this.shouldRender this.tutorialComponent) onAdvance=(action "advanceWizard") onDismiss=(action "dismissWizard")
  }}
    {{component
      this.featureComponent
      componentState=this.componentState
      nextFeature=this.nextFeature
      nextStep=this.nextStep
      onDone=(action "finishFeature")
      onRepeat=(action "repeatStep")
      onReset=(action "resetFeature")
      onAdvance=(action "advanceFeature")
      currentRouteName=this.currentRouteName
    }}
  {{/component}}
{{/if}}