<div class="app-content {{if (and shouldRender featureComponent) "wizard-open"}}">
  {{yield}}
</div>
{{#component (if shouldRender tutorialComponent)
  onAdvance=(action "advanceWizard")
}}
{{component featureComponent componentState=componentState nextFeature=nextFeature onAdvance=(action "advanceFeature")}}
