<div class="app-content">
  {{yield}}
</div>
{{#component (if shouldRender tutorialComponent)
  onDismiss=(action "dismissWizard")
  onAdvance=(action "advanceWizard")
}}
{{component featureComponent componentState=componentState nextFeature=nextFeature onAdvance=(action "advanceFeature")}}

