<table class="is-fullwidth">
  <thead class="has-text-grey-dark has-text-weight-semibold">
    <tr>
      {{!-- {{#each Object.keys(data[0]) as |header|}}
        <td>{{header}}</td>
      {{/each}} --}}
    </tr>
  </thead>
  <tbody>
    {{#each data as |row|}}
      <tr>
        {{!-- {{#each Object.keys(row) as |value|}}
          <td>{{value}}</td>
        {{/each}} --}}
      </tr>
    {{/each}}
  </tbody>
</table>
