<div id="announcement-bnr">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-xs-12">
        <p>
          Announcing
          <a class="enterprise-logo" href="https://www.hashicorp.com/vault.html?utm_source=oss&utm_medium=top-banner&utm_campaign=vault">
            <%= partial "layouts/svg/svg-enterprise" %>
          </a>
          <span class="tagline">Secure Infrastructure Automation.</span>
          <a class="link-blue" href="https://www.hashicorp.com/vault.html?utm_source=oss&utm_medium=top-banner&utm_campaign=vault">
            Find out more <span class="hcaret"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
