<% @meganav_title = 'API Docs' %>

<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="nav docs-nav">
      <hashi-docs-sidenav
        category='api'
        current_page='<%= current_page.path %>'
        data="<%= encode(get_sidebar_data('api')) %>"
        order="<%= encode([
          'overview',
          'libraries',
          'relatedtools',
          '------------',
          {
            category: 'secret',
            content: [
              { category: 'ad' },
              { category: 'alicloud' },
              { category: 'aws' },
              { category: 'azure' },
              { category: 'consul' },
              { category: 'cubbyhole' },
              {
                category: 'databases',
                content: [
                  'cassandra',
                  'hanadb',
                  'mongodb',
                  'mssql',
                  'mysql-maria',
                  'postgresql',
                  'oracle'
                ]
              },
              { category: 'gcp' },
              { category: 'gcpkms' },
              {
                category: 'kv',
                content: ['kv-v1', 'kv-v2']
              }, {
                category: 'identity',
                content: [
                  'entity',
                  'entity-alias',
                  'group',
                  'group-alias',
                  'lookup'
                ]
              },
              { category: 'nomad' },
              { category: 'pki' },
              { category: 'rabbitmq' },
              { category: 'ssh' },
              { category: 'totp' },
              { category: 'transit' },
              '-----------------------',
              { category: 'cassandra' },
              { category: 'mongodb' },
              { category: 'mssql' },
              { category: 'mysql' },
              { category: 'postgresql' }
            ]
          }, {
            category: 'auth',
            content: [
            { category: 'approle' },
            { category: 'alicloud' },
            { category: 'aws' },
            { category: 'azure' },
            { category: 'github' },
            { category: 'gcp' },
            { category: 'jwt' },
            { category: 'kubernetes' },
            { category: 'ldap' },
            { category: 'okta' },
            { category: 'radius' },
            { category: 'cert' },
            { category: 'token' },
            { category: 'userpass' },
            { category: 'app-id' }
            ]
          }, {
            category: 'system',
            content: [
              'audit',
              'audit-hash',
              'auth',
              'capabilities',
              'capabilities-accessor',
              'capabilities-self',
              'config-auditing',
              'config-control-group',
              'config-cors',
              'config-ui',
              'control-group',
              'generate-root',
              'health',
              'init',
              'internal-specs-openapi',
              'internal-ui-mounts',
              'key-status',
              'leader',
              'leases',
              'license',
              'namespaces',
              {
                category: 'mfa',
                content: [
                  'duo',
                  'okta',
                  'pingid',
                  'totp'
                ]
              },
              'mounts',
              'plugins-reload-backend',
              'plugins-catalog',
              'policy',
              'policies',
              'raw',
              'rekey',
              'rekey-recovery-key',
              'remount',
              {
                category: 'replication',
                content: [
                  'replication-performance',
                  'replication-dr'
                ]
              },
              'rotate',
              'seal',
              'seal-status',
              'step-down',
              'tools',
              'unseal',
              'wrapping-lookup',
              'wrapping-rewrap',
              'wrapping-unwrap',
              'wrapping-wrap'
            ]
          }
        ]) %>")
      ></hashi-docs-sidenav>
    </div>
  <% end %>

  <article class='g-content vault'>
    <%= yield %>
  </article>
<% end %>
