<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("downloads-vault") %>>
        <a href="/downloads.html">Download Vault</a>
      </li>

      <li>
        <a href="/docs/install/index.html">Build from Source</a>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
