<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="nav docs-nav">
      <li<%= sidebar_current("downloads-vault") %>>
        <a href="/downloads.html">Download Vault</a>
      </li>

      <li>
        <a href="/docs/install/index.html">Build from Source</a>
      </li>

      <li>
        <a href="/intro/getting-started/install.html">Getting Started</a>
      </li>

      <li>
        <a href="/community.html">Community</a>
      </li>
    </div>
  <% end %>

  <%= yield %>
<% end %>
