<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="nav docs-nav">
      <hashi-docs-sidebar
        category='guides'
        current_page='<%= current_page.path %>'
        data="<%= encode(sidebar_data('guides')) %>"
        order="<%= encode([
          {
            category: 'getting-started',
          }, {
            category: 'operations',
            content: [
              'reference-architecture',
              'vault-ha-consul',
              'production',
              'generate-root',
              'rekeying-and-rotating',
              'plugin-backends',
              '--------------',
              'replication',
              'disaster-recovery',
              'mount-filter',
              'multi-tenant',
              'autounseal-aws-kms',
              'seal-wrap',
              'monitoring'
            ]
          }, {
            category: 'identity',
            content: [
              'secure-intro',
              'policies',
              'authentication',
              'approle-trusted-entities',
              'lease',
              'identity',
              '--------------',
              'sentinel',
              'control-groups'
            ]
          }, {
            category: 'secret-mgmt',
            content: [
              'static-secrets',
              'versioned-kv',
              'dynamic-secrets',
              'db-root-rotation',
              'cubbyhole',
              'ssh-otp',
              'pki-engine',
              'app-integration'
            ]
          }, {
            category: 'encryption',
            content: [
              'transit',
              'spring-demo',
              'transit-rewrap'
            ]
          }, {
            category: 'upgrading',
            content: [
            'upgrade-to-0.5.0',
            'upgrade-to-0.5.1',
            'upgrade-to-0.6.0',
            'upgrade-to-0.6.1',
            'upgrade-to-0.6.2',
            'upgrade-to-0.6.3',
            'upgrade-to-0.6.4',
            'upgrade-to-0.7.0',
            'upgrade-to-0.8.0',
            'upgrade-to-0.9.0',
            'upgrade-to-0.9.1',
            'upgrade-to-0.9.2',
            'upgrade-to-0.9.3',
            'upgrade-to-0.9.6',
            'upgrade-to-0.10.0',
            'upgrade-to-0.10.2',
            'upgrade-to-0.10.4',
            'upgrade-to-0.11.0',
            'upgrade-to-0.11.2'
            ]
          }
        ]) %>")
      ></hashi-docs-sidebar>
    </div>
  <% end %>

  <%= yield %>
<% end %>
