<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="nav docs-nav">
      <hashi-docs-sidenav
        category='intro'
        current_page='<%= current_page.path %>'
        data="<%= encode(get_sidebar_data('intro')) %>"
        order="<%= encode([
          {
            category: 'getting-started',
            content: [
              'dev-server',
              'first-secret',
              'secrets-engines',
              'dynamic-secrets',
              'help',
              'authentication',
              'policies',
              'deploy',
              'apis',
              'next-steps'
            ]
          }
        ]) %>")
      ></hashi-docs-sidebar>
    </div>
  <% end %>

  <article class='g-content vault'>
    <%= yield %>
  </article>
<% end %>
