.g-section-block.g-cta-section {
  -webkit-box-align: center;
  align-items: center;
  background: var(--vault-secondary);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: center;
  color: var(--black);

  & .g-btn.white {
    background: var(--white);
    border: 2px solid var(--white);
    color: var(--gray-2);

    &:hover {
      background-color: var(--gray-1);
      border-color: var(--gray-1);
      color: var(--white);

      & path {
        fill: var(--white);
      }
    }
  }

  & .g-btn.white-outline {
    background: none;
    border: 2px solid var(--white);
    color: var(--white);

    &:hover {
      background-color: var(--white);
      color: var(--gray-2);
    }
  }

  & .g-btn.download svg {
    margin: 0 4px -4px 0;
  }

  & .g-btn + .g-btn {
    margin-left: 18px;
  }
}
