<form {{on "submit" @onSave}} data-test-pki-config-import-form>
  <TextFile @subText="Upload a PEM bundle or certificate" @onChange={{this.onFileUploaded}} @label="Import" />
  {{yield}}
  <div class="field is-grouped box is-fullwidth is-bottomless">
    <div class="control">
      <button type="submit" class="button is-primary" data-test-pki-config-save>
        Done
      </button>
      <button {{on "click" @onCancel}} type="button" class="button has-left-margin-s" data-test-pki-config-cancel>
        Cancel
      </button>
    </div>
  </div>
</form>