<form {{on "submit" this.handleSave}} data-test-pki-config-import-form>
  <h3 class="title has-border-bottom-light page-header">Certificate parameters</h3>
  <TextFile @subText="Upload a PEM bundle or certificate" @onChange={{this.onFileUploaded}} @label="Import" />
  <p class="box is-fullwidth is-shadowless">Issuer URLs (Issuing certificates, CRL distribution points, OCSP servers, and
    delta CRL URLs) can be specified by editing the individual issuer once it is uploaded to Vault.</p>
  <div class="field is-grouped box is-fullwidth is-bottomless">
    <div class="control">
      <button type="submit" class="button is-primary" data-test-pki-config-save>
        Done
      </button>
      <button {{on "click" @onCancel}} type="button" class="button has-left-margin-s" data-test-pki-config-cancel>
        Cancel
      </button>
    </div>
  </div>
</form>