.g-footer {
  padding: 25px 0 17px 0;
  flex-shrink: 0;
  display: flex;

  & .g-grid-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  & a {
    color: var(--gray-3);
    transition: color 0.25s ease;
    cursor: pointer;
    display: inline-block;

    &:hover {
      color: black;
    }
  }

  & .left > a {
    margin-right: 20px;
    margin-bottom: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}
