{{#each model.policies as |policyName|}}
  {{#linked-block
    "vault.cluster.policy.show"
    "acl"
    item
    class="list-item-row"
  }}
    <div class="columns is-mobile">
      <div class="column is-10">
        {{#link-to "vault.cluster.policy.show" "acl" policyName
          class="is-block has-text-black has-text-weight-semibold"
          }}<span class="is-underline">{{policyName}}</span>
        {{/link-to}}
      </div>
      <div class="column has-text-right">
        {{#if model.canEdit}}
          {{identity/popup-policy params=(array model policyName)}}
        {{/if}}
      </div>
    </div>
  {{/linked-block}}
{{else}}
  <EmptyState
    @title="No policies associated with {{model.name}} yet"
  />
{{/each}}
