{{#if model.parentGroupIds.length}}
  {{#each model.parentGroupIds as |gid|}}
    {{#linked-block
      "vault.cluster.access.identity.show"
      "groups"
      gid
      details
      class="list-item-row"
    }}
      <div class="columns is-mobile">
        <div class="column is-10">
          {{#link-to "vault.cluster.access.identity.show" "groups" gid "details"
            class="is-block has-text-black has-text-weight-semibold"
          }}{{i-con
              glyph='folder'
              size=14
              class="has-text-grey-light"
              }}{{gid}}{{/link-to}}
        </div>
        <div class="column has-text-right">
        </div>
      </div>
    {{/linked-block}}
  {{/each}}
{{else}}
  <EmptyState
    @title="This group has no parent groups yet"
  />
{{/if}}
