{{#popup-menu name="member-edit-menu"}}
  <nav class="menu">
    <ul class="menu-list">
      <li class="action">
        {{#confirm-action
          confirmButtonClasses="button is-primary"
          confirmButtonText="Remove"
          buttonClasses="link"
          onConfirmAction=(action "performTransaction" model memberType id)
          confirmMessage=(concat "Are you sure you want to remove " id "?")
          showConfirm=(get this (concat "shouldDelete-" id))
          class=(if (get this (concat "shouldDelete-" id)) "message is-block is-warning is-outline")
          containerClasses="message-body is-block"
          messageClasses="is-block"
        }}
          Remove
        {{/confirm-action}}
      </li>
    </ul>
  </nav>
{{/popup-menu}}
