<PopupMenu @name="metadata-edit-menu">
  <nav class="menu">
    <ul class="menu-list">
      <li class="action">
        <ConfirmAction
          @confirmButtonClasses="button is-primary"
          @confirmButtonText="Remove"
          @buttonClasses="link is-destroy"
          @onConfirmAction={{action "performTransaction" model key }}
          @confirmMessage={{concat "Are you sure you want to remove " key "?"}}
          @showConfirm={{get this (concat "shouldDelete-" key)}}
          class={{ if (get this (concat "shouldDelete-" key)) "message is-block is-warning is-outline" }}
          @containerClasses="message-body is-block"
          @messageClasses="is-block"
          >
          Remove
        </ConfirmAction>
      </li>
    </ul>
  </nav>
</PopupMenu>
