{{#popup-menu name="member-edit-menu"}}
  <nav class="menu">
    <ul class="menu-list">
      <li class="action">
        <ConfirmAction
          @buttonClasses="link is-destroy"
          @confirmButtonText="Remove"
          @onConfirmAction={{action "performTransaction" model groupArray memberId}}
          @confirmMessage={{concat "Are you sure you want to remove " memberId "?"}}
        >
          Remove
        </ConfirmAction>
      </li>
    </ul>
  </nav>
{{/popup-menu}}
