{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PopupMenu @name="metadata-edit-menu">
  <nav class="menu" aria-label="navigation for managing identity metadata">
    <ul class="menu-list">
      <li class="action">
        <ConfirmAction
          @buttonText="Remove"
          @confirmTitle="Remove metadata?"
          @isInDropdown={{true}}
          @confirmMessage="This data may be used outside of Vault."
          @onConfirmAction={{action "performTransaction" this.model this.key}}
        />
      </li>
    </ul>
  </nav>
</PopupMenu>