<PopupMenu @name="metadata-edit-menu">
  <nav class="menu">
    <ul class="menu-list">
      <li class="action">
        <ConfirmAction
          @buttonClasses="link is-destroy"
          @confirmButtonText="Remove"
          @onConfirmAction={{action "performTransaction" model key }}
          @confirmMessage={{concat "Are you sure you want to remove " key "?"}}
        >
          Remove
        </ConfirmAction>
      </li>
    </ul>
  </nav>
</PopupMenu>
