{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<PopupMenu @name="member-edit-menu">
  <nav class="menu" aria-label="navigation for managing identity members">
    <ul class="menu-list">
      <li class="action">
        <ConfirmAction
          @buttonText="Remove"
          @confirmTitle="Remove this group?"
          @isInDropdown={{true}}
          @confirmMessage="This may affect permissions for this group."
          @onConfirmAction={{action "performTransaction" this.model this.groupArray this.memberId}}
        />
      </li>
    </ul>
  </nav>
</PopupMenu>