<div class="field">
  <label for="token" class="is-label">Token</label>
  <div class="control">
    {{input
      type="password"
      value=token
      name="token"
      class="input"
      autocomplete="off"
      data-test-token=true
    }}
  </div>
</div>
