//
// Mixins Specific to project
//  - make edits to mixins here
// --------------------------------------------------

// Variables

$header-font-family: $font-family-lato;
$project-logo-width: 114px;
$project-logo-height: 21px;
$project-logo-pad-left: 0px;

$blue: darken($blue, 5%);

// Mixins
@mixin project-a-style{
  font-size: 14px;
  font-weight: 400;
  color: $gray;

  &:hover{
    color: $blue;
  }
}

@mixin project-footer-a-style{
  &:hover{

  }
}

@mixin project-svg-external-links-style{
  svg path{
    fill: $black;
  }

  &:hover{
    svg path{
      fill: $blue;
    }
  }
}

@mixin project-by-hashicorp-style{
  @include transition(all 300ms ease-in);

  &:hover{
    @include transition(all 300ms ease-in);
    
    svg{
      .svg-bg-line{
        fill: $blue;
      }
    }
  }
}
