.container {
  composes: g-grid-container from global;
}

.callToAction {
  composes: container;
  margin-top: 64px;
  margin-bottom: 64px;

  @media (--medium-up) {
    margin-top: 132px;
  }
}

.videoCallout {
  composes: container;
  margin-top: 64px;
  margin-bottom: 64px;

  @media (--medium-up) {
    margin-top: 132px;
  }
}

.cards {
  margin-top: 64px;
  margin-bottom: 64px;
  composes: container;

  @media (--medium-up) {
    margin-top: 132px;
    margin-bottom: 132px;
  }
}
