<PageHeader as |p|>
  <p.levelLeft>
    <h1 class="title is-3">
      Multi-factor Authentication
    </h1>
  </p.levelLeft>
</PageHeader>

<Mfa::Nav />

<Toolbar>
  <ToolbarActions>
    <ToolbarLink
      @type="add"
      @params={{array "vault.cluster.access.mfa.enforcements.create"}}
      data-test-enforcement-create={{true}}
    >
      New enforcement
    </ToolbarLink>
  </ToolbarActions>
</Toolbar>

{{#if (gt this.model.length 0)}}
  {{#each this.model as |item|}}
    <Mfa::LoginEnforcementListItem @model={{item}} />
  {{/each}}
{{else}}
  <EmptyState @title="No enforcements found." @message="Add a new one to get started." />
{{/if}}