name: Bench

on:
  # This has been disabled due to excessive flakiness. The GHA is left here for easier re-implementation in case
  # we wanted to iterate on this in the future, or if we find benchmark tests that are more stable.
  # To re-enable, uncomment the pull request section and delete the workflow_dispatch line.
  workflow_dispatch:
  #  pull_request:
  #    types: [opened, synchronize, reopened, ready_for_review]
  #    branches:
  #      - main

jobs:
  bench:
    name: Bench
    runs-on: ${{ github.repository == 'hashicorp/vault' && 'ubuntu-latest' || fromJSON('["self-hosted","ubuntu-latest-x64"]') }}
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          fetch-tags: false
      - uses: ./.github/actions/metadata
        id: metadata
      - if: steps.metadata.outputs.is-ent-repo == 'true'
        id: vault-auth
        name: Vault Authenticate
        run: vault-auth
      - if: steps.metadata.outputs.is-ent-repo == 'true'
        id: vault-secrets
        name: Fetch Vault Secrets
        uses: hashicorp/vault-action@4c06c5ccf5c0761b6029f56cfb1dcf5565918a3b # v3.4.0
        with:
          url: ${{ steps.vault-auth.outputs.addr }}
          caCertificate: ${{ steps.vault-auth.outputs.ca_certificate }}
          token: ${{ steps.vault-auth.outputs.token }}
          secrets: |
            kv/data/github/${{ github.repository }}/github-token token | ELEVATED_GITHUB_TOKEN;
      - id: github-token
        run: |
          {
            echo 'elevated=${{ steps.metadata.outputs.is-ent-repo != 'true' && secrets.ELEVATED_GITHUB_TOKEN || steps.vault-secrets.outputs.ELEVATED_GITHUB_TOKEN }}'
          } | tee -a "$GITHUB_OUTPUT"
      - name: Set up go
        uses: ./.github/actions/set-up-go
        with:
          github-token: ${{ steps.github-token.outputs.elevated }}
      - name: Configure Git
        run: git config --global url."https://${{ steps.github-token.outputs.elevated }}:@github.com".insteadOf "https://github.com"
      - name: Install cob
        run: sh -s -- -b /usr/local/bin -d v0.0.8 < ./.github/scripts/install-cob.sh
      - name: Run Benchmark
        run: |
          cob --base ${{ github.event.pull_request.base.sha }} \
            -threshold 0.1 \
            -bench-args "test -bench . -benchtime 3s -benchmem -v ./vault/bench ${{ steps.metadata.outputs.is-ent-branch == 'true' && '-tags testonly,enterprise' || '-tags testonly'  }}"
