{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<Sidebar::Frame @showSidebar={{this.auth.isActiveSession}}>
  <div class="page-container">
    {{outlet}}
  </div>
  <BasicDropdownWormhole />
</Sidebar::Frame>