{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
~}}

<Sidebar::Frame @showSidebar={{this.auth.isActiveSession}}>
  <div class="page-container">
    {{outlet}}
  </div>
</Sidebar::Frame>